@import "src/app/variables.scss";

.QueryFilterTag {
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: $aleph-grid-size;
  margin-bottom: $aleph-grid-size;
  font-weight: bold;
  

  &.bp3-tag {
    background-color: $aleph-theme-intent;
  }

  a, a:hover {
    color: white;
    text-decoration: none;
  }
}
