.HomePage {
  background-image: url("../../assets/europe_asia_dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
  text-align: center;

  .search_h1 {
    color: white !important;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 4em;
  }

  .search_form {
    max-width: 50em;
    margin: 0 auto;
    padding-bottom: 5em;
  }

  .homepage_examples {
    position: relative;
    top: 52vh;
    left: 52%;
    display: flex;
  }

  .search_example_item {
    float: right;
  }
}
