pre {
  border: 0;
}
.close-area {
  margin-bottom: 1em;
}
.search-area {
  margin-top: 2em;
  margin-bottom: 2em;
}
.facet-active {
  color: red;
  font-weight: bold;
}
ul.results {
  list-style-type: none;
  padding: 0;
}
ul.results em {
  font-style: normal;
  font-weight: bold;
}
ul.results li.result {
  margin-bottom: 1.3em;
}
ul.results li.result .title {
  font-size: 1.2em;
  display: block;
}
ul.results li.result .source {
  font-size: 0.9em;
}
ul.results li.result .source a {
  color: green;
}
ul.results li.result .placeholder {
  color: #999;
}
ul.results li.result.active {
  background-color: #eee;
}
.table.table-details {
  table-layout: fixed;
}
.table.table-details th {
  width: 25%;
}
.table.table-details td {
  overflow: hidden;
  w-hite-space: nowrap;
  word-wrap: break-word;
}
