@import "src/app/variables.scss";

.alerts_title {
  font-size: $aleph-font-size * 1.7;
  margin: 0 0 $aleph-grid-size 0;
  padding-bottom: $aleph-grid-size;
  line-height: 1.5;
  padding-left: $aleph-grid-size * 1.5;
  float: left;
}

.title_div {
  width: 100%;
}

.add_topic {
  padding-left: $aleph-grid-size;
  padding-top: $aleph-grid-size * 2;
}

.add_topic_input {
  width: 84% !important;
}

.add_topic_div {
  width: 100%;
}

.alerts_button_div {
  width: 15% !important;
  float: right;
}

.header_alerts {
  width: 100%;
  display: inline-flex;
  padding-top: $aleph-grid-size * 2;
  padding-left: $aleph-grid-size;
}

.header_label {
  border-bottom: 1px solid $table-border;
  border-right: 1px solid $table-border;
  height: $aleph-font-size * 1.9;
  color: $table-header-color;
  font-size: $aleph-grid-size * 1.5;
  padding-bottom: $aleph-grid-size * 2.7;
}

.header_topic {
  width: 80%;
}

.header_delete_search {
  width: 10%;
  text-align: center;
}

.table_body_alerts {
  padding-left: $aleph-grid-size;
}

.table_item_alert {
  border-bottom: 1px solid $table-border;
  border-right: 1px solid $table-border;
  padding-bottom: $aleph-grid-size * 0.4;
}

.table_row {
  width: 100%;
  display: inline-flex;
}

