@import "app/variables.scss";

.FacetConfigDialog {
  &__section {
    margin-bottom: $aleph-grid-size*2;

    &:last-child {
      margin: 0;
    }

    &__title.bp3-heading {
      color: $blue1;
    }
  }

  &__add-property {
    margin-top: $aleph-grid-size;
  }

  .data-table td {
    vertical-align: middle;
  }

  tr:first-child > td {
    box-shadow: none !important;
  }

  tr:last-child > td {
    border-bottom: none !important;
  }

}
