@import "src/app/variables.scss";

.GroupSourcesScreen {
  .note {
    color: $aleph-greyed-text;
    margin-top: $aleph-grid-size;
    padding-bottom: $aleph-grid-size * 2;
  }

  ul.results {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .SignInCallout{
    margin-bottom: $aleph-grid-size;
  }
}
