@import "src/app/variables.scss";
@import "src/app/tables.scss";


.CaseIndexTable {
    @extend table.data-table;

    // width: 80%;
    // padding-top: 2em;
  
    th {
      background: none;
    }
  
    tr:hover {
      white-space: nowrap;
      background: $aleph-table-heading-background;
    }
  
    tbody tr td {
      border-bottom: none;
    }
  
    td {
      vertical-align: middle;
    }
  
  }
  