@import "src/app/variables.scss";
@import "~@blueprintjs/core/lib/scss/variables";
// @import "~@blueprintjs/core/src/components/button/button";

.CaseContext {
    .case-menu {
        padding-top: $aleph-grid-size / 2;
        padding-left: $aleph-grid-size;
        padding-right: $aleph-grid-size;

        box-shadow: $pt-elevation-shadow-1;
        overflow-x: hidden; // just in case.

        .CollectionLabel, .menu-item {
            color: white;
            display: inline-block;
            border-radius: $aleph-border-radius;
            padding-top: $aleph-grid-size / 2;
            padding-bottom: $aleph-grid-size / 2;
            margin-bottom: $aleph-grid-size / 2;
            padding-left: $aleph-grid-size;
            padding-right: $aleph-grid-size;
            text-decoration: none;

            .pt-icon {
                margin-right: $aleph-grid-size / 2;
            }
        }

        .CollectionLabel {
            font-weight: bold;
            margin-right: $aleph-grid-size * 2;
        }

        .menu-item {
            &:hover, &.active {
                background-color: rgba(#ffffff, 0.3);
                // margin-bottom: 0;
                // padding-bottom: $aleph-grid-size;
                // border-bottom-right-radius: 0;
                // border-bottom-left-radius: 0;
            }
        }
    }
}