/*
 * SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";

.MappingIndex {
  &__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 4*$aleph-grid-size 0;
  }
}
