@import 'src/app/variables.scss';

.HomePage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  padding: 4em 0;
  background-color: black;
  background-image: url("../../assets/europe_asia_dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;

  .outer-searchbox {
    display: table;
    position: absolute;
    height: 80%;
    width: 100%;
    padding: $aleph-grid-size * 2;
  }

  h4 {
    color: white !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .inner-searchbox {
    display: table-cell;
    vertical-align: middle;
  }

  .search-h1 {
    color: white !important;
    margin-bottom: 0.5em;
    font-size: 4em;
  }

  .top-three-group {
    display: inline-flex;
  }

  section {
    min-height: 95.5vh;
  }

  .browse-collection-label {
    color: white;
  }

  .homepage-summary {
    margin-bottom: 0.75em;
    font-size: $pt-font-size-large * 2.2;
    min-height: $pt-font-size-large * 3;
    color: white;
    
    > * {
      animation: fadein 2s;
    }
    
    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
  }

  .search-form {
    max-width: 50em;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .calls-to-action {
    .bp3-button {
      margin-left: $aleph-grid-size;
      margin-right: $aleph-grid-size;
    }
  }

}