@import 'src/app/variables.scss';

.HomePage {
  background-color: $aleph-banner-background; // fallback for when image is lacking.
  background-image: url("../../assets/europe_asia_dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 95.5vh;
  color: white;
  text-align: center;

  .outer_searchbox_div {
    display: table;
    position: absolute;
    height: 80%;
    width: 100%;
  }

  h4 {
    color: white !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .inner_searchbox_div {
    display: table-cell;
    vertical-align: middle;
  }

  .search_h1 {
    color: white !important;
    margin-bottom: 0.5em;
    font-size: 4em;
  }

  .top_three_group {
    display: inline-flex;
  }

  .homepage-summary {
    margin-bottom: 3em;
  }

  .search_form {
    max-width: 50em;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .homepage_collections_footer {
    height: 45px;
    background-color: #394b59;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    padding-top: 1em;

    a {
      color: white;
    }
  }

  .homepage_examples {
    position: relative;
    top: 52vh;
    left: 52%;
    display: flex;
  }
}