# SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
#
# SPDX-License-Identifier: MIT

build
ui
helm
aleph.env
aleph.egg-info
docker-compose.*
celerybeat-schedul*
contrib/allCountries.zip
.git
.vscode
.github
.travis.yml
.env
.tx