*.pyc
*.DS_Store
*.egg-info
*.sqlite3

.env
.vscode/*

aleph/static/.webassets-cache/*
aleph/static/assets/*
aleph/static/style/_custom.scss
build*
docs/_build
site*

ui/node_modules
ui/build
ui/**/*.css

celerybeat-schedule*
aleph.env
test_settings.py
.coverage

npm-debug.log*
.idea/aleph.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
ui/.idea/ui.iml
ui/.idea/workspace.xml
ui/.idea/modules.xml
ui/.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
ui/.idea/watcherTasks.xml
node_modules/isomorphic-fetch/.travis.yml
node_modules/isomorphic-fetch/bower.json
node_modules/whatwg-fetch/README.md
node_modules/whatwg-fetch/package.json
node_modules/whatwg-fetch/LICENSE
node_modules/whatwg-fetch/fetch.js
node_modules/ua-parser-js/test/os-test.json
node_modules/ua-parser-js/test/test.js
node_modules/ua-parser-js/test/engine-test.json
node_modules/ua-parser-js/test/mediaplayer-test.json
node_modules/ua-parser-js/test/cpu-test.json
node_modules/ua-parser-js/test/browser-test.json
node_modules/ua-parser-js/src/ua-parser.js
node_modules/ua-parser-js/test/device-test.json
node_modules/ua-parser-js/package.json
node_modules/ua-parser-js/package.js
node_modules/ua-parser-js/dist/ua-parser.min.js
node_modules/ua-parser-js/dist/ua-parser.pack.js
node_modules/ua-parser-js/bower.json
node_modules/ua-parser-js/.travis.yml
node_modules/ua-parser-js/.npmignore
node_modules/tslib/tslib.js
node_modules/ua-parser-js/readme.md
node_modules/ua-parser-js/dist/ua-parser.html
node_modules/tslib/tslib.es6.js
node_modules/tslib/tslib.es6.html
node_modules/tslib/tslib.d.ts
node_modules/tslib/README.md
node_modules/tslib/LICENSE.txt
node_modules/tslib/package.json
node_modules/tslib/CopyrightNotice.txt
node_modules/tslib/.npmignore
node_modules/*
