*.pyc
*.DS_Store
*.egg-info
*.sqlite3

.env
settings.py

aleph/static/.webassets-cache/*
aleph/static/assets/*
aleph/static/vendor/*
aleph/static/style/_custom.scss
docs/build/*

celerybeat-schedule.db
aleph.env
test_settings.py
.coverage
