*.pyc
*.DS_Store
*.egg-info
*.sqlite3
__pycache__

.env
.vscode/*

build*

ui/node_modules
ui/build
ui/i18n/messages.json
ui/i18n/messages.pot
ui/**/*.css

celerybeat-schedule*
aleph.env
test_settings.py
.coverage

npm-debug.log*
.idea/
ui/.idea/
node_modules/*
