# Aleph environment configuration
#
# This file is loaded by docker-compose and transformed into a set of
# environment variables inside the containers. These are, in turn, parsed
# by aleph and used to configure the system.

# Debug mode (insecure)
ALEPH_DEBUG=false
ALEPH_QUEUE=true

# Read-only mode:
ALEPH_MAINTENANCE=false

# Random string:
ALEPH_SECRET_KEY=

# Enable HTTP caching
ALEPH_CACHE=true

# Visible instance name in the UI
ALEPH_APP_TITLE=Aleph
# Name needs to be a slug, as it is used e.g. for the ES index, SQS queue name:
ALEPH_APP_NAME=aleph
ALEPH_FAVICON=https://investigativedashboard.org/static/favicon.ico
ALEPH_APP_URL=https://example.com
ALEPH_URL_SCHEME=https
ALEPH_LOGO=http://assets.pudo.org/img/logo_bigger.png

# Other customisations
ALEPH_SAMPLE_SEARCHES=Vladimir Putin:TeliaSonera

# Set email addresses, separated by colons, that will be made admin.
ALEPH_ADMINS=friedrich@pudo.org:demo@pudo.org

# Login modalities (OAuth may require a custom settings.py file)
ALEPH_PASSWORD_LOGIN=true
ALEPH_PASSWORD_REGISTRATION=true

# LDAP Support.
# For testing, it uses the public server from Forumsys
# Make sure you set the port back to 389 if you want to test it.
ALEPH_LDAP_HOST='ldap.forumsys.com'
ALEPH_LDAP_PORT='389389'
ALEPH_LDAP_BASE_DN='uid={},dc=example,dc=com'
ALEPH_LDAP_USERNAME='ignored since we will not be searching'
ALEPH_LDAP_PASSWORD='ignored since we will not be searching'

# Where and how to store the underlying files:
ALEPH_ARCHIVE_TYPE=file
ALEPH_ARCHIVE_PATH=/data

# Or, if 'ALEPH_ARCHIVE_TYPE' configuration is 's3':
# ALEPH_ARCHIVE_BUCKET=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=

# If you wish to use the graph component, provide a dataset
# mappings YAML file.
# ALEPH_DATASETS=/path/to/file.yml

# Content options
ALEPH_DEFAULT_LANGUAGE=en
# ALEPH_LANGUAGES=en:de:fr:es:tr:ar ...

# Enable string-based entity extraction
ALEPH_REGEX_ENTITIES=true

# Disable scheduled crawling
ALEPH_DISABLE_CRAWLERS=false

# Automatically trigger OCR on PDF pages with large images
ALEPH_PDF_OCR_PAGES=true

# To enable Apache Tika:
# ALEPH_TIKA_URI=

# Use Amazon SQS for task queueing:
# ALEPH_BROKER_URI=sqs://

# Provide a valid email to send alerts from:
ALEPH_MAIL_FROM=
ALEPH_MAIL_HOST=
ALEPH_MAIL_ADMIN=
ALEPH_MAIL_USERNAME=
ALEPH_MAIL_PASSWORD=
ALEPH_MAIL_PORT=25
ALEPH_MAIL_USE_TLS=false
