### Aleph configuration file.

ALEPH_APP_TITLE=Aleph
# Name needs to be a slug, as it is used e.g. for the ES index, SQS queue name:
ALEPH_APP_NAME=aleph
ALEPH_FAVICON=https://investigativedashboard.org/static/favicon.ico
ALEPH_APP_URL=
ALEPH_LOGO=http://assets.pudo.org/img/logo_bigger.png

# Random string:
ALEPH_SECRET_KEY=
ALEPH_URL_SCHEME=http

# Expects Google OAuth credentials to be set up:
ALEPH_OAUTH_KEY=
ALEPH_OAUTH_SECRET=

# Where and how to store the underlying files:
ALEPH_ARCHIVE_TYPE=file
# ALEPH_ARCHIVE_BUCKET=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=

# Use Amazon SQS for task queueing:
# ALEPH_BROKER_URI=sqs://

# Or, if 'ALEPH_ARCHIVE_TYPE' configuration is 'file':
ALEPH_ARCHIVE_PATH=/data

# Provide a valid email to send alerts from:
MAIL_FROM=
MAIL_HOST=
MAIL_ADMIN=
MAIL_USERNAME=
MAIL_PASSWORD=
