version: "2"

services:
  postgres:
    image: postgres:10.0
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER:     aleph
      POSTGRES_PASSWORD: aleph
      POSTGRES_DATABASE: aleph

  elasticsearch:
    image: alephdata/platform-elasticsearch:2.1.4
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

  rabbitmq:
    image: rabbitmq
    hostname: queue
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  convert-document:
    build: services/convert-document
    restart: on-failure
    tmpfs:
      - /tmp
      - /root/.config
    mem_limit: 2g
    expose:
      - 3000

  extract-entities:
    build: services/extract-entities
    restart: on-failure
    mem_limit: 4g
    expose:
      - 50000

  extract-countries:
    build: services/extract-countries
    restart: on-failure
    mem_limit: 2g
    expose:
      - 50000

  worker:
    build: .
    command: celery -A aleph.queues -B -c 4 -l INFO worker
    restart: on-failure
    links:
      - postgres
      - elasticsearch
      - rabbitmq
      - convert-document
      - extract-entities
      - extract-countries
    tmpfs:
      - /tmp
    volumes:
      - archive-data:/data
      - "/:/host"
    env_file:
      - aleph.env
  
  shell:
    build: .
    command: /bin/bash
    links:
      - postgres
      - elasticsearch
      - rabbitmq
      - convert-document
      - extract-entities
      - extract-countries
      - worker
    tmpfs:
      - /tmp
    volumes:
      - archive-data:/data
      - "./mappings:/aleph/mappings"
      - "/:/host"
    env_file:
      - aleph.env

  beat:
    build: .
    command: celery -A aleph.queues beat -s /var/lib/celerybeat-schedule.db
    links:
      - postgres
      - elasticsearch
      - rabbitmq
      - worker
      - convert-document
      - extract-entities
      - extract-countries
    tmpfs:
      - /tmp
    volumes:
      - archive-data:/data
    env_file:
      - aleph.env

  api:
    build: .
    command: gunicorn -w 8 -b 0.0.0.0:8000 --log-level info --log-file /var/log/gunicorn.log aleph.manage:app
    expose:
      - 8000
    links:
      - postgres
      - elasticsearch
      - rabbitmq
      - worker
    tmpfs:
      - /tmp
    volumes:
      - archive-data:/data
    env_file:
      - aleph.env

  ui:
    build: ui
    command: /bin/bash -c "npm run build; tail -f /dev/null"
    volumes:
      - assets:/alephui/build
    environment:
      REACT_APP_API_ENDPOINT: '/api/2'

  web:
    image: nginx:alpine
    links:
      - api
      - ui
    ports:
      - "8080:8080"
    volumes:
      - assets:/assets
      - "./contrib/proxy.conf:/etc/nginx/nginx.conf"

volumes:
  assets: {}
  archive-data: {}
  postgres-data: {}
  rabbitmq-data: {}
  elasticsearch-data: {}