
postgres:
  image: postgres:9.4
  volumes:
    - "/srv/data/postgres:/var/lib/postgresql/data"
    - "/srv/logs/postgres:/var/log"
  environment:
    POSTGRES_USER:     aleph
    POSTGRES_PASSWORD: aleph
    POSTGRES_DATABASE: aleph
  # ports:
  #  - "127.0.0.1:5433:5432"

elasticsearch:
  image: elasticsearch:2.2.0
  volumes:
    - "/srv/data/elasticsearch:/usr/share/elasticsearch/data"
    - "/srv/logs/elasticsearch:/var/log"
  # ports:
  # - "127.0.0.1:9201:9200"
  environment:
    ES_HEAP_SIZE: 4g

worker:
    build: .
    command: celery -A aleph.queue worker -c 10 -l INFO --logfile=/var/log/celery.log
    links:
      - postgres
      - elasticsearch
    volumes:
      - "/srv/data:/srv/data/"
      - "/srv/logs/worker:/var/log"
    environment:
      C_FORCE_ROOT: true
      ALEPH_ELASTICSEARCH_URI: http://elasticsearch:9200/
      ALEPH_DATABASE_URI: postgresql://aleph:aleph@postgres/aleph
      EXTRACTORS_CACHE_DIR: /srv/data/extractors
      TESSDATA_PREFIX: /usr/share/tesseract-ocr
    env_file:
      - aleph.env

web:
    build: .
    command: gunicorn -w 5 -b 0.0.0.0:8000 --log-level info --log-file - aleph.manage:app
    ports:
      - "13376:8000"
    links:
      - postgres
      - elasticsearch
    volumes:
      - "/srv/data/:/srv/data/"
      - "/srv/data/live/aleph-logs/worker:/var/log"
    environment:
      ALEPH_ELASTICSEARCH_URI: http://elasticsearch:9200/
      ALEPH_DATABASE_URI: postgresql://aleph:aleph@postgres/aleph
    env_file:
      - aleph.env
