Flask==1.1.1
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.7.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Cors==3.0.8
Flask_Babel==0.12.2
flask-talisman==0.7.0
SQLAlchemy==1.3.12
alembic==1.3.2
authlib==0.13

elasticsearch==7.5.1
marshmallow==2.19.2
gunicorn==20.0.4
jsonschema==3.2.0
apispec==3.2.0
apispec-webframeworks==0.5.2
blinker==1.4
Babel==2.8.0
PyYAML==5.3
pyjwt==1.7.1
rdflib==4.2.2
requests[security]==2.22.0
urllib3==1.25.7
redis==3.3.11
fakeredis==1.1.0
networkx==2.4
zipstream==1.1.4
fasttext==0.9.1
tabulate==0.8.6

grpcio==1.26.0
google-cloud-storage==1.25.0
google-cloud-logging==1.14.0

# Testing dependencies
factory-boy==2.12.0
Faker==4.0.0
nose
coverage
coveralls

# Tracing and logging libraries
python-json-logger==0.1.11
