Flask==0.10.1
Flask-Assets==0.10
Flask-Admin==1.4.0
Flask-Migrate==1.8.0
flask-oauthlib
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-Testing==0.4.2
Flask-Fixtures==0.3.3
Flask-Mail==0.9.1
SQLAlchemy==1.0.11
celery>=3.1.17
elasticsearch==2.1.0
psycopg2
cssutils
lxml
normality>=0.1
nose
boto3
boto
requests>=2.5.1
apikit
six
unicodecsv
urlnorm
gunicorn
Unidecode==0.04.17
networkx
XlsxWriter==0.6.6
https://github.com/pudo/messytables/tarball/allow-parser-args
https://github.com/pudo/extractors/tarball/master
https://github.com/pudo/krauler/tarball/master
https://github.com/pudo/metafolder/tarball/master
langid==1.1.5
babel
pdfminer==20140328
pyDBF==0.1
pycountry==1.18
chardet==2.3.0
rarfile==2.7
xlrd==0.9.3
jsonschema
functools32
pyyaml
dateparser
jdatetime==1.7.2
coverage
