Flask==1.0.2
Flask-OAuthlib==0.9.5
Flask-SQLAlchemy==2.3.2
Flask-Script==2.0.6
Flask-Testing==0.7.1
Flask-Fixtures==0.3.7
Flask-Mail==0.9.1
Flask-Migrate==2.2.1
Flask-Cors==3.0.6
Flask_Babel==0.11.2
SQLAlchemy==1.2.10
alembic==1.0.3

celery==4.2.1
elasticsearch==6.3.1
marshmallow==2.15.4
psycopg2-binary==2.7.4
gunicorn==19.9.0
blinker==1.4
Babel==2.6.0
PyYAML==3.13
PyICU==2.2.0
chardet==3.0.4
cchardet==2.1.4
regex==2018.8.29
pyahocorasick==1.1.10
cryptography==2.4.1
pylru==1.1.0
pyjwt==1.6.4
rdflib==4.2.2
idna==2.7.0
requests[security]==2.20.1
redis==2.10.6
grpcio==1.14.0
google-cloud-vision
google-cloud-storage
networkx==2.2
msgpack==0.5.6

# Error reporting
raven[flask]

# Testing dependencies
factory-boy==2.10.0
fakeredis>=0.13.0.1
Faker==0.8.13
nose
flexmock==0.10.2
coverage
coveralls

# Duplicative for speed of docker builds
lxml==4.2.5
xlrd==1.1.0
phonenumbers==8.10.0
python-levenshtein==0.12.0
openpyxl==2.5.3
dbf==0.97.11
python-dateutil==2.6.1
python-magic==0.4.15
odfpy==1.3.6
olefile==0.46
-e git://github.com/alephdata/flanker.git@65eb960f1eaa1fe2925b03f3740e2eff3c21dafc#egg=flanker
ply==3.11

# Not entirely sure why this is needed:
# urllib3==1.23

# Tracing and logging libraries
opencensus==0.1.9
google-cloud-trace==0.20.0
python-json-logger==0.1.10