Flask==0.11.1
Flask-OAuthlib==0.9.2
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-Testing==0.4.2
Flask-Fixtures==0.3.3
Flask-Mail==0.9.1
Flask-Migrate==1.8.0
SQLAlchemy==1.0.13
alembic==0.8.6

# celery==4.0.1
git+https://github.com/alanhamlett/celery.git@73147a9da31f2932eb4778e9474fbe72f23d21c2#egg=Celery

elasticsearch==5.3.0
psycopg2==2.6.2
Pillow==3.2.0
tesserwrap==0.1.6
lxml==3.3.5
boto3==1.4.1
requests>=2.5.1
apikit==0.3.2
six
unicodecsv==0.9.4
gunicorn==19.6.0
Unidecode==0.04.17
networkx==1.9.1
XlsxWriter==0.6.6
messytables==0.15.2
krauler>=0.2.2
metafolder==0.1.2
polyglot==16.7.4
langid==1.1.5
blinker==1.4
Babel==2.3.4
pyDBF==0.1
rarfile==2.7
xlrd==0.9.3
jsonschema==2.6.0
PyYAML==3.11
PyICU==1.9.5
chardet==2.3.0
cchardet==1.1.1
jdatetime==1.8.1
coverage
pyahocorasick==1.1.4
pycrypto==2.6.1
pylru==1.0.9
https://github.com/mattgwwalker/msg-extractor/archive/2a24c9950d34932ed5979693cb70d758d78715df.zip#egg=extractmsg
flask-simpleldap==1.1.0

# weird pudo stuff
cronosparser>=0.2
fingerprints>=0.3.2
normality>=0.4.2
dalet>=1.1

# Python 3 backports
subprocess32
functools32>=3.2

# Docs
# -r requirements-docs.txt

# Testing
-r requirements-testing.txt
