# To run the tests, make sure to set up valid values in here,
# copy the file to ``test_settings.py`` and set the env
# variable ALEPH_TEST_SETTINGS to point at the renamed file.

SQLALCHEMY_DATABASE_URI = 'postgresql://localhost/aleph_test'
ELASTICSEARCH_INDEX = 'aleph_test'
