aenum==2.2.1
asn1crypto==0.24.0
Babel==2.7.0
balkhash==1.0.1
banal==0.4.2
boto3==1.9.241
botocore==1.12.241
cachetools==3.1.1
cchardet==2.1.4
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
countrynames==1.6.0
coverage==4.5.4
cryptography==2.7
Cython==0.29.13
dbf==0.98.3
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
fakeredis==1.0.3
followthemoney==1.21.2
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-core==1.0.3
google-cloud-storage==1.20.0
google-cloud-vision==0.39.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
grpcio==1.24.0
idna==2.6
IMAPClient==2.1.0
isodate==0.6.0
jdcal==1.4.1
jmespath==0.9.4
keyring==17.1.1
keyrings.alt==3.1.1
languagecodes==1.0.5
lxml==4.4.1
msglite==0.25.0
networkx==2.3
normality==2.0.0
nose==1.3.7
odfpy==1.4.0
olefile==0.46
openpyxl==3.0.0
pantomime==0.3.3
pdflib==0.2.1
phonenumbers==8.10.20
Pillow==6.2.0
plyvel==1.1.0
protobuf==3.9.2
psycopg2-binary==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
pycrypto==2.6.1
PyICU==2.3.1
pymediainfo==4.1
pyOpenSSL==19.0.0
pyparsing==2.4.2
PyPDF2==1.26.0
python-dateutil==2.8.0
python-Levenshtein==0.12.0
python-magic==0.4.15
python-stdnum==1.11
pytz==2019.2
pyxdg==0.25
PyYAML==5.1.2
rarfile==3.1
rdflib==4.2.2
redis==3.2.1
requests==2.22.0
rsa==4.0
s3transfer==0.2.1
SecretStorage==2.3.1
servicelayer==1.8.4
six==1.12.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.8
stringcase==1.2.0
tesserocr==2.4.0
text-unidecode==1.3
urllib3==1.25.6
urlnormalizer==1.2.5
vobject==0.9.6.1
xlrd==1.2.0
