banal==0.4.2
normality==2.0.0
pantomime==0.4.0
servicelayer[google,amazon]==1.10.0
balkhash[leveldb,sql]==1.2.1
followthemoney==1.27.5
languagecodes==1.0.5
countrytagger==0.1.2
psycopg2-binary==2.8.4
pyicu==2.4.2

grpcio==1.27.2
google-cloud-vision==1.0.0
google-cloud-storage==1.26.0

tesserocr==2.5.0
spacy==2.2.4
fingerprints==0.6.6
fasttext==0.9.1

# Development
nose==1.3.7
click==7.1.1

# File format support
dbf==0.98.3
pdflib==0.2.1
pymediainfo==4.1
python-magic==0.4.15
pypdf2==1.26.0
rarfile==3.1
xlrd==1.2.0
openpyxl==3.0.3
odfpy==1.4.1
cchardet==2.1.5
lxml==4.5.0
olefile==0.46
pillow==7.0.0
vobject==0.9.6.1
msglite==0.27.0

cryptography==2.8
requests[security]==2.23.0