@import "src/app/variables.scss";

.ViewsMenu {
  flex: 1;
  background-color: rgba(92,112,128,0.5);
  @media screen and (max-width: $aleph-screen-md-max-width) {
    flex: 2;
  }
  display: flex;
  flex-direction: column;

  .pt-button {
    background-color: rgba(92,112,128,0.5) !important;
    color: white !important;
  }
}