@import "src/app/variables.scss";

.ViewsMenu {
  flex: 1;
  background-color: $views-menu-background-color;
  display: flex;
  flex-direction: column;

  .pt-button {
    background-color: $views-menu-background-color !important;
    color: $aleph-content-background !important;

    .pt-icon-standard {
      color: $aleph-content-background;
    }
  }
}

.ViewsMenu.FullPage {
  flex: 0;
}