@import "src/app/variables.scss";

.ViewsMenu {
  width: 45px;
  background-color: $views-menu-background-color;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .pt-button {
    background-color: $views-menu-background-color !important;
    color: $aleph-content-background !important;

    .pt-icon-standard {
      color: $aleph-content-background;
    }
  }

  .view-item-button {
    background-color: rgba(92, 112, 128, 0.5);
    border-radius: 0px;
    border: 0.5px solid rgba(92, 112, 128, 0.5);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2b665e;
  }

  .view-item-button:hover:enabled {
    background-color: #5c7080;
  }

  .view-item-button:hover:disabled {
    cursor: not-allowed;
  }

  .view-item-button.active:enabled {
    background-color: #5c7080;
  }

  .badge-item {
    transition: none !important;
    transform: none !important;
    top: -10px !important;
    right: -13px !important;
    font-size: 9px !important;
    margin-top: 2px;
    margin-right: 2px;
    padding: 3px 4px !important;
  }
}

.info-tabs-padding {
  padding: $aleph-grid-size;
  width: 100%;
  i {
    margin-right: $aleph-grid-size * 0.5;
  }
}

