@import "src/app/variables.scss";

.SearchFilter {
  margin-bottom: $aleph-grid-size * 2;
}

.search-input {
  position: relative;

  & > .pt-input[type="search"] {
    border-radius: $aleph-border-radius;
  }
}

.search-query {
  display: flex;
  flex-wrap: wrap;

  & > div {
    margin-right: $aleph-grid-size;
    margin-bottom: $aleph-grid-size;
  }
}

.search-query__text {
  flex-grow: 1;
  min-width: 20em;
}

.search-query__active-filters {
  margin-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & > span {
    margin: 2px;
  }
}

