@import "src/app/variables.scss";

.CollectionEditInfo {
  .label_class {
    padding-left: $aleph-grid-size;
    margin-top: $aleph-grid-size * - 0.2 !important;
  }

  .label_group {
    padding-left: $aleph-grid-size;
    padding-top: $aleph-grid-size;
  }

  .label_icon_group {
    display: inline-flex;
  }

  .input_class {
    width: 100% !important;
  }

  .multiple_select_input {
    width: 100%;
  }

}