@import "src/app/variables.scss";

.CollectionEditInfo {
  .label-class {
    padding-left: $aleph-grid-size;
    margin-top: $aleph-grid-size * - 0.2 !important;
  }

  .label-group {
    padding-left: $aleph-grid-size;
    padding-top: $aleph-grid-size;
  }

  .label-icon-group {
    display: inline-flex;
  }

  .input-class {
    width: 100% !important;
  }

  .multiple-select-input {
    width: 100%;
  }

}