@import "src/app/variables.scss";

.CollectionEditContent {
  .addUserForm {
    display: flex;
    padding: ($aleph-grid-size * 2) $aleph-grid-size;

    .addUserInput {
      flex-grow: 1;
    }

    .addUserButton {
      width: 8em;
    }

    .multiple_select_input {
      width: 100%;
    }
  }
}