@import "~@blueprintjs/core/dist/variables";

.search-filter-facet .search-filter-list {
  color: $dark-gray1;
  width: 250px;
  overflow: auto;
  max-height: 50vh;
}

.search-filter-list {
    list-style: none;
    margin: 0;
    padding: ($pt-grid-size / 2) 0;
  }
  
  .search-filter-list-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: ($pt-icon-size-standard + $pt-grid-size * 1.5);
    padding-right: ($pt-grid-size / 2);
    cursor: pointer;
  
    & > .search-tick {
      position: absolute;
      left: ($pt-grid-size / 2);
      line-height: $pt-line-height;
    }
  
    & > span {
      margin: ($pt-grid-size / 2);
  
      &:last-child {
        color: $gray1;
      }
    }
  
    &:hover {
      background-color: $gray5;
    }
  }
  