@import "src/app/variables.scss";

.search-filter-facet .search-filter-list {
  width: 250px;
  overflow: auto;
  max-height: 50vh;
}

.search-filter-list {
    list-style: none;
    margin: 0;
    padding: ($aleph-grid-size / 2) 0;
  }
  
  .search-filter-list-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: ($pt-icon-size-standard + $aleph-grid-size * 1.5);
    padding-right: ($aleph-grid-size / 2);
    cursor: pointer;
  
    & > .search-tick {
      position: absolute;
      left: ($aleph-grid-size / 2);
      line-height: $aleph-line-height;

      &::before {
        //content: $pt-icon-tick;
      }

      opacity: 0.1;
      &.is-ticked {
        transition: opacity 0.2s ease-out;
        opacity: 1;
      }
    }

    .search-filter-list-label {
      overflow-y: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    & > span {
      margin: ($aleph-grid-size / 2);
  
      &:last-child {
        color: $gray1;
      }
    }
  
    &:hover {
      background-color: $aleph-hover-background;
    }
  }
  