/*
 * SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";

.DatasetIndexScreen {
  .note {
    color: $aleph-greyed-text;
    margin-top: $aleph-grid-size;
    padding-bottom: $aleph-grid-size * 2;
  }
}
