@import "src/app/variables.scss";

span.no-value {
    color: $aleph-greyed-text;
}

.ValueLink {
  a {
    text-decoration: none !important;
  }

  .Count {
    margin-left: 5px;
    cursor: help;
  }
}
