@import 'src/app/variables.scss';

.Statistics {
  display: inline-block;

  &.bp3-callout.dark {
    background-color: white;
    // border: 1px solid $aleph-border-color;
  }

  &__list {
    list-style: none;
    padding: unset;
  }

  &__headline {
    color: white !important;
    text-align: left;

    .dark & {
      color: $blue1 !important;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;

    a, .bp3-button {
      color: $aleph-content-background !important;
      width: 100%;
      text-align: left;
      padding: 3px;
      transition: background-color .1s ease-out;

      &:hover {
        text-decoration: none;
        background-color: #ffffff38;

        .dark & {
          background-color: #ebf1f5;
        }
      }

      .dark & {
        color: black !important;
      }
    }

    .bp3-button {
      box-shadow: none !important;
      background: none !important;
      border-radius: 0;
      min-height: 25px;
      justify-content: left;
    }

    a > .value {
      float: right;
      color: $aleph-greyed-text;

    }
  }
}
