<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Create a collection of documents and entities</h4>
</div>

<form class="form" role="form" name="createCollection" ng-submit="save(createCollection)">
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error': createCollection.label.$invalid}">
      <!-- label class="control-label" for="label">Label</label-->
      <div class="">
        <input type="text" class="form-control input-lg" id="label" name="label"
          ng-model="collection.label" ng-minlength="4" ng-required="true" ng-trim="true"
          placeholder="My collection">
        <p class="help-block">
          Choose a name for this project, entity watchlist or collection of documents.
        </p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="!canSave()">Create</button>
  </div>
</form>

