<span class="entity-icon" uib-tooltip="{{schema}}"
  tooltip-append-to-body="true" tooltip-placement="left">
  <i class="fa fa-question-circle"
    ng-if="schema=='/entity/asset.json#'"></i>
  <i class="fa fa-question-circle"
    ng-if="schema=='/entity/building.json#'"></i>
  <i class="fa fa-question-circle"
    ng-if="schema=='/entity/asset.json#'"></i>
  <i class="fa fa-suitcase"
    ng-if="schema=='/entity/company.json#'"></i>
  <i class="fa fa-university"
    ng-if="schema=='/entity/organization.json#'"></i>
  <i class="fa fa-user"
    ng-if="schema=='/entity/person.json#'"></i>
  <i class="fa fa-user"
    ng-if="schema=='/entity/entity.json#'"></i>
</span>
