<div class="jumbotron">
  <h1>{{statistics.document_count | number}} gazettes</h1>
  <p class="teaser">from 2000 to 2016 available.</p>
  <div class="search-area">
    <form class="form-horizontal" role="search" ng-submit="submitSearch(form)">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" autofocus ng-model="query.q" placeholder="Search across documents and data sources">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
      <p class="sample-searches">
        Try searches:
        <span ng-repeat="sample in metadata.app.samples">
          <span ng-if="$last">or</span>
          <a href="/search?q={{::sample}}">{{::sample}}</a><span ng-if="!$last">,</span>
        </span>
      </p>
    </form>
  </div>
</div>

<div class="home screen">
  <div class="row">
    <div class="col-md-6 feature">
      <h2>
        <i class="fa fa-file-text"></i>
        Search it all
      </h2>
      <p>
        {{metadata.app.title}} lets you search across
        <a href="/collections">{{statistics.collection_count | number}} collections
        of South African gazettes</a> from opengazettes.org.za.
      </p>
    </div>
    <div class="col-md-6 feature">
      <h2>
        <i class="fa fa-bell"></i>
        E-Mail Alerts
      </h2>
      <p>
        As new material gets added, you can stay informed about
        any additional matches for your previous searches by
        setting up e-mail alerts.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 feature">
      <h2>
        <i class="fa fa-users"></i>
        Persons of Interest
      </h2>
      <p>
        Gazettes are cross-referenced with persons and companies by ID and CIPC numbers respectively.
      </p>
    </div>
  </div>

  <!--div class="row">
    <div class="col-md-12 feature">
      <h3>
        Document sources
      </h3>
      <p>
        {{statistics.collection_count | number}} collections are searched
        at the moment. This includes

        They are grouped into
        {{statistics.collection_count | number}} collections:
        <span ng-repeat="collection in statistics.collections">
          <a href="">{{collection.count | number}}
            {{collection.category | collectionCategory}}</a><span ng-if="!$last">,</span>
        </span>
        Please contact us to suggest other document and data sets.

        Please contact us to suggest other document and data sets.
      </p>
      <p>

      </p>
  </div-->
</div>
