<div class="jumbotron">
  <h1>{{::statistics.documents_count + statistics.entities_count | number}} leads</h1>
  <p class="teaser">for your investigations</p>
</div>

<div class="home screen">
  <div class="row">
    <div class="col-md-4 feature">
      <h2>
        <i class="fa fa-fw fa-file-text"></i>
        Search documents
      </h2>

      <p>
        Search documents from previous investigations, official sources, and
        scraped websites.
      </p>

      <form class="form-horizontal actions" role="search" ng-submit="searchDocuments(form)">
        <div class="input-group">
          <input type="text" class="form-control" autofocus ng-model="documentsQuery.q"
            placeholder="{{::statistics.documents_count | number}} documents">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
          </span>
        </div>
        <p class="context">
          Examples:
          <span ng-repeat="sample in metadata.app.samples">
            <span ng-if="$last">or</span>
            <a href="/documents?q={{::sample}}">{{::sample}}</a><span ng-if="!$last">,</span>
          </span>,
          or <a href="/documents/sources">browse sources</a>.
        </p>
      </form>


    </div>

    <div class="col-md-4 feature">
      <h2>
        <i class="fa fa-fw fa-user-secret"></i>
        Track people and companies
      </h2>
      <p>
        Registries, leaks and sanctions lists help you to find persons of
        interest and their assets.
      </p>

      <form class="form-horizontal actions" role="search" ng-submit="searchEntities(form)">
        <div class="input-group">
          <input type="text" class="form-control" autofocus ng-model="entitiesQuery.q"
            placeholder="{{::statistics.entities_count | number}} people and companies">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
          </span>
        </div>
        <p class="context">
          <a href="/datasets">Browse databases</a>.
        </p>
      </form>


    </div>

    <div class="col-md-4 feature">
      <h2>
        <i class="fa fa-fw fa-address-book"></i>
        Manage your research
      </h2>
      <p>
        Upload your own documents, manage entity watchlists and find leads
        for your story.
      </p>

      <div class="actions" ng-if="::authz.logged_in()">
        <div class="btn-group btn-group-justified" role="group">
          <a ng-click="createCollection($event)" class="btn btn-primary">
            <i class="fa fa-fw fa-plus"></i>
            New collection
          </a>
          <a href="/collections" class="btn btn-default">
            Browse collections
            <i class="fa fa-fw fa-chevron-right"></i>
          </a>
        </div>
        <p class="context">
          <a ng-click="manageAlerts($event)">Manage your e-mail alerts</a>.
        </p>
      </div>

      <div class="actions" ng-if="::!authz.logged_in()">
        <div class="btn-group btn-group-justified" role="group">
          <a ng-click="triggerLogin()" class="btn btn-primary">
            <i class="fa fa-fw fa-sign-in"></i>
            Sign in for watchlists and alerts
          </a>
        </div>
        <p class="context">
          Anyone can sign up for a free account.
        </p>
      </div>

    </div>
  </div>
</div>
