<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" ng-hide="isUploading()">Upload files</h4>
  <h4 class="modal-title" ng-show="isUploading()">Uploading...</h4>
</div>

<form role="form" name="uploadForm" ng-submit="upload(uploadForm)">
  <div class="modal-body" ng-hide="isUploading()">
    <div class="form-group">
      <label class="control-label" for="collection">
        Files
      </label>
      <div class="input-group">
        <input type="text" class="form-control" readonly="readonly" ng-value="getFileText()">
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary"
            ngf-select ng-model="files" ngf-multiple="true"
            ngf-keep="'distinct'">Add</button>
        </div>
      </div>
      <p class="help-block">
        Select documents, spreadsheets, presentations, 
        email archives or zip packages.
      </p>
    </div>

    <div class="form-group">
      <label class="control-label" for="countries">
        Countries
      </label>
      <div class="">
        <ui-select multiple ng-model="document.countries">
          <ui-select-match placeholder="Select country...">{{$item.value}}</ui-select-match>
          <ui-select-choices repeat="country.key as (key, country) in metadata.countries | filter: {'value': $select.search}">
            <div ng-bind-html="country.value | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <p class="help-block">
        Facilitates the extraction of country-specific information, 
        such as phone numbers.
      </p>
    </div>

    <div class="form-group">
      <label class="control-label" for="languages">
        Languages
      </label>
      <div class="">
        <ui-select multiple ng-model="document.languages">
          <ui-select-match placeholder="Select language...">{{$item.value}}</ui-select-match>
          <ui-select-choices repeat="lang.key as (key, lang) in metadata.languages | filter: {'value': $select.search}">
            <div ng-bind-html="lang.value | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div class="modal-body" ng-show="isUploading()">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{progress}}%;">
      </div>
    </div>
    <p class="help-block">
      After upload, documents will be processed and analysed. It will take a
      while for them to show up in searches.
    </p>
  </div>

  <div class="modal-footer" ng-hide="isUploading()">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="!canUpload()">Upload</button>
  </div>
</form>

