<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Delete: {{list.label}}</h4>
</div>

<div class="modal-body">
  <p>Deleting the list <strong>{{list.label}}</strong> will also delete
  all entities associated with this list. Are you sure?</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="submit" class="btn btn-danger" ng-click="delete()">Delete</button>
</div>
