
<lists-frame list="list" selected="edit">
  <form class="form-horizontal" role="form" name="editList" ng-submit="save(editList)">
    <div class="row">
      <div class="col-md-6">   
        <div class="form-group" ng-class="{'has-error': editList.label.$invalid}">
          <label class="col-sm-3 control-label" for="label">Label</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="label" name="label" ng-model="list.label"
              placeholder="The list's label">
            <p class="help-block" ng-show="editList.label.$invalid" ng-bind="editList.label.$message"></p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="list.public"> Publicly visible
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary"
              ng-disabled="!canSave()">Save</button>
            <button type="button" ng-click="delete()" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <table class="table table-condensed">
          <tr>
            <th colspan="2">Users who have access</th>
          </tr>
          <tr ng-repeat="user in users.results">
            <td width='1%'>
              <input type="checkbox" ng-checked="hasUser(user.id)"
                ng-click="toggleUser(user.id)">
            </td>
            <td>{{user.display_name}}</td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</lists-frame>
