
<lists-frame list="list" selected="entities">
  <form class="search-bar" ng-submit="filter()">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-search"></i>
          </div>
          <input type="text" class="form-control"
            ng-model="query.prefix"
            placeholder="Filter by name">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button">
              <i class="fa fa-plus-square"></i> New
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>


  <table class="table table-striped">
    <tr>
      <th colspan="2">Name</th>
      <th>Aliases</th>
      <th width="10%"></th>
    </tr>
    <tr ng-repeat="entity in entities.results">
      <td width="1%">
        <entity-icon category="entity.category"></entity-icon>
      </td>
      <td width="30%">
        {{ entity.label }}
      </td>
      <td>
        {{ entity.selectors.join(', ') }}
      </td>
      <td width="10%" class="actions">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-default">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="delete(entity)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </table>
  <aleph-pager class="pull-right" response="entities" load="loadUrl(url)"></aleph-pager>
</lists-frame>
