<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Sign in</h4>
</div>

<div class="modal-body">
  <div class="text-center">
    <p><a href="/api/1/sessions/login/facebook" class="btn btn-default login-facebook" target="_self">Sign in with Facebook</a></p>
    <p><a href="/api/1/sessions/login/google" class="btn btn-default login-google" target="_self">Sign in with Google</a></p>
    <p><a href="/api/1/sessions/login/twitter" class="btn btn-default login-twitter" target="_self">Sign in with Twitter</a></p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
