<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Sign in</h4>
</div>

<div class="modal-body">
  <div class="text-center">
    <p ng-repeat="provider in providers">
      <a href="/api/1/sessions/login/{{ provider.name }}" class="btn btn-default login-{{ provider.name }}" target="_self">Sign in with {{ provider.label }}</a>
    </p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
