<table class="table roles">
  <tbody ng-repeat="type in types">
    <tr>
      <th>{{type.label}}</th>
      <th width="10%">
        <span ng-show="$first">View</span>
      </th>
      <th width="10%">
          <span ng-show="$first">Edit</span>
      </th>
    </tr>
    <tr ng-repeat="role in getActiveRoles() | filter:{type: type.type}">
      <td>
        {{role.name}}
      </td>
      <td class="numeric">
        <input type="checkbox" ng-model="role.read" ng-change="markDirty(role)">
      </td>
      <td class="numeric">
        <input type="checkbox" ng-model="role.write"
          ng-disabled="role.foreign_id == 'guest'"
          ng-change="markDirty(role)">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <input type="input" class="form-control"
          placeholder="Grant access to more users..."
          ng-model="newRole"
          uib-typeahead="role as role.name for role in findRoles($viewValue)"
          typeahead-on-select="addRole($item, $model)"
          typeahead-editable="false">
      </td>
      <td colspan="2">
      </td>
    </tr>
  </tfoot>
</table>
