<div class="row">
  <div class="col-md-9">
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{'active': query.mode == 'table'}">
        <a ng-click="setMode('table')">
          Documents <span class="badge">{{result.total || '0'}}</span>
        </a>
      </li>
      <li role="presentation" ng-class="{'active': query.mode == 'graph'}">
        <a ng-click="setMode('graph')">Actor network</a>
      </li>
    </ul>

    <div class="alert alert-warning" ng-show="!result.total">
      No results were found.
      <span ng-show="!session.logged_in">
        You may need to log in before you can see more results.
      </span>
    </div>

    <div ng-show="query.mode == 'table'">
      <div ng-controller="SearchListCtrl">
        <div infinite-scroll="loadMore()" infinite-scroll-disabled="!hasMore()"
          infinite-scroll-distance="3">
          <div class="result animate toggle" ng-repeat="doc in result.results">
            <a ng-href="{{doc.source.site}}" target="_self" class="source">{{doc.source.label}}</a>
            <a ng-href="{{doc.source_url}}" target="_self" class="title">{{doc.title}}</a>
            <span class="archive">
              [<a ng-href="{{doc.archive_url}}" target="_self">cached</a>]
            </span>
            <span class="summary">{{doc.summary}}</span>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="query.mode == 'graph'">
      <div ng-controller="SearchGraphCtrl">
        <div id="graph">
          <svg></svg>
        </div>
        <div class="alert alert-warning" ng-show="partial">
          For clarity, only the {{partial.shown}} most well-connected entities 
          are shown out of a network of {{partial.total}}.
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">People, Companies, etc.</div>    
      <ul class="list-group facet-list">
        <li class="list-group-item facet animate toggle"
          ng-repeat="entity in result.facets.entities"
          ng-class="{'active': hasFilter('entity', entity.key)}"
          ng-click="toggleFilter('entity', entity.key)">
          <span class="badge">{{entity.doc_count}}</span>
          <entity-icon category="entity.entity.category"></entity-icon>
          <span class="lbl">{{entity.entity.label}}</span>
        </li>
      </ul>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="pull-right">
          <a href="/collections" ng-show="session.logged_in">
            <i class="fa fa-cog"></i>
          </a>
        </span>
        Document collections
      </div>
      <ul class="list-group facet-list">
        <li class="list-group-item facet animate toggle"
          ng-repeat="facet in result.facets.collections"
          ng-class="{'active': hasFilter('collection', facet.key)}"
          ng-click="toggleFilter('collection', facet.key)">
          <span class="badge">{{facet.doc_count}}</span>
          <span class="lbl">{{collections[facet.key].label}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
