
<form class="form-inline" ng-submit="update()">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control col-md-10"
        ng-model="query.q" placeholder="Search for...">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>


<div class="table-responsive">
  <table class="table table-condensed table-bordered">
    <tr ng-repeat="doc in result.results">
      <td>
        <a ng-href="{{doc.source_site}}" target="_self">{{doc.source_label}}</a>
      </td>
      <td>
        <a ng-href="{{doc.source_url}}" target="_self">{{doc.title}}</a>
        (<a ng-href="{{doc.archive_url}}" target="_self">cached</a>)

        <span class="summary">{{doc.summary}}</span>
      </td>
    </tr>
  </table>
</div>
