<div search-frame result="result">

  <div infinite-scroll="loadMore()" infinite-scroll-disabled="!hasMore()"
    infinite-scroll-distance="3">
    <div class="result animate toggle" ng-repeat="doc in result.results">
      <a ng-href="" target="_self"
         tooltip="Loaded on {{doc.updated_at.split('T')[0]}}"
         tooltip-append-to-body="true"
         tooltip-placement="right" class="source">
        {{queryContext.sources[doc.collection].label || doc.collection}}
      </a>
      <a ng-href="{{doc.url || doc.source_url}}" target="_self" class="title">
        {{doc.title | characters: 90 }}
      </a>
      <span class="archive">
        [<a ng-href="{{doc.archive_url}}" target="_self">cached</a>]
      </span>
      <span class="summary">{{doc.summary}}</span>
    </div>
  </div>

</div>
