<div class="row">
  <div class="col-md-9">
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{'active': query.mode() == 'table'}">
        <a ng-href="/search?{{ query.queryString() }}">
          Documents <span class="badge">{{result.total || ''}}</span>
        </a>
      </li>
      <li role="presentation" ng-class="{'active': query.mode() == 'graph'}">
        <a ng-href="/search/graph?{{ query.queryString() }}">Actor network</a>
      </li>
      <li role="presentation" ng-class="{'active': query.mode() == 'export'}">
        <a ng-href="/search/export?{{ query.queryString() }}">Export</a>
      </li>
    </ul>

    <div class="alert alert-warning" ng-show="result.limit > 0 && !result.total">
      No results were found.
      <span ng-show="!session.logged_in">
        You may need to log in before you can see more results.
      </span>
    </div>

    <div ng-transclude></div>
  </div>

  <div class="col-md-3">

    <div class="panel panel-default" ng-repeat="id in query.load().listfacet">
      <div class="panel-heading">
        <span class="pull-right">
          <a ng-href="/lists/{{id}}/entities" ng-show="session.logged_in">
            <i class="fa fa-cog"></i>
          </a>
          <a ng-click="query.toggleFilter('listfacet', id)">
            <i class="fa fa-close"></i>
          </a>
        </span>
        List: {{lists[id].label}}
        <span class="label label-warning" ng-hide="result.facets && result.facets.lists && result.facets.lists[id] && result.facets.lists[id].length">no options</span>
      </div>
      <ul class="list-group facet-list">
        <li class="list-group-item facet animate toggle"
          ng-repeat="entity in result.facets.lists[id]"
          ng-class="{'active': query.hasFilter('entity', entity.key)}"
          ng-click="query.toggleEntityFilter(entity.key, id)">
          <span class="badge">{{entity.doc_count}}</span>
          <entity-icon category="entity.entity.category"></entity-icon>
          <span class="lbl" tooltip="{{entity.entity.label.length > 35 ? entity.entity.label : ''}}"
            tooltip-append-to-body="true" tooltip-placement="left">
            {{entity.entity.label | characters: 35 }}
          </span>
        </li>
      </ul>
    </div>

    <div class="panel panel-default" ng-repeat="attr in query.load().attributefacet">
      <div class="panel-heading">
        <span class="pull-right">
          <a ng-click="query.toggleFilter('attributefacet', attr)">
            <i class="fa fa-close"></i>
          </a>
        </span>
        Attribute: {{attr}}
        <span class="label label-warning" ng-hide="result.facets && result.facets.attributes && result.facets.attributes[attr] && result.facets.attributes[attr].length">no options</span>
      </div>
      <ul class="list-group facet-list">
        <li class="list-group-item facet animate toggle"
          ng-repeat="af in result.facets.attributes[attr]"
          ng-class="{'active': query.hasFilter('attribute-' + attr, af.key)}"
          ng-click="query.toggleFilter('attribute-' + attr, af.key)">
          <span class="badge">{{af.doc_count}}</span>
          <span class="lbl" tooltip="{{af.key.length > 35 ? af.key : ''}}"
            tooltip-append-to-body="true" tooltip-placement="left">
            {{af.key | characters: 35 }}
          </span>
        </li>
      </ul>
    </div>

    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle"
          dropdown-toggle>
          <i class="fa fa-list-alt"></i>
          Add filters
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="(id, list) in queryContext.lists"
            ng-show="showListFacet(id)">
            <a ng-click="query.toggleFilter('listfacet', id)"
              ng-bind="list.label"></a>
          </li>
          <li class="divider"></li>
          <li ng-repeat="(attr, d) in queryContext.attributes.attributes"
            ng-show="showAttributeFacet(attr)">
            <a ng-click="query.toggleFilter('attributefacet', attr)"
              ng-bind="attr"></a>
          </li>
        </ul>
      </div>
    </div>
    <br/>

    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="pull-right">
          <a href="/sources" ng-show="session.logged_in">
            <i class="fa fa-cog"></i>
          </a>
        </span>
        Document sources
      </div>
      <ul class="list-group facet-list">
        <li class="list-group-item facet animate toggle"
          ng-repeat="facet in result.facets.sources"
          ng-class="{'active': query.hasFilter('source', facet.key)}"
          ng-click="query.toggleFilter('source', facet.key)">
          <span class="badge">{{facet.doc_count}}</span>
          <span class="lbl">
            {{sources[facet.key].label | characters: 20 }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

