
<div class="panel panel-default panel-facet panel-facet-scroll">
  <div class="panel-heading">
    <span class="pull-right">
      <a class="btn btn-xs btn-default" ng-click="createEntity($event)"
          ng-if="authz.logged_in()">
        <i class="fa fa-plus"></i> New
      </a>
    </span>
    <strong>Persons and Companies</strong>
  </div>
  <ul class="list-group">
    <li class="list-group-item empty" ng-if="!result.facets.entities.values.length">
      No persons and companies found in these documents.
    </li>
    <li class="list-group-item animate toggle"
      ng-repeat="entity in entityFacet track by entity.id"
      ng-class="{'active': query.hasField('entity', entity.id)}"
      ng-click="query.toggle('entity', entity.id)">
      <span class="badge">
        {{entity.count | number}}
        <a ng-click="editEntity(entity, $event)" ng-if="::authz.entityWrite(entity)">
          <i class="fa fa-cog"></i>
        </a>
      </span>
      <entity-icon schema="entity.$schema"></entity-icon>
      <span class="lbl">
        {{::entity.name | characters:35 }}
      </span>
    </li>
  </ul>
</div>

<div class="panel panel-default panel-facet panel-facet-scroll"
  ng-repeat="facet in facets track by facet.field">
  <div class="panel-heading">
    <span class="pull-right">
      <a ng-click="query.toggle('facet', facet.field)">
        <i ng-if="!facet.active" class="fa fa-caret-square-o-down" aria-hidden="true"></i>
        <i ng-if="facet.active" class="fa fa-caret-square-o-up" aria-hidden="true"></i>
      </a>
    </span>
    <strong>{{::facet.label}}</strong>
  </div>
  <ul class="list-group" ng-if="facet.active">
    <li class="list-group-item facet empty" ng-if="!facet.values.length">
      No documents with {{facet.label}} metadata.
    </li>
    <li class="list-group-item animate toggle"
      ng-repeat="val in facet.values track by val.id"
      ng-class="{'active': query.hasFilter(facet.field, val.id)}"
      ng-click="query.toggleFilter(facet.field, val.id)">
      <span class="badge">{{val.count | number}}</span>
      <span class="lbl" uib-tooltip="{{val.label}}" tooltip-append-to-body="true" tooltip-placement="left">
        {{::val.label | characters:35 }}
      </span>
    </li>
  </ul>
</div>
