<div search-frame result="result">

  <div infinite-scroll="loadMore()" infinite-scroll-disabled="!hasMore()"
    infinite-scroll-distance="3">
    <div class="result animate toggle" ng-repeat="doc in result.results">
      <a ng-href="" target="_self"
         uib-tooltip="Loaded on {{doc.updated_at.split('T')[0]}}"
         tooltip-append-to-body="true"
         tooltip-placement="right" class="source">
        {{metadata.sources[doc.source_id].label || doc.source_id}}
      </a>
      <a ng-href="{{doc.source_url || doc.data_url}}" target="_self" class="title">
        {{doc.title | characters: 90 }}
      </a>
      <span class="summary">{{doc.summary}}</span>
    </div>
  </div>

</div>
