<div search-frame result="result">

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Document metadata
        </div>
        <div class="panel-body">
          <p>
            You can download links and other meta data for all documents
            matching your search criteria.
          </p>
          <p>
            Below, select the fields you want to include. Exports will never
            include the full document.
          </p>
        </div>

        <table class="table">
          <tr>
            <th colspan="2">Core fields</th>
          </tr>
          <tr ng-repeat="(a, k) in attributes.fields">
            <td width="1%">
              <input type="checkbox" ng-checked="query.hasFilter('attribute', a)"
                ng-click="query.toggleFilter('attribute', a, true)">
            </td>
            <td>
              {{a}}
            </td>
          </tr>
          <tr ng-show="attributes.has_attributes">
            <th colspan="2">Extra attributes</th>
          </tr>
          <tr ng-repeat="(a, k) in attributes.attributes">
            <td width="1%">
              <input type="checkbox" ng-checked="query.hasFilter('attribute', a)"
                ng-click="query.toggleFilter('attribute', a, true)">
            </td>
            <td>
              {{a}}
            </td>
          </tr>
        </table>

        <div class="panel-body">
          <a class="btn btn-primary"
            ng-href="/api/1/query/export?{{query.queryString()}}"
            download target="_self">
            <i class="fa fa-cloud-download"></i>
            Download {{result.total}} records (xlsx)
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Actor network data
        </div>
        <div class="panel-body">
          <p>
            Network data can be used to further explore the connections
            between entities. Each link indicates two entities occuring 
            in the same document. If multiple documents indicate a
            connection, a weight is included in the data.
          </p>

          <div class="form-group">
            <label for="limit">Number of nodes to include</label>
            <select class="form-control" id="limit" ng-model="graph.limit"
              ng-options="a for a in graph.options">
            </select>
          </div>

          <hr/>

          <a ng-href="/api/1/graph?format=gexf&limit={{graph.limit}}&{{query.queryString()}}" class="btn btn-primary" target="_self"
          download="actors.gexf">
            <i class="fa fa-cloud-download"></i>
            Download Graph Exchange XML (GEXF)
          </a>
          <p class="help-block">
            This data format is suited for import into <a href="http://gephi.org">Gephi</a>, an open source network analysis tool (intermediate). 
          </p>

          <hr/>

          <a ng-href="/api/1/graph?format=json&limit={{graph.limit}}&{{query.queryString()}}" class="btn btn-primary" target="_self"
          download="actors.json">
            <i class="fa fa-cloud-download"></i>
            Download D3 network (JSON)
          </a>
          <p class="help-block">
            This data format is suited for data visualizations using <a href="http://d3js.org">data-driven documents (d3)</a>, a powerful JavaScript library (expert). 
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
