<ol class="breadcrumb">
  <li>
    <a href="/">Home</a>
  </li>
  <li ng-class="{'active': !source}">
    <a href="/sources">Document sources</a>
  </li>
  <li ng-show="source.label && !source.fresh" class="active">
    {{source.label}}
  </li>
  <li ng-show="source.fresh" class="active">
    Create a new source
  </li>
</ol>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="(slug, src) in sources"
          ng-class="{'active': src.slug == source.slug,
                     'disabled': !src.can_write}">
        <a ng-href="/#/sources/{{src.slug}}" ng-show="src.can_write">
          {{src.label}}
        </a>
        <a ng-hide="src.can_write">
          {{src.label}}
        </a>
      </li>
      <li ng-class="{'active': source.fresh}">
        <a href="/#/sources/new">
          <i class="fa fa-plus-square"></i> New source
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9" ng-transclude>
  </div>
</div>
