
<sources-frame source="source">

  <form class="form-horizontal" role="form" name="newSource" ng-submit="save(newSource)">

    <div class="form-group" ng-class="{'has-error': newSource.label.$invalid}">
      <label class="col-sm-2 control-label" for="label">Label</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="label" name="label" ng-model="source.label"
          placeholder="The source's label">
        <p class="help-block" ng-show="newSource.label.$invalid" ng-bind="newSource.label.$message"></p>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': newSource.slug.$invalid}">
      <label class="col-sm-2 control-label" for="slug">Path</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="slug" name="slug" ng-model="source.slug" placeholder="machine-readable-title" ng-focus="stopSlug()">
        <p class="help-block" ng-show="newSource.slug.$invalid" ng-bind="newSource.slug.$message"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="crawler">Crawler</label>
      <div class="col-sm-10">
        <div class="radio" ng-repeat="c in crawlers.results">
          <label>
            <input type="radio" name="crawler" value="{{c.name}}"
              ng-model="source.crawler">
            {{c.label}}
          </label>
        </div>
      </div>
    </div>
     
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button type="submit" class="btn btn-primary"
          ng-disabled="!canSave()">Save</button>
      </div>
    </div>

  </form>
</source-frame>
