
<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs" ng-if="doc.tables.length > 1">
      <li ng-repeat="tbl in doc.tables" ng-class="{'active': tbl.sheet == table.sheet}">
        <a href="#/tabular/{{doc.id}}/{{tbl.sheet}}" ng-bind="tbl.sheet_name"></a>
      </li>
    </ul>
    <div class="data-table">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th ng-repeat="col in table.columns" data-type="{{col.type}}">
              {{col.label}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in rows.results" ng-class="{'highlight': isHighlighted(row)}">
            <td ng-repeat="col in table.columns" ng-class="getClass(row, col)" ng-bind-html="formatCell(row, col)"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
        <div class="pull-right">
          <response-pager response="rows" load="loadOffset(offset)"></response-pager>
        </div>
        <div class="pagination">
          {{rows.total | number}} rows found.
        </div>
      </div>
  </div>

  <div class="col-md-4">
    <form class="form-horizontal pages-query" ng-submit="updateQuery()">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control"
          ng-model="textQuery"
          placeholder="Search within this dataset">
      </div>
    </form>

    <metadata-sidebar doc="doc"></metadata-sidebar>
  </div>
</div>
