
<div class="row">
  <div class="col-md-8">  
    <ng-pdf template-url="text_viewer.html" canvasid="pdf" scale="page-fit"
      page="{{pageNum}}"  ng-hide="loading"></ng-pdf>
  </div>

  <div class="col-md-4">
    <form class="form-horizontal pages-query" ng-submit="updateTextQuery()">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control"
          ng-model="textQuery"
          placeholder="Search within this document">
      </div>
      <div class="pages-list" ng-show="pages.total">
        <table class="table">
          <tr ng-repeat="page in pages.results" ng-class="{'selected': pageNum == page.page}">
            <th width="1%">
              <a ng-click="setPage(page.page)">pg.&nbsp;{{page.page}}</a>
            </th>
            <td>
              <span ng-bind-html="page.snippet"></span>
            </td>
          </tr>
        </table>
      </div>
    </form>

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Metadata</strong>
      </div>
      <table class="table">
        <tr ng-if="doc.title">
          <th>Title</th>
          <td>{{doc.title}}</td>
        </tr>
        <tr>
          <th>Source</th>
          <td>{{doc.source.label}}</td>
        </tr>
        <tr ng-if="doc.author">
          <th>Author</th>
          <td>{{doc.author}}</td>
        </tr>
        <tr ng-if="doc.languages && doc.languages.length">
          <th>Languages</th>
          <td>
            <span ng-repeat="lang in doc.languages">
              {{getLanguageLabel(lang)}}<span ng-if="!$last">;</span>
            </span>
          </td>
        </tr>
        <tr ng-if="doc.countries && doc.countries.length">
          <th>Countries</th>
          <td>
            <span ng-repeat="cc in doc.countries">
              {{getCountryLabel(cc)}}<span ng-if="!$last">;</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>Updated</th>
          <td>{{doc.updated_at | date}}</td>
        </tr>
        <tr ng-if="doc.summary">
          <th>Summary</th>
          <td>{{doc.summary}}</td>
        </tr>
        <tr ng-if="doc.source_url">
          <th>Source&nbsp;URL</th>
          <td><a ng-href="{{doc.source_url}}" target="_new">{{doc.source_url | host}}</a></td>
        </tr>
        <tr ng-if="doc.file_name">
          <th>File</th>
          <td><code>{{doc.file_name}}</code></td>
        </tr>
        <tr ng-if="doc.mime_type">
          <th>Type</th>
          <td><code>{{doc.mime_type}}</code></td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="btn-group" role="group">
              <a ng-href="/api/1/documents/{{doc.id}}/file" download="{{doc.file_name}}" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download original
                <span ng-if="doc.extension">
                  ({{doc.extension}})
                </span>
              </a>
              <a ng-if="doc.type =='textual' && !doc.is_pdf"
                ng-href="/api/1/documents/{{doc.id}}/pdf" download="{{doc.file_name}}.pdf" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download PDF
              </a>
            </div>
          </td>
      </table>
    </div> 
  </div>
</div>
