
<div class="btn-toolbar" role="toolbar">
  <button class="btn btn-default" ng-click="backToSearch()">
    <i class="fa fa-chevron-left"></i>
    Back to search
  </button>
  <div class="btn-group" role="group">
    <button class="btn btn-default" ng-click="goPrevious()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button class="btn btn-default" disabled="disabled">
      Page {{pageNum}} of {{pageCount}}
    </button>
    <button class="btn btn-default" ng-click="goNext()">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>

<canvas id="pdf" class="rotate0"></canvas>
