<ol class="breadcrumb">
  <li>
    <a href="/#/">Home</a>
  </li>
  <li>
    Lists of people and companies
  </li>
  <li ng-show="watchlist" class="active">
    {{watchlist.label}}
  </li>
</ol>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="wl in watchlists.results"
          ng-class="{'active': watchlist.id == wl.id}">
        <a href="/#/watchlists/{{wl.id}}/entities">
          <i class="fa fa-list"></i> {{wl.label}}
        </a>
      </li>
      <li ng-class="{'active': watchlist.new}">
        <a href="/#/watchlists/new">
          <i class="fa fa-plus-square"></i> Create a new watchlist
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <ul class="nav nav-tabs" ng-show="selected">
      <li role="presentation" ng-class="{'active': selected == 'entities'}">
        <a href="/#/watchlists/{{watchlist.id}}/entities">Manage people and companies</a>
      </li>
      <li role="presentation" ng-class="{'active': selected == 'edit'}">
        <a href="/#/watchlists/{{watchlist.id}}">Settings</a>
      </li>
    </ul>
    <div ng-transclude></div>
  </div>
</div>
