apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.global.namingPrefix }}-ingest-file
  labels:
    app: {{ .Values.global.namingPrefix }}-ingest-file
spec:
  selector:
    matchLabels:
      app: {{ .Values.global.namingPrefix }}-ingest-file
  strategy: {{- toYaml .Values.ingestfile.strategy | nindent 4 }}
  template:
    metadata:
      labels:
        app: {{ .Values.global.namingPrefix }}-ingest-file
      annotations: {{- toYaml .Values.ingestfile.podAnnotations | nindent 8 }}
    spec:
      nodeSelector: {{- toYaml .Values.ingestfile.nodeSelector | nindent 8 }}
      restartPolicy: Always
      securityContext: {{- toYaml .Values.ingestfile.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds:
        {{ .Values.ingestfile.terminationGracePeriodSeconds }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.ingestfile.image.repository }}:{{ .Values.ingestfile.image.tag }}"
          imagePullPolicy: {{ .Values.ingestfile.image.pullPolicy }}
          command:
            - ingestors
            - process
          volumeMounts:
            {{ if .Values.global.google }}
            - mountPath: /var/secrets/google
              name: service-account-aleph
            {{ end }}
            - mountPath: /tmp
              name: tmp-volume
            - mountPath: /home/app
              name: home-volume
          securityContext:
            {{- toYaml .Values.ingestfile.containerSecurityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.ingestfile.containerResources | nindent 12 }}
          envFrom:
            - secretRef:
                name: aleph-secrets
          env:
            {{- range $key, $value := .Values.global.commonEnv }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- range $key, $value := .Values.ingestfile.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{ if .Values.global.google }}
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /var/secrets/google/service-account.json
            {{ end }}
            {{ if .Values.global.prometheus.enabled }}
            - name: PROMETHEUS_ENABLED
              value: "true"
            {{ end }}
      volumes:
        {{ if .Values.global.google }}
        - name: service-account-aleph
          secret:
            secretName: service-account-aleph
        {{ end }}
        - name: tmp-volume
          emptyDir: {}
        - name: home-volume
          emptyDir:
            medium: Memory
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Values.global.namingPrefix }}-ingest-file
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Values.global.namingPrefix }}-ingest-file
  minReplicas: {{.Values.ingestfile.hpa.minReplicas}}
  maxReplicas: {{.Values.ingestfile.hpa.maxReplicas}}
  metrics: {{- toYaml .Values.ingestfile.hpa.scalingMetrics | nindent 4}}
---
{{ if .Values.global.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.global.namingPrefix }}-ingest-file
  labels:
    app: {{ .Values.global.namingPrefix }}-ingest-file
spec:
  selector:
    app: {{ .Values.global.namingPrefix }}-ingest-file
  ports:
    - port: 9100
      targetPort: 9100
      protocol: "TCP"
      name: metrics
{{ end }}
---
{{ if .Values.global.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.global.namingPrefix }}-ingest-file
  labels:
    app: {{ .Values.global.namingPrefix }}-ingest-file
spec:
  selector:
    matchLabels:
      app: {{ .Values.global.namingPrefix }}-ingest-file
  endpoints:
    - interval: "30s"
      port: metrics
{{ end }}
