/*
 * SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";

.CollectionViews {
  &__tabs {
    & > .bp3-tab-list {
      padding-bottom: 10px;
      border-bottom: 1px solid $aleph-border-color;
    }

    .DualPane {
      padding: 0;
    }
  }
}
