@import "app/variables.scss";
@import "app/mixins.scss";

$metadata-width: $aleph-grid-size*30;
$metadata-padding: $aleph-content-padding;
$metadata-breakpoint: $aleph-screen-sm-max-width;

.CollectionOverviewMode {
  display: flex;
  flex-flow: row;
  width: 100%;
  @media screen and (max-width: $metadata-breakpoint) {
    flex-direction: column-reverse;
  }

  &__main, &__secondary {
    @media screen and (max-width: $metadata-breakpoint) {
      width: 100% !important;
    }
  }

  &__main {
    width: calc(100% - #{$metadata-width} - #{$metadata-padding});
  }

  &__secondary {
    width: $metadata-width;
    @include rtlSupportInvertedProp(margin, left, $metadata-padding, 0);
    @include rtlSupportInvertedProp(padding, left, $metadata-padding, 0);
    @include rtlSupportInvertedProp(border, left, 1px solid $aleph-border-color, none);

    @media screen and (max-width: $metadata-breakpoint) {
      padding: 0 0 $metadata-padding !important;
      margin: 0 0 $metadata-padding !important;
      border: none !important;
      border-bottom: 1px solid $aleph-border-color !important;
    }
  }
}
