@import "src/app/variables.scss";

.CollectionInfoMode {
  display: flex;

  @media screen and (max-width: $aleph-screen-sm-max-width) {
    display: inherit;
  }

  @media screen and (min-width: $aleph-screen-md-max-width) and (max-width: $aleph-screen-lg-max-width) {
    display: inherit;
  }

  &__section {
    flex: 1 1 50%;

    .info-sheet {
      margin: 0;
    }
  }
}
