@import "src/app/variables.scss";

.CollectionInfoMode {
  display: flex;

  &__section {
    flex: 1 1 50%;

    .info-sheet {
      margin: 0;
    }
    // border-left: 1px solid $aleph-border-color;
    // padding-left: $aleph-content-padding;


    // &:first-child {
    //   // padding-left: 0;
    //   border-right: 1px solid $aleph-border-color;
    // }
    //
    // &:last-child {
    //
    //   // padding-right: 0;
    //   // border-left: 1px solid $aleph-border-color;
    //   //
    // }
  }
}
