/*
 * SPDX-FileCopyrightText: 2022 2014-2015 Friedrich Lindenberg, <friedrich@pudo.org>, et al.
 * SPDX-FileCopyrightText: 2022 2016-2020 Journalism Development Network,Inc
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";

.CollectionHeading {
  margin: 20px 0 35px;

  &__title, &__subtitle {
    margin: 10px 0;
    overflow-wrap: break-word;
  }

  &__title {
    line-height: 1.5;
    max-width: 800px;
  }

  .CategoryLink {
    color: inherit;
  }
}
