@import "src/app/variables.scss";

.CollectionHeading {
  margin: 20px 0 35px;

  &__title, &__subtitle, &__description {
    margin: 10px 0;
    overflow-wrap: break-word;
  }

  &__title {
    line-height: 1.5;
  }
}
