@import "src/app/variables.scss";
@import "src/app/mixins.scss";

.CollectionReference {
  &__section {
    &:first-child {
      margin-bottom: $aleph-grid-size*2;
    }

    .key {
      margin-bottom: 5px;
      color: $gray1 !important;
    }

    .value {
      word-wrap: break-word;
    }

    .bp3-input-group {
      margin-bottom: 5px;
      .bp3-input {
        @include rtlSupportInvertedProp(padding, right, 30px!important, 10px!important);
      }
    }
  }
}
