@import "src/app/variables.scss";

.CollectionReference {
  &__section {
    &:first-child {
      margin-bottom: $aleph-grid-size*2;
    }

    .key {
      margin-bottom: 5px;
    }

    .bp3-input-group {
      margin-bottom: 5px;
    }
  }
}
