@import "src/app/variables.scss";

.CollectionXrefMode {
    .CollectionXrefManageMenu {
      margin-bottom: $aleph-content-padding;
      float: right;
    }

    .pane-layout-side {
        margin-right: $aleph-content-padding;
        width: $aleph-sidebar-width * 0.8;
    }

    table.data-table {
        table-layout:fixed;

        th.numeric.narrow, td.numeric.narrow {
            width: 4em;
        }

        th.expand, td.expand {
            width: 2em;
        }

        td.entity, td.collection {
            .EntityLink, .CollectionLink {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

}
