@import "src/app/variables.scss";

.CollectionStatisticsMode {
  column-count: 4;
  column-gap: $aleph-content-padding;
  column-fill: balance;

  @media screen and (max-width: $aleph-screen-lg-max-width) {
    column-count: 3;
  }

  @media screen and (max-width: $aleph-screen-md-max-width) {
    column-count: 2;
  }

  @media screen and (max-width: $aleph-screen-sm-max-width) {
    column-count: 1;
  }

}
