@import "src/app/variables.scss";

.CollectionContentViews {
  &__tabs {
    .bp3-tab-list {
      // margin-right: $aleph-content-padding;
      // padding-right:  $aleph-content-padding;
      // border-right: 1px solid $aleph-border-color;
      border: none;
      min-width: 220px;
      border-radius: $aleph-border-radius;

      @media screen and (max-width: $aleph-screen-sm-max-width) {
        margin-bottom: $aleph-content-padding;
      }
    }

    .bp3-menu-divider {
      width: 100%;
      // height: 40px;
      border-color: $aleph-border-color !important;
      margin: 10px 0;

      &:last-child {
        display: none;
      }
      &:first-child {
        display: none;
      }
    }

    &.bp3-tabs.bp3-vertical {
      @media screen and (max-width: $aleph-screen-sm-max-width) {
        display: block;
      }
    }
  }

  &__tab {
    width: 100%;

    &.bp3-tab-panel {
      width: 100%;
      overflow: hidden;
      @media screen and (max-width: $aleph-screen-sm-max-width) {
        padding-left: 0 !important;
      }
    }

    &.bp3-tab {
      margin: 0 !important;
      padding: 2px 7px !important;
      background-color: $aleph-breadcrumbs-background !important;
      border-radius: 0 !important;

      &:first-of-type {
        border-top-left-radius: $aleph-border-radius !important;
        border-top-right-radius: $aleph-border-radius !important;
      }

      &:last-of-type {
        border-bottom-left-radius: $aleph-border-radius !important;
        border-bottom-right-radius: $aleph-border-radius !important;
      }

      .bp3-tab-indicator-wrapper ~ & {
        background-color: $aleph-breadcrumbs-background !important;
      }

      .bp3-icon {
        margin: 0 5px !important;
      }

      .Count {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &[aria-selected="true"] {
        background: $blue2 !important;
        color: white !important;
        font-weight: bold;
        border-radius: $aleph-border-radius !important;

        .Count {
          background: white !important;
          color: $blue2 !important;
        }
      }

      &.document-tab {
        padding: 0 !important;
        border-radius: $aleph-border-radius !important;

        &:after {
          content: "";
          display: block;
          background: white;
          height: 20px;
          width: 100%;
        }

      }
      &.schema-add-tab {
        cursor: auto;
        background-color: white !important;
        padding: 0 !important;

        .SchemaSelect {
          .bp3-popover-wrapper, .bp3-popover-target, .bp3-button {
            width: 100%;
          }
        }
      }
    }
  }
}
