@import "src/app/variables.scss";

.CollectionIndexSearch {
    margin-bottom: $aleph-grid-size*2;

    .bp3-input-group {
        flex-grow: 10 !important;
    }

    .bp3-button {
        flex-grow: 1 !important;
    }
}
