@import "src/app/variables.scss";

.CollectionStatistics {
  break-inside: avoid;
  margin: $aleph-content-padding 0;
  // border: 1px solid $aleph-border-color;
  border-radius: 3px;
  background-color: #ebf1f5;

  &:first-child {
    margin: 0;
  }

  // flex: auto;
  // width: 50%;

  &__inner-container {
  }

  &__heading {
    // background-color: $blue1;
    border-radius: 5px;
    padding: 15px;

    &__total, &__label {
      // color: white;
      color: $blue1;
      text-align: center;
      margin: 10px;
    }

    &__total {
      font-size: 52px;
      margin-bottom: 0;
    }

    &__label {
      font-size: 16px;
    }

  }

  &__title.bp3-heading {
    // color: $blue1;
  }

  // &__values {
  //   display: table;
  //   width: 100%;
  // }
  //
  // &__value {
  //   display: table-row;
  //   &__label, &__count {
  //     display: table-cell;
  //   }
  //
  //   &__label {
  //     position: relative;
  //     left: 0;
  //     padding: 0;
  //   }
  //
  //   &__count {
  //     position: relative;
  //     right: 0;
  //   }
  // }
}
