/*
 * SPDX-FileCopyrightText: 2022 2014-2015 Friedrich Lindenberg, <friedrich@pudo.org>, et al.
 * SPDX-FileCopyrightText: 2022 2016-2020 Journalism Development Network,Inc
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";

.ImageViewer {
  // text-align: center;
  margin-bottom: 2 * $aleph-grid-size;

  pre {
    // padding: $aleph-grid-size;
  }

  img {
    max-width: 100%;
    // max-height: 100vh;
    height: auto;
  }
}