@import 'app/variables.scss';
@import 'app/mixins.scss';

$pagesWidth: 150px;

.PdfViewer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .outer {
    position: relative;
    background: transparent !important;
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: visible;

    .pages {
      display: none;

      .heading {
        background: $aleph-table-heading-background;
        padding: $aleph-grid-size;
        border-bottom: 1px solid $aleph-border-color;
      }
    }

    .pages {
      display: block;

      .ErrorSection {
        padding-top: $aleph-grid-size * 2;
      }

      ul {
        @include rtlSupportInvertedProp(padding, left, 0, null);
        margin: 0;

        li {
          list-style: none;
          padding: $aleph-grid-size;
          border-bottom: 1px solid $aleph-border-color;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;

          p {
            margin-bottom: 0;

            .bp3-icon {
              @include rtlSupportInvertedProp(
                margin,
                right,
                $aleph-icon-padding,
                null
              );
            }

            a {
              text-decoration: none;
            }

            em {
              background: $aleph-text-highlight-color;
              font-style: normal;
            }
          }

          p:first-child {
            margin-bottom: $aleph-grid-size;
            font-weight: bold;
          }
        }
      }
    }

    .inner {
      flex: 1;
      width: auto;
      overflow-x: hidden;

      .document {
        width: 100%;

        pre {
          border: unset;
          box-shadow: unset;
        }
      }

      .page {
        margin: 0;
        padding: 0;
      }

      .page > canvas {
        /* center each page */
        margin: auto;
        padding-bottom: $aleph-grid-size;
      }

      .react-pdf__Page__canvas {
        padding: 0 !important;
      }

      .react-pdf__message--error {
        text-align: center;
        padding: 100px 20px;
        font-size: 1.2em;
        width: 100%;
      }
    }
  }
}

/* Don't show padding between list of pages & doc in preview as space limited
 * This is included here and not in Preview just to make it easier follow
 */
.Preview {
  .PdfViewer {
    .outer.with-search-results {
      @include rtlSupportInvertedProp(padding, left, $pagesWidth, null);
    }
  }
}
