@import "src/app/variables.scss";

$pagesWidth: 150px;

.PdfViewer {
  display: flex;
  
  .outer {
    position: relative;
    background: transparent !important;
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: visible;
      
    .pages {
      display: none;
    }
    
    &.with-page-list {
      padding-left: $pagesWidth + ($aleph-grid-size * 4);
      
      .pages {
        flex: 1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: $pagesWidth;
        border-right: 1px solid $aleph-border-color;
        border-bottom: 1px solid $aleph-border-color;
        background: white;
        overflow: auto;

        .spinner {
          display: block;
          text-align: center;
          margin: $aleph-grid-size auto;
        }
        
        .heading {
          background: $aleph-table-heading-background;
          padding: $aleph-grid-size;
          border-bottom: 1px solid $aleph-border-color;
        }
    
        ul {
          padding-left: 0;
          margin: 0;
          li {
            list-style: none;
            padding: 0;
            border-bottom: 1px solid $aleph-border-color;
            
            a {
              text-align: right; 
            }
            
            .no-results,
            a {
              padding: $aleph-grid-size;
              display: block;
            }
            
            a.active {
              color: white;
              background: $aleph-link-color;
            }
          }
        }
    
      }
    }

    .inner {
      flex: 1;
      width: auto;
      overflow-x: hidden;
      
      .document {
        width: 100%;
      }

      .page {
        margin: 0;
        padding: 0;
      }

      .page > canvas {
        /* center each page */
        margin: auto;
        padding-bottom: $aleph-grid-size;
      }

      .react-pdf__Page__canvas {
        padding: 0 !important;
      }

      .react-pdf__message--error {
        text-align: center;
        padding: 100px 20px;
        font-size: 1.2em;
        width: 100%;
      }

      .spinner {
        margin: 100px 0;
      }
    }

  }
}

/* Don't show padding between list of pages & doc in preview as space limited
 * This is included here and not in Preview just to make it easier follow
 */
.Preview {
  .PdfViewer {
    .outer.with-page-list {
        padding-left: $pagesWidth;
    }
  }
}