@import 'src/app/variables.scss';

.ProcessingJobReport {
  display: block;
  padding-bottom: $aleph-content-padding;
  border-bottom: 1px $aleph-border-color;

  &__heading {
    position: relative;
    width: 100%;

    &__date {
      display: block;
      color: $gray2;
    }

    &__control {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__status {
      display: inline-block;
      padding-right: $aleph-content-padding / 2;
    }

    &__actions {
      display: inline-block;
    }
  }
}
