/*
 * SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
 *
 * SPDX-License-Identifier: MIT
 */

.LoadingScreen {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    align-self: center;
    margin: auto;
  }
}
