
#airlock {
}

.search-area {
    margin-top: 2em;
    margin-bottom: 2em;
}

ul.results {
    list-style-type: none;

    padding: 0;

    em {
        font-style: normal;
        font-weight: bold;
    }

    li.result {
        margin-bottom: 1.3em;

        .title {
            font-weight: bold;
            font-size: 1.1em;
            display: block;
        }

        .source {
            font-size: 0.9em;
        }

        .placeholder {
            color: #999;
        }


    }
}
