@import "app/variables.scss";
@import "app/mixins.scss";

.Timeline {
  &__date-container {
    z-index: 10;
    width: inherit;
    @include rtlSupportInvertedProp(padding, right, $aleph-content-padding !important, 0);

    &.fixed {
      @media screen and (min-width: $aleph-screen-sm-max-width) {
        position: fixed;
        top: $aleph-content-padding;
      }
    }
  }

  .DateFacet {
    margin-bottom: $aleph-content-padding;
  }

  .TimelineActionBar {
    margin: $aleph-grid-size/2 0;
  }
}
