@import "app/variables.scss";
@import "app/mixins.scss";

.Timeline {
  &__date-container {
    z-index: 10;
    width: $aleph-sidebar-width - $aleph-content-padding;

    &.fixed {
      position: fixed;
      top: $aleph-grid-size;
    }
  }

  .DateFacet {
    margin-top: $aleph-grid-size;
    margin-bottom: $aleph-grid-size*2;
  }

  .ContentPane {
    overflow: visible;
  }

  .TimelineActionBar {
    margin-bottom: $aleph-content-padding;
  }
}
