@import "app/variables.scss";
@import "app/mixins.scss";

$timeline-item-padding: $aleph-grid-size;

.TimelineItem {
  display: flex;
  position: relative;
  margin: $aleph-grid-size*2 0;

  &.bp3-card {
    padding: 0;
  }

  &__actions {
    position: absolute;
    top: 0;
    @include rtl(right, 0, null);
    @include rtl(left, null, 0);
  }

  &__secondary {
    flex: 1 1 70%;

    &__content {
      padding: $timeline-item-padding/2 $timeline-item-padding;
    }
  }

  &__main {
    flex: 1 1 30%;
    @include rtlSupportInvertedProp(border, right, 1px solid $aleph-border-color, none);

    &__content {
      padding: $timeline-item-padding;
    }
  }

  &__schema {
    cursor: pointer;
    // font-size: $pt-font-size-small;
    margin-bottom: $timeline-item-padding;
  }

  &__title.bp3-heading {
    display: flex;
    background: $light-gray4;
    padding: $timeline-item-padding;
    color: $blue1;
    margin: 0;

    .bp3-button {
      margin-left: -5px;
      // color: $blue1 !important;
      // font-weight: bold;
    }
    // font-weight: bold;
    // font-size: $pt-font-size-large;
  }

  &__date {
    display: flex;
    font-weight: 500;
    font-size: $pt-font-size;

    &__divider {
      padding: 0 $aleph-grid-size/2;
    }
  }

  &__property {
    display: flex;
    min-height: $aleph-grid-size*3;
    margin-bottom: $timeline-item-padding/2;
    cursor: pointer;
    align-items: center;

    .PropertyName {
      @include rtlSupportInvertedProp(margin, right, $aleph-grid-size/2, null);
    }

    .PropertyValues {
      padding: 0 3px;
      border-radius: 3px;
      & > span {
        display: inline-block !important;
      }
      &:hover {
        background: $aleph-breadcrumbs-background;
      }
    }
  }

  .bp3-form-group {
    margin: 0;
  }

  .bp3-input {
    font-size: 12px !important;
    padding: 5px !important;
    height: auto !important;

    &.bp3-tag-input {
      padding: 0 5px !important;
    }
  }

  &__hidden-input {
    position: absolute;
    visibility: none;
  }
}
