@import "app/variables.scss";
@import "app/mixins.scss";

.CollectionIndexItem {
    padding: $aleph-grid-size*2.5 0;
    border-bottom: 1px solid $aleph-border-color;

    h4 {
        font-weight: bold;

        .bp3-tag {
            @include rtl(float, right, left);
            display: block;
        }

        .bp3-icon {
            padding-bottom: 2px;
        }
    }

    .summary {
        font-size: $pt-font-size;
        margin-bottom: $aleph-grid-size;
        max-width: $aleph-content-width-limit;
    }

    .details {
        margin-bottom: 0;
        color: $aleph-greyed-text;

        .bp3-tag {
            @include rtlSupportInvertedProp(margin, left, $aleph-grid-size, null);
        }
    }

    .details-item {
        display: inline-block;
        min-width: 8em;
        margin: $aleph-grid-size/2 0;
        @include rtlSupportInvertedProp(margin, right, 2em, null);

        .bp3-icon {
          @include rtlSupportInvertedProp(margin, right, $aleph-icon-padding, null);
        }

        .bp3-tag {
          vertical-align: middle;
        }
    }

    .delete-item {
        @include rtl(float, right, left);
        @include rtlSupportInvertedProp(margin, right, 0.3em, null);
        margin-top: 0.5em;
    }
}
