@import 'react-ftm/variables.scss';

@mixin center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 0;
}

.TableEditor {
  height: 100%;
  width: 100%;

  .data-grid-container {
    display: block;
    overflow: auto;
    position: relative;
    height: 100%;
  }

  .data-grid-container .data-grid {
    border: none;
  }

  .data-grid-container .data-grid .cell {
    // white-space: nowrap;
    min-height: 30px;
    vertical-align: middle;
    text-align: left;
    background-color: $light-gray5;
    color: black;

    &.selected {
      background-color: rgba(33, 133, 208, 0.15) !important;
      box-shadow: none;
    }

    &.property,
    &.header,
    &.prop-select {
      min-width: 200px;
      max-width: 200px;
    }

    &.property,
    &.skeleton {
      background-color: white;
      padding: 10px;

      &.editing {
        padding: 0;
      }
    }

    .bp3-button {
      border-radius: 0 !important;
    }

    &.header .bp3-button {
      justify-content: space-between;
    }

    &.checkbox,
    &.entity-link,
    &.add-button {
      min-width: 30px;

      .bp3-control {
        margin: 0;
        height: 100%;
        width: 100%;
        position: relative;
      }
      .bp3-control-indicator {
        @include center;
        outline: none !important;
      }
    }

    &.entity-link {
      position: relative;
      .bp3-button {
        @include center;
      }
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
  .bp3-form-group {
    margin: 0;
  }

  .bp3-multi-select-popover .bp3-menu {
    max-height: 150px;
  }

  &__overflow-container {
    max-height: 110px;
    overflow-y: auto;
  }

  &__link-cell {
    &.bp3-button {
      padding: 0;
      background: inherit !important;
    }

    &__icon {
      display: none;
    }

    &:hover {
      .EntityLabel span {
        text-decoration: underline;
      }

      & > .bp3-icon {
        display: block !important;
      }
    }
  }
}
