// Local variables

$col-1: #CF3D1E;
$col-2: #F15623;
$col-3: #F68B1F;
$col-4: #FFC60B;
$col-5: #DFCE21;
$col-6: #BCD631;
$col-7: #95C93D;
$col-8: #48B85C;
$col-9: #00833D;
$col-10: #00B48D;
$col-11: #60C4B1;
$col-12: #27C4F4;
$col-13: #478DCB;
$col-14: #3E67B1;
$col-15: #4251A3;
$col-16: #59449B;
$col-17: #6E3F7C;
$col-18: #6A246D;
$col-19: #8A4873;
$col-20: #EB0080;
$col-21: #EF58A0;
$col-22: #C05A89;

// $colors: (
//     col-1: #CF3D1E,
//     col-2: #F15623
//     );


// @each $name, $color in $colors {
//     #{$name} {
//         color: $color;
//     }
// }
