
// Angular ugliness fix
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a, .click {
    cursor: pointer;

    &.simple {
        &:hover {
            text-decoration: none;
        }
    }

    &:hover {
        color: darken($brand-primary, 10%);
    }

    &.btn.btn-primary:hover,
    &.btn.btn-primary:visited {
        color: white;
    }
}

.screen-header {
    @extend .container-fluid;

    margin-top: -22px;
    padding-top: 25px;
    margin-bottom: 1em;
    background-color: $gray-subtle;

    h2 {
        font-size: 1.6em;
        // font-weight: bolder;
        margin-top: 0;
        margin-bottom: 0.9em;
        float: left;

        // .label {
        //     display: inline-block;
        //     font-size: 0.7em;
        //     margin-top: -0.8em;
        // }
    }

    ul.nav.nav-tabs {
        margin-bottom: 0;
    }

    .actions {
    }

    .nav-tabs .badge {
        padding: 2px 7px;
        // background-color: $gray-subtle;
    }
}

table.table {
    .form-group {
        margin-bottom: 0;
    }
}

.modal-backdrop {
    bottom: 0;
}

.bottom-pager {
    margin-top: 1em;

    .total {
        padding-top: 8px;
        font-weight: bold;
        color: $text-muted;
    }

    .pagination {
        margin-top: 0;
    }
}

code {
    background-color: lighten($aleph-dark, 70%);
    color: $aleph-dark;
}

td.numeric, th.numeric {
    text-align: right;
}

td.nobreak, th.nobreak, td.numeric, th.numeric {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
