
// Angular ugliness fix 
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a, .click {
    cursor: pointer;
}

a.simple {
    &:hover {
        text-decoration: none;
    }
}

.modal-backdrop {
    bottom: 0;
}

.bottom-pager {
    margin-top: 1em;

    .total {
        padding-top: 8px;
        font-weight: bold;
        color: $text-muted;
    }

    .pagination {
        margin-top: 0;
    }
}

em {
    background-color: transparent;
    font-weight: bolder;
    font-style: normal;
}

a {
    // color: $aleph-theme;
    &:hover {
        color: darken($brand-primary, 10%);
    }

    &.btn:hover, &.btn.btn-primary:hover, 
    &.btn:visited, &.btn.btn-primary:visited {
        color: white;
    }
}

code {
    background-color: lighten($aleph-dark, 70%);
    color: $aleph-dark;
}
