
.entity-icon {
    margin-right: 0.5em;

    &.Person {
        color: $color-person;
    }

    &.Company {
        color: $color-company;
    }

    &.Organization {
        color: $color-organization;
    }

    &.Other {
        color: $color-other;
    }
}
