
.help {
    #title {
        display: none;
    }

    h1, h2, h3, h4 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        margin-top: $base-unit * 1.5;
        margin-bottom: $base-unit * 1;
    }

    h1, h2 {
        margin-bottom: $base-unit * 2;
    }

    .btn {
        font-family: $font-family-sans-serif;
    }

    font-family: $font-family-serif;
    font-size: $base-unit * 1.4;
    line-height: 1.5em;
}
