.home {
    .jumbotron {
        margin-top: -20px;
        background-color: white;
        background-image: url(/static/images/europe_asia.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        text-align: center;
        padding-bottom: 3em;

        h1 {
            // text-transform: uppercase;
            font-size: 4em;
            font-weight: bold;
        }

        p.teaser {
            // text-transform: uppercase;
            font-size: 2em;   
            margin-bottom: 0;
            font-weight: bold;
            padding-bottom: 0;
        }

        .search-area {
            max-width: 500px;
            margin: 3em auto 0 auto;
        }
    }

    .feature {
        margin-top: 1em;

        h2 {
            // text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5em;

            i {
                color: $brand-primary;
            }
        }

        h3 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2em;
        }

        p {
            font-size: 1.2em;
            line-height: 1.5em;   
            color: $text-muted;
        }

        .count {
            color: $text-muted;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                padding-bottom: 0.5em;
                line-height: 1.6em;
            }
        }

        .heading {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.1em;
            padding-top: 1em;
            padding-bottom: 0.5em;
        }
  
        .source {
            min-height: 2em;   
        }
    }
}
