.jumbotron {
    margin-top: -20px;
    min-height: 40vh;
    background-color: black;
    background-image: url(/static/images/europe_asia_dark.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;

    text-align: center;
    padding-bottom: 2em;

    h1 {
        // text-transform: uppercase;
        margin-top: 10vh;
        font-size: 4em;
        font-weight: bold;
    }

    p.teaser {
        // text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 0;
        font-weight: normal;
        padding-bottom: 0;
    }
}

.home {
    .feature {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        h2 {
            //margin-top: 1em;
            margin-bottom: 0.5em;
        }

        p {
            @include teaser-text;
        }

        .actions {
            margin-top: 1.5em;
        }

        .context {
            margin-top: 0.5em;
            font-size: 0.8em;
        }

    }
}
