// Globals & Mixins
@mixin rounded-corners ($radius: $default-radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin highlighted {
    background-color: $aleph-highlights;
    font-style: normal;
    font-weight: normal;
}

@mixin drop-shadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@mixin padded-box {
    padding-top: $base-font-size * 3;
    padding-bottom: $base-font-size * 3;
    padding-left: $base-font-size * 2;
    padding-right: $base-font-size * 2;
}

@mixin display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-item($args) {
    -ms-flex: $args;
    -webkit-flex: $args;
    flex: $args;
}
