// Globals & Mixins
@mixin rounded-corners ($radius: $default-radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin highlighted {
    background-color: yellow;
    font-style: normal;
}
