
.navbar {

    .navbar-header {
        .navbar-brand {
            img {
                margin-top: -0.6em;
                max-width: 2.2em;
                max-height: 2.2em;
            }

            // color: $brand-primary;
            // font-weight: 900;
        }
    }
}
