
.navbar.navbar-default {
    background-color: $page-bg;
    border-bottom: 0;

    @include drop-shadow;

    .navbar-header {
        .navbar-brand {
            img {
                margin-top: -0.6em;
                max-width: 2.2em;
                max-height: 2.2em;
            }
        }
    }
}
