#scene-canvas {
    background-color: $gray-subtle;   
    border: 1px solid $panel-inner-border;
    border-radius: $border-radius-base;

    svg {
        .node {
            rect {
                rx: $border-radius-base;
                ry: $border-radius-base;    
            }
        }

        .dragging {
            fill: red;
        }
    }
}
