#scene-canvas {
    background-color: $gray-subtle;   
    border: 1px solid $panel-inner-border;
    border-radius: $border-radius-base;

    svg {
        .node {
            fill: $gray-light;
            // stroke: 1px solid $panel-inner-border;
            cursor: pointer;

            rect {
                rx: $border-radius-base;
                ry: $border-radius-base;    
            }

            .title {
                fill: white;
                user-select: none;
                cursor: pointer;
            }
        }

        .edge {
            stroke: green;
            stroke-width: 2px;
        }

        .dragging {
            fill: red;
        }
    }
}
