
// Search results 
.result {
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: hidden;
    padding: 0.4em 0 0.4em 0;
    border-bottom: 1px solid $gray-subtle;
    //max-width: 90px;

    .source {
        color: $text-muted;
        font-weight: bold;
    }

    .archive, .archive a {
        color: #aaa;
    }

    .summary {
        color: $border-color;
        font-size: 0.8em;
    }

    .title {
        font-weight: bold;
    }

    .records {
        margin-left: 1.3em;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }

        .total {
            color: $text-muted;
        }
    }
}


// List entities page 
.nav.nav-tabs, .search-bar {
    margin-bottom: 1em;
}

.actions {
    text-align: right;
}

.right-text {
    text-align: right;   
}


.facet-list {
    max-height: 20em;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical; 
    //margin: -3px -1px 0 -1px;

    .facet {
        cursor: pointer;
        white-space: nowrap;
        text-overflow: hidden;
        overflow-x: hidden;    
        .lbl {
        }

        &.empty {
            color: $text-muted;
            font-style: italic;
            cursor: default;
        }
    }    
}

