
// List entities page
.nav.nav-tabs {
    margin-bottom: 1em;
}

.actions {
    text-align: right;
}

.right-text {
    text-align: right;
}

.panel.panel-default.panel-facet {
    margin-bottom: $padding-base-vertical * 2;

    ul {
        max-height: 20em;
        overflow-y: scroll;
        overflow: -moz-scrollbars-vertical;

        li.list-group-item {
            display: -ms-flex;
	        display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            align-items: center;

            .badge {
                background-color: $page-bg;
                color: $text-muted;
                padding-right: 0;
                float: none;
                text-align: right;
                flex-grow: 1;
            }

            .lbl {
                cursor: pointer;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
                flex-shrink: 1;
                // min-width: 0;
            }

            &.empty {
                color: $text-muted;
                font-style: italic;
                cursor: default;
            }

            &.active {
                a {
                    color: white;
                }

                .badge {
                    background-color: $brand-primary;
                    color: white;
                }
            }
        }
    }
}

.search-bar {
    margin-bottom: $padding-base-vertical * 2;
}

.alert.alert-suggest {
    @extend .alert-info;
    // background-color: $gray-subtle;
    // border: 1px solid $border-color;

    .entity-icon {
        margin-right: 0;
    }

    a {
        font-weight: bold;
        color: $alert-info-text;

        &:hover {
            // text-decoration: none;
            color: $alert-info-text;
        }
    }
}

.highlights {
    em {
        @include highlighted;
    }
}

// Search results
.search-result {
    padding: 1em 0 1.5em 0;
    border-bottom: 1px solid $gray-subtle;
    @include display-flex;
    //max-width: 90px;

    a:visited {
        color: $text-muted;
    }

    .document-type {
        @include flex-item(1 0 1.5em);
        width: 1.5em;
        font-size: 1.1em;
    }

    .descriptor {
        @include flex-item(99 0 6em);
    }

    .context {
        padding-top: 0.2em;
        // font-size: 0.9em;
        // color: $text-muted;

        i {
            font-size: 0.8em;
        }

        a {
            color: $text-color;
            // text-decoration: underline;
        }
    }

    .summary, .records {
        padding-top: 0.2em;
        font-size: 0.95;
    }

    .title {
        font-weight: bold;
        font-size: 1.1em;
        // letter-spacing: 0.1em;

        .addon {
            margin-left: 0.2em;
            font-size: 0.8em;
            color: $text-muted;
        }
    }

    .records {
        a {
            text-decoration: underline;
        }

        .ref {
            color: $text-muted;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }

        .total {
            color: $text-muted;
        }
    }
}
