.login-facebook {
  background-color: #3b5998;
  color: white;

  &::before {
    font-family: FontAwesome;
    margin-right: 9px;
    content: "\f09a";
  }
}

.login-google {
  background-color: #5b76f7;
  color: white;

  &::before {
    font-family: FontAwesome;
    margin-right: 9px;
    content: "\f1a0";
  }
}

.login-twitter {
  background-color: #00bced;
  color: white;

  &::before {
    font-family: FontAwesome;
    margin-right: 9px;
    content: "\f099";
  }
}
