
td.numeric, th.numeric {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.data-table {
    overflow-x: scroll;

    th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td {
        min-width: 50px;
        max-width: 350px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.numeric { 
            min-width: 70px;
            text-align: right;
        }
    }

    tr.highlight {
        td {
            @include highlighted;
        }
    }
}
