
.data-table {
    overflow-x: scroll;

    table.table {
        margin-bottom: 0;    
    }

    th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: $boxed-color;
    }

    td {
        min-width: 50px;
        max-width: 350px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.numeric { 
            min-width: 70px;
            text-align: right;
        }
    }

    tr.highlight {
        td {
            @include highlighted;
        }
    }
}
