$aleph-theme: #982022 !default;
$aleph-dark: #3a4953 !default;
$aleph-highlights: yellow !default;

@import "custom";

// Style tiles, Colours
$border-color: #d7d7d7;
$boxed-color: #fafafa;
$default-radius: 3px;

// override bootstrap defaults
$brand-primary: $aleph-theme;
$text-color: #333;
$text-muted: #999;
$gray-subtle: #f9f9f9;
$page-bg: #fff;
$spacing: 0.5em;
$base-unit: 12px;

// Style tiles, Fonts
$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-serif: 'Georgia', serif !default;
$input-border-focus: $brand-primary;

@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "mixins";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $text-muted;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;

    a {
        color: white;
        text-decoration: underline;
    }    
}

@import "loading_bar";
@import "common";
@import "help";
@import "nav";
@import "home";
@import "search";
@import "network";
@import "tabular";
@import "text";
@import "spinner";
@import "entities";
@import "collections";

.list-group-item.active {
    .badge {
        background-color: $brand-primary;
        color: $page-bg;
    }
    color: $page-bg;

    a {
        color: $page-bg;        
    }
}

#page {
    position: relative;
    background-color: white;
    padding-bottom: 2em;
}

.screen {
    @extend .container-fluid;
    min-height: 10em;
}

// used by the collections dropdown-menu
.btn.btn-default {
    &:hover {
        color: black;
    }
}

.dropdown-menu li a {
    width: 100%;
    position: relative;
    padding-right: 3em;
}

.dropdown-menu li span.inline {
    display: inline-block;
    position: absolute;
    right: 1em;
}
