@import "~@blueprintjs/core/dist/variables";

.search-filter-schema {
  list-style: none;
  margin: 0;
  padding: $pt-grid-size ($pt-grid-size * 2) 0;
  background-color: $gray4;
  color: $dark-gray5;

  & > li {
    display: inline-block;
    padding: ($pt-grid-size / 2) $pt-grid-size;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 2px solid transparent;

    & > .schema-icon {
      float: left;
      display: block;
      width: 50px;
      height: 50px;
      margin: -10px 0 0 -10px;
    }

    &.is-selected {
      transition: border-bottom-color 0.2s ease-out;
      border-bottom-color: $dark-gray5;
    }
  }
}

.search-filter-schema-type {
  display: inline-block;
}
