@import "src/app/variables.scss";

.Navbar {
  &.bp3-navbar {
    display: flex;
    padding: 0;
    z-index: 100;
    justify-content: space-between;
    background-color: $dark-gray1;

    .back-button {
      display: none;
    }

    img {
      height: 28px;
    }

    a {
      color: inherit;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    form {
      .bp3-control-group {
        width: 100%;
      }

      input {
        background: #fff;
        color: $pt-text-color;
      }
    }

    .icon {
      display: none;
      @media screen and (max-width: $aleph-screen-sm-max-width) {
        float: right;
        margin-top: 1em;
      }
    }
  }

  &__left-group {
    padding: 0 $aleph-grid-size;

    @media screen and (max-width: $aleph-screen-sm-max-width) {
      &.hide {
        display: none;
      }
    }
  }

  &__middle-group {
    flex: 4 1 auto;
    @media screen and (max-width: $aleph-screen-sm-max-width) {
      display: none;
    }
    &.mobile-force-open {
      display: block;
    }
  }

  &__right-group {

  }

  &__search-container {
    flex: 4 1 auto;
    padding: 10px 5px;
    max-width: 600px;

    .bp3-menu {
      // padding-top: 0;
      // padding-bottom: 0;
    }
  }

  &__sources-button {
    @media screen and (max-width: $aleph-screen-sm-max-width) {
      display: none;
    }
  }

  &__mobile-back-button, &__mobile-search-toggle {
    @media screen and (min-width: $aleph-screen-sm-max-width) {
      display: none;
    }
  }

  .SearchBox__search-tips {
    @media screen and (max-width: $aleph-screen-md-max-width) {
      display: none;
    }
  }

  .bp3-button-text {
    @media screen and (max-width: $aleph-screen-md-max-width) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 10vw;
    }
    @media screen and (max-width: $aleph-screen-sm-max-width) {
      max-width: 20vw;
    }
  }

  .bp3-divider {
    margin: 0 5px !important;
  }

  .mobile-hidden {
    @media screen and (max-width: $aleph-screen-sm-max-width) {
      display: none;
    }
  }
}

// //small screen
// @media screen and (max-width: $aleph-screen-sm-max-width) {
//   .Navbar {
//     a.search-icon {
//       margin-right: 1em;
//     }
//
//     .full-length-input {
//       position: fixed;
//       top: 0;
//       left: 0;
//       right: 0;
//       padding: $aleph-grid-size * 0.5;
//       height: $aleph-grid-size * 5;
//       background-color: white;
//     }
//
//     .search-and-burger-icons {
//       width: 100%;
//     }
//   }
// }

// //medium screen
// @media screen and (max-width: $aleph-screen-md-max-width) {
//   .Navbar {
//     .bp3-navbar {
//       .transform {
//         .bar1 {
//           -webkit-transform: rotate(-45deg) translate(0, 6px);
//           transform: rotate(-45deg) translate(0, 6px);
//         }
//
//         .bar2 {
//           opacity: 0;
//         }
//
//         .bar3 {
//           -webkit-transform: rotate(45deg) translate(-1px, -8px);
//           transform: rotate(45deg) translate(-1px, -8px);
//         }
//       }
//
//       .bar1, .bar2, .bar3 {
//         width: 20px;
//         height: 2px;
//         background-color: #333;
//         margin: 3px 0;
//         transition: 0.4s;
//       }
//
//       /*.navbar-header-search {
//         display: flex;
//       }*/
//
//       .navbar-options {
//         a, div, span {
//           background-color: white;
//           position: relative;
//         }
//
//         .bp3-popover-wrapper {
//           span {
//             display: block;
//           }
//         }
//       }
//
//       .show-menu-dropdown {
//         position: relative;
//         display: flex;
//
//         a, div, span {
//           float: left;
//           text-align: left;
//         }
//
//         ul {
//           width: 100%;
//         }
//
//         .bp3-button {
//           align-items: left;
//           justify-content: left;
//           background-color: white;
//         }
//       }
//
//       a.menu-icon {
//         float: right;
//         display: block;
//         margin-top: 1em;
//       }
//
//       .search-and-burger-icons {
//         display: flex;
//         justify-content: flex-end;
//         padding-left: 1em;
//       }
//
//       .burger-fixed {
//         position: fixed;
//         right: 2em;
//       }
//     }
//   }
// }
