.ScopedSearchBox {
  .bp3-input-left-container {
    z-index: 100 !important;

    & > * {
      vertical-align: top;
    }
  }

  .bp3-input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}
