@import "src/app/variables.scss";
@import "src/app/mixins.scss";

.ScopedSearchBox {
  &.bp3-input-group {
    .bp3-input {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 0 !important;
      box-shadow: none !important;
      padding: 0 30px!important;
    }
    .bp3-input-action {
      &:last-child {
        @include rtl(left, initial, 0);
        @include rtl(right, 0, initial);
      }
    }
  }
}
