/*
 * SPDX-FileCopyrightText: 2022 2014-2015 Friedrich Lindenberg, <friedrich@pudo.org>, et al.
 * SPDX-FileCopyrightText: 2022 2016-2020 Journalism Development Network,Inc
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";
$vertical-spacing: 50px;

.MappingEditor {
  &__section {
    margin: $vertical-spacing 0;
    padding-top: $vertical-spacing;
    border-top: 1px solid $aleph-border-color;

    &__title.bp3-heading {
      margin-bottom: 25px;
      font-size: 18px;
    }

    &__description {
      margin-bottom: $aleph-grid-size*2;
    }
  }

  &__preview {
    margin-top: $aleph-grid-size*2;
  }
}
