<collections-screen collection="collection" section="entities">

  <div class="alert alert-info small" role="alert">
    You can copy paste entries from spreadsheets like Google Docs and Excel.
    Use right click to access extra options. The successfully saved entities
    will appear below the main table. If an entry is not saving, double check
    the lenght of the name and that it is mapped to a specific type.
  </div>

  <hot-table
    settings="settings"
    col-headers="true"
    datarows="entities"
    stretchH="all"
  >
    <hot-column
      data="name"
      title="'Name'"
      placeholder="'Entity Name'"
    ></hot-column>
    <hot-column
      data="data.summary"
      title="'Summary'"
    ></hot-column>
    <hot-column
      data="country"
      title="'Jurisdiction'"
      type="'dropdown'"
      source="countryOptions"
      strict="true"
    ></hot-column>
    <hot-column
      data="schema" title="'Type'"
      type="'dropdown'"
      source="availableSchemata"
      strict="true"
    ></hot-column>

  </hot-table>

  <br/>

  <p class="pull-right">
    <button class="btn btn-primary" type="button"
      ng-disabled="!canSave()" ng-click="save()">Save</button>
  </p>

  <hr ng-if="created.length">
  <table class="table table-striped" ng-if="created.length">
    <tr>
      <th>Created entities</th>
      <th width="20%">Type</th>
      <th class="numeric" width="10%">Jurisdiction</th>
      <th width="1%"></th>
    </tr>
    <tr ng-repeat="entity in created">
      <td ng-bind="::entity.name"></td>
      <td>
        {{schemata[entity.schema].label}}
      </td>
      <td class="numeric">{{entity.data.country.toUpperCase()}}</td>
      <td class="numeric" width="1%">
        <button type="button" class="btn btn-default btn-xs"
          ng-click="editEntity($event, entity)">
          <i class="fa fa-cog"></i>
          Revise
        </button>
      </td>
    </tr>
  </table>
</collections-screen>
