<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Entity reconciliation</strong>
  </div>
  <div class="panel-body">
    <p>
      Use <a href="http://openrefine.org" target="_blank">OpenRefine</a>
      reconciliation to check what persons and companies are mentioned in
      your raw data.
      <a href="/help/reconcile">Learn more...</a>
    </p>
    <p class="help-block">
      Add a standard service in OpenRefine with this URL:
    </p>
    <input type="text" value="{{::getUrl()}}"
      class="form-control" readonly="readonly"></div>
  </div>
</div>
