<div class="screen">
  <div class="row">
    <div class="col-md-8">
      <div class="search-bar">
        <form class="form-horizontal" role="search" ng-submit="submitSearch(form)">
          <div class="input-group">
            <input type="text" class="form-control" autofocus
                   ng-model="query.state.q" placeholder="Search people and companies">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-danger" role="alert" ng-if="result.error">
        <strong>An error occurred while running your search.</strong>
        {{result.error.message}}
      </div>

      <div class="alert alert-suggest" ng-if="result.limit > 0 && !result.total && collection.can_add">
        No entities were found,
        <a ng-href="/collections/{{::collection.id}}/entities/bulk">
          create some now</a>?
      </div>

      <div>
        <table ng-if="result.results.length" class="table">
          <tr ng-repeat-start="entity in result.results track by entity.id">
            <td width="0%">
              <entity-icon schema="entity.schema"></entity-icon>
            </td>
            <td>
              <strong>
                <a href="/entities/{{::entity.id}}">
                  <entity-name entity="entity"></entity-name>
                </a>
              </strong>
            </td>
            <td width="30%">
              <entity-source entity="entity" facets="result.facets">
              </entity-source>
            </td>
            <td width="10%" class="numeric">
              <entity-countries entity="entity"></entity-countries>
            </td>
          </tr>
          <tr ng-repeat-end ng-show="entity.data.summary">
            <td>
            </td>
            <td colspan="3">
              {{::entity.data.summary | limitTo:500}}
            </td>
          </tr>
        </table>
        <div class="bottom-pager">
          <div class="pull-right">
            <response-pager response="result" load="loadOffset(offset)"></response-pager>
          </div>
          <div class="total" ng-if="result.limit > 0 && result.total">
            Found {{result.total | number}} entities.
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <search-facet result="result" query="query" title="Datasets"
                    facet="dataset">
      </search-facet>
      <search-facet result="result" query="query" title="Countries"
                    facet="countries">
      </search-facet>
      <search-facet result="result" query="query" title="Types"
                    facet="schemata">
      </search-facet>

      <entity-recon-teaser></entity-recon-teaser>
    </div>
  </div>
</div>
