<div class="entity-header">
  <h2>
    <entity-icon schema="entity.schema"></entity-icon>
    {{::entity.name}}
    <small>{{::entity.schema | schemaLabel : false}}</small>
  </h2>

  <div class="actions">
    <div class="btn-group" role="group">
      <div class="btn-group" ng-if="::authz.entityWrite(entity)">
        <a ng-click="edit()" class="btn btn-default">
          <i class="fa fa-edit"></i>
          Edit
        </a>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <tr ng-repeat="bind in entity.binds track by bind.property.name">
          <th width="30%">{{::bind.property.label}}</th>
          <td>
            <property-values values="bind.values" property="bind.property">
            </property-values>
          </td>
        </tr>
      </table>
      <p>
        Source: <entity-source entity="entity"></entity-source>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="links.result.total">
  <div class="row">
    <div class="col-md-12">
      <h3><a id="links"></a>Relationships</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-condensed">
        <tr>
          <th width="15%">Type</th>
          <th colspan="2">Entity</th>
        </tr>
        <tbody ng-repeat="link in links.result.results track by link.id">
          <tr>
            <td>{{::link.$schema.getLinkLabel(link)}}</td>
            <td colspan="2">
              <entity-icon schema="link.remote.schema"></entity-icon>
              <a href="/entities/{{link.remote.id}}">
                {{link.remote.name}}
              </a>
            </td>
          </tr>
          <tr ng-repeat="bind in link.binds track by bind.property.name">
            <td></td>
            <th width="20%">{{::bind.property.label}}</th>
            <td>
              <property-values values="bind.values" property="bind.property">
              </property-values>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-pager">
        <div class="pull-right">
          <response-pager response="links.result" load="loadLinksOffset(offset)"></response-pager>
        </div>
        <div class="total" ng-if="links.result.total > links.result.limit">
          {{links.result.total | number}} relationships.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3><a id="debug"></a>Debug information</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>
        Fingerprints:
        <code ng-bind="entity.fingerprints | json"></code>
      </p>
    </div>
  </div>
</div>
