<div class="entity-header">
  <h2>
    <entity-icon schema="entity.schema"></entity-icon>
    {{::entity.name}}
    <small>{{::entity.schema | schemaLabel : false}}</small>
  </h2>

  <div class="actions">
    <div class="btn-group" role="group">
      <div class="btn-group" ng-if="::authz.entityWrite(entity)">
        <a ng-click="edit()" class="btn btn-default">
          <i class="fa fa-edit"></i>
          Edit
        </a>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <tr ng-repeat="bind in entity.binds track by bind.property.name">
          <th width="30%">{{::bind.property.label}}</th>
          <td>
            <property-values values="bind.values" property="bind.property">
            </property-values>
          </td>
        </tr>
      </table>
      <p>
        Source: <entity-source entity="entity"></entity-source>
      </p>
    </div>
  </div>
</div>
