<div class="entity-header">
  <div class="header-body">
    <div class="actions">
      <div class="btn-group" role="group">
        <div class="btn-group" ng-if="::authz.entityWrite(entity)">
          <a ng-click="edit()" class="btn btn-default">
            <i class="fa fa-edit"></i>
            Edit
          </a>
        </div>
      </div>
    </div>

    <h2>
      <entity-icon schema="entity.schema"></entity-icon>
      <entity-name entity="entity"></entity-name>
      <small>{{::entity.schema | schemaLabel : false}}</small>
    </h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered">
        <tr ng-repeat="bind in entity.binds track by bind.property.name">
          <th width="25%">{{::bind.property.label}}</th>
          <td>
            <property-values values="bind.values" property="bind.property">
            </property-values>
          </td>
        </tr>
      </table>
      <p>
        Source: <entity-source entity="entity"></entity-source>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="::showSimilar">
  <div class="row section-header">
    <div class="col-md-12">
      <h3>
        <i class="fa fa-fw fa-compress" aria-hidden="true"></i>
        <a id="similar"></a>
        Possible duplicates
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th>Duplicate</th>
          <th>Countries</th>
          <th>Source</th>
        </tr>
        <tbody ng-repeat="similar in similar.result.results track by similar.id">
          <tr>
            <td>
              <entity-icon schema="::similar.schema"></entity-icon>
              <strong>
                <a href="/entities/{{::similar.id}}">
                  <entity-name entity="similar"></entity-name>
                </a>
              </strong>
            </td>
            <td>
              <span ng-if="!similar.countries.length">&mdash;</span>
              <entity-countries entity="similar"></entity-countries>
            </td>
            <td>
              <entity-source entity="similar"></entity-source>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-pager" ng-if="similar.result.total > similar.result.limit">
        <div class="pull-right">
          <response-pager response="similar.result" load="loadSimilarOffset(offset)"></response-pager>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="::showLinks">
  <div class="row section-header">
    <div class="col-md-12">
      <h3>
        <i class="fa fa-fw fa-link" aria-hidden="true"></i>
        <a id="links"></a>
        Relationships
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <form ng-if="::showLinksNav" class="form-horizontal pages-query"
            role="search" ng-submit="searchLinks(form)">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="links.query.state.q"
                 placeholder="Search specific relationships">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
              Filter
            </button>
          </span>
        </div>
      </form>

      <table class="table">
        <tr>
          <th width="25%">Relationship</th>
          <th colspan="2">Entity</th>
        </tr>
        <tbody ng-repeat="link in links.result.results track by link.id">
          <tr>
            <td>{{::link.$schema.getLinkLabel(link)}}</td>
            <td colspan="2">
              <entity-icon schema="::link.remote.schema"></entity-icon>
              <strong>
                <a href="/entities/{{::link.remote.id}}">
                  <entity-name entity="link.remote"></entity-name>
                </a>
              </strong>
            </td>
          </tr>
          <tr ng-repeat="bind in link.binds track by bind.property.name">
            <td class="follow-up"></td>
            <th width="25%">{{::bind.property.label}}</th>
            <td>
              <property-values values="::bind.values" property="::bind.property">
              </property-values>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom-pager" ng-if="links.result.total > links.result.limit">
        <div class="pull-right">
          <response-pager response="links.result" load="loadLinksOffset(offset)">
          </response-pager>
        </div>
        <div class="total">
          {{links.result.total | number}} relationships.
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-if="::showLinksNav">
      <search-facet result="links.result" query="links.query" title="Types"
                    facet="schema" filter="schemata">
      </search-facet>
      <search-facet result="links.result" query="links.query" title="Countries"
                    facet="remote.countries" filter="remote.countries">
      </search-facet>
    </div>
  </div>
</div>


<div class="container-fluid" ng-if="::showDocuments">
  <div class="row section-header">
    <div class="col-md-12">
      <h3>
        <i class="fa fa-fw fa-file-text" aria-hidden="true"></i>
        <a id="documents"></a>
        Documents
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <span ng-if="::showDocumentsNav">
        <search-box query="documents.query"></search-box>
      </span>

      <div ng-repeat="doc in documents.result.results track by doc.id">
        <search-result doc="doc" result="documents.result" query="documents.query">
        </search-result>
      </div>

      <div class="bottom-pager" ng-if="documents.result.total > documents.result.limit">
        <div class="pull-right">
          <response-pager response="documents.result" load="loadDocumentsOffset(offset)"></response-pager>
        </div>
        <div class="total">
          {{documents.result.total | number}} documents.
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-if="::showDocumentsNav">
      <search-facet result="documents.result" query="documents.query" title="Collections"
                    facet="collections" filter="collection_id">
      </search-facet>

      <search-facets query="documents.query" result="documents.result" metadata="metadata">
      </search-facets>
    </div>
  </div>
</div>

<!-- div class="container-fluid">
  <div class="row section-header">
    <div class="col-md-12">
      <h3>
        <i class="fa fa-fw fa-bug" aria-hidden="true"></i>
        <a id="debug"></a>
        Debug information
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>
        Fingerprints:
        <code ng-bind="::entity.fingerprints | json"></code>
      </p>
    </div>
  </div>
</div -->
