@import "src/app/variables.scss";
@import "src/app/mixins.scss";

.DocumentManager {
  &__content {
    margin-top: $aleph-grid-size*2;

    &__empty {
      padding: 0 $aleph-grid-size*2 $aleph-grid-size*2;
      border: 1px dashed rgba(92, 112, 128, 0.6);
      cursor: pointer;
      max-width: $aleph-content-width-limit;

      .bp3-heading {
        color: rgba(92, 112, 128, 0.6);
        line-height: 1.5;
      }
    }
  }

  .Count {
    @include rtlSupportInvertedProp(margin, left, $aleph-grid-size/2 !important, null);
  }

  .align-middle {
    vertical-align: middle;
  }
}
