@import "src/app/variables.scss";

.DocumentContent {
  flex-direction: row !important;
  .outer {
    flex: 2;
    padding: $aleph-grid-size*4;
    background: $aleph-toolbar-background;
    .inner {
      background: white;
      box-shadow: $pt-elevation-shadow-3;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}