@import "src/app/variables.scss";

.EntityList {
  th div {
    display: flex;

    .caret {
      margin-left: auto;
      transition: opacity 0.1s;

      &.hidden {
        opacity: 0.1;
      }
    }
  }

  th:hover div .caret {
    opacity: 0.5;
  }
}
