@import "src/app/variables.scss";

.results-table {
    width: 100%;
}

.result {
    & > td {
        vertical-align: middle !important;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::before {
            display: inline-block;
            vertical-align: middle;
            background-size: cover;
        }
    }
}

.result__name {
    width: 40%;
    font-weight: bold;
}

.result__collection {
    width: 20%;
}

.result-property {
  margin-right: ($aleph-grid-size * 2);
}
