@import "src/app/variables.scss";

.EntityLabel {
  &.untitled {
    color: $aleph-greyed-text;
    // font-variant: small-caps;
    text-transform: uppercase;
  }
}

.EntityLink {
  &:visited {
    color: $aleph-visited-link-color;
  }
}
