.entity_info_border {
  border-bottom: 1px solid #b9b9b9;
}

.entity_info_origin {
  font-weight: bold;
  font-size: 21px;
}

.collection_card_entity_info {
  margin-top: 28px;
}

.th_class {
  font-weight: normal;
  color: gray;
}

.td_class {
  font-weight: 400;
}