.CaseDocumentsScreen {
    .case-viewer {
      padding-top: 2em;
    }
  
    .case-upload {
      padding-top: 2em;
      display: flex;
      flex-direction: column;
    }
  
    .case-upload-progress-bar {
      height: 1em;
    }
  
    .case-upload-button {
      width: 10em !important;
      margin-top: 1em;
    }
  
    .case-file-input {
      display: flex;
      flex-direction: row;
    }
  
    .uploaded-file {
      padding-left: 2em;
    }
  }
  