@import "src/app/variables.scss";

.SourcesIndexScreen {
    // margin-top: $aleph-grid-size * 2;

  .DualPane .InfoPane {
    box-shadow: none;
  }

  .note {
    color: $aleph-greyed-text;
    margin-top: $aleph-grid-size;
    padding-bottom: $aleph-grid-size * 2;
  }

  ul.results {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .SignInCallout{
    margin-bottom: $aleph-grid-size;
  }
}