@import "src/app/variables.scss";

.EntityToolbar {
  font-weight: normal;

  .button-close {
    margin: 0;
    float: right;
  }

  .bp3-icon {
    margin: 0 $aleph-icon-padding 0 0 !important;
    color: inherit !important;
  }
}
