@import "src/app/variables.scss";
@import "src/app/mixins.scss";

.EntityToolbar {
  font-weight: normal;

  .button-close {
    margin: 0;
    @include rtl(float, right, left);
  }

  .bp3-icon {
    margin: 0 $aleph-icon-padding 0 0 !important;
    color: inherit !important;
  }
}
