@import "app/variables.scss";

.EntityInfoMode {
  hr {
    border: 0;
    border-top: 1px solid $aleph-border-color;
    margin-top: $aleph-grid-size;
    margin-bottom: $aleph-grid-size * 2;
  }

  .value.big {
    vertical-align: middle;
  }
}

// Profile callout
.ProfileCallout {
  &.bp3-callout {
    background-color: $aleph-profile-dark !important;
    color: white;

    a {
      color: $aleph-profile-light;
    }

    .bp3-icon {
      color: white !important;
    }
  }
}