@import 'app/variables.scss';

.TimelineChartLabels {
  position: sticky;
  top: -1 * $aleph-content-padding;
  z-index: 1;
  width: 100%;
  height: 3 * $aleph-grid-size;
  margin-bottom: $aleph-grid-size;
}

.TimelineChartLabels__label {
  position: absolute;
  left: calc(
    var(--timeline-chart-label-start-day) * var(--timeline-chart-day-width)
  );
  /* prettier-ignore */
  width: calc(
    (var(--timeline-chart-label-end-day) - var(--timeline-chart-label-start-day)) * var(--timeline-chart-day-width)
  );

  line-height: 3 * $aleph-grid-size;

  color: $aleph-greyed-text;
  background-color: white;
  border-bottom: 1px solid $aleph-border-color;
}

.TimelineChartLabels--days .TimelineChartLabels__text,
.TimelineChartLabels--years .TimelineChartLabels__text {
  position: sticky;
  left: 0;
  margin-right: $aleph-content-padding;
}
