@import 'app/variables.scss';

.TimelineChart {
  position: relative;
  min-width: calc(var(--timeline-chart-days) * var(--timeline-chart-day-width));
  flex-grow: 1;
}

.TimelineChart--days {
  --timeline-chart-day-width: 20px;
}

.TimelineChart--months {
  --timeline-chart-day-width: 5px;
}

.TimelineChart--years {
  --timeline-chart-day-width: 1px;
}

.TimelineChart__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TimelineChart__list > * + * {
  margin-top: 0.5 * $aleph-grid-size;
}
