<!--
SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.

SPDX-License-Identifier: MIT
-->

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ entityset.label }}</title>
</head>

<body>
    <script type="text/javascript" src={{settings.REACT_FTM_URL}}></script>
    <script type="text/javascript">
        const data = {{ data | tojson }};
        window.reactFTM.renderEmbed({
            id: 'diagram-{{ entityset.id }}',
            type: 'NetworkDiagram',
            data: data,
            config: {
                containerProps: { style: { height: '100vh', width: '100vw' } }
            }
        });
    </script>
</body>

</html>