<!DOCTYPE html>
<html lang="en" ng-app="aleph">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>{{config.APP_TITLE}}</title>
    
    {% assets "css" %}
      <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ config.APP_FAVICON }}">
    <base href="{{url_for('ui')}}">
  </head>
  <body ng-controller="AppCtrl">
    <div id="page">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/#/"><img alt="{{config.APP_TITLE}}" src="{{config.APP_LOGO}}"></a>
            <a class="navbar-brand" href="/#/">{{config.APP_TITLE}}</a>
          </div>

          <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-show="!session.logged_in" ng-cloak>
                <a href="{{url_for('sessions.login')}}" target="_self">
                  <i class="fa fa-sign-in"></i> Sign in
                </a>
              </li>
              <li ng-show="session.logged_in" ng-cloak>
                <a ng-click="editProfile($event)">
                  <i class="fa fa-cog"></i> Settings
                </a>
              </li>
              <li ng-show="session.logged_in" ng-cloak>
                <a ng-click="manageAlerts($event)">
                  <i class="fa fa-bell"></i> Alerts
                </a>
              </li>
              <li ng-show="session.logged_in" ng-cloak>
                <a href="{{url_for('sessions.logout')}}" target="_self">
                  <i class="fa fa-sign-out"></i> Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="spinner-overlay" ng-hide="routeLoaded">
        <div class="spinner" ng-hide="routeFailed">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <div class="spinner failed" ng-cloak ng-show="routeFailed">
          <i class="fa fa-exclamation-triangle"></i>
          <div class="failure-note">
            He's dead, Jim.
          </div>
        </div>
      </div>
      <div id="view" class="container-fluid">
        <div ng-cloak ng-view autoscroll="true"></div>
      </div>
    </div>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p class="pull-right">
              <strong>&alefsym;</strong>
              aleph search engine &middot;
              <i class="fa fa-github-square"></i>
              <a href="https://github.com/pudo/aleph">source code</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    {% include "analytics.html" %}

    {% for path, tmpl in templates %}
      <script id="{{path}}" type="text/ng-template">{{ tmpl | safe }}</script>
    {% endfor %}

    {% assets "base" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "angular" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "app" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
