<!DOCTYPE html>
<html lang="en" ng-app="aleph">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{config.APP_TITLE}}</title>
    
    {% assets "css" %}
      <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <link rel="shortcut icon" href="http://www.codeforafrica.org/favicon.png" type="image/x-icon" />
  </head>
  <body ng-controller="AppCtrl">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-show="session.logged_in">
      <div class="container-fluid">
        <form class="navbar-form navbar-left"
          role="search" ng-submit="submitSearch()">
          <div class="form-group">
            <div class="input-group navbar-searchbox">
              <span class="input-group-addon">&alefsym;</span>
              <input type="text" class="search-query form-control" autofocus
                ng-model="query.q" placeholder="Search people, companies and other entities">
            </div>
          </div>
        </form>

        <div id="navbar" class="collapse navbar-collapse navbar-right" ng-cloak>
          <ul class="nav navbar-nav">
            <li>
              <a ng-click="editProfile()" href='#' ng-bind="session.user.display_name"></a>
            </li>
            <li>
              <a href="{{url_for('sessions.logout')}}" target="_self">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="airlock" class="container-fluid" ng-view></div>

    {% for path, tmpl in templates %}
      <script id="{{path}}" type="text/ng-template">{{ tmpl | safe }}</script>
    {% endfor %}

    {% assets "js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
