@import "src/app/variables.scss";

.Footer {
  position: fixed !important;
  bottom: 0;
  width : 100%;
  background-color: $aleph-footer-background;
  border-top: 1px solid $aleph-border-color;

  p {
    text-align: center;
    padding: $aleph-grid-size $aleph-grid-size*2 0 $aleph-grid-size*2;
  }

  a, a:hover {
    color: inherit;
    text-decoration: underline;
  }
}