@import "src/app/variables.scss";

.Dashboard {
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    align-items: stretch;
    padding: $aleph-grid-size * 2;

    .dashboard-menu {
        flex: flex;
        flex-direction: column;
        flex-grow: 1;

        .bp3-menu {
            background-color: inherit !important;
        }
    }

    .dashboard-body {
        display: flex;
        flex-direction: column;
        flex-grow: 6;
        overflow-x: auto;
    }
}