/*
 * SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";

.DocumentUploadForm {
  &__secondary {
    padding-top: $aleph-grid-size;
  }

  &__hidden-input {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;

    &__label {
      color: $blue2;
      cursor: pointer;
    }
  }
}
