@import "src/app/variables.scss";

.DocumentUploadInput {
  display: inline-block;
  position: relative;
  text-align: center;

  &__label {
    display: block;

    .bp3-icon {
      margin-left: 0 !important;
    }
  }

  &__hidden-input {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
  }
}
