
<div class="panel panel-default panel-facet" ng-hide="hidden">
  <div class="panel-heading">

    <span class="pull-right" ng-if="::expandable">
      <a ng-click="query.toggle('facet', facet)">
        <i ng-if="collapsed" class="fa fa-caret-square-o-down" aria-hidden="true"></i>
        <i ng-if="!collapsed" class="fa fa-caret-square-o-up" aria-hidden="true"></i>
      </a>
    </span>

    <span class="pull-right" ng-if="::isEntity">
      <a class="btn btn-xs btn-default"
         ng-if="::authz.logged_in()"
         ng-click="createEntity($event)">
        <i class="fa fa-plus"></i> New
      </a>
    </span>

    <strong>{{::title}}</strong>
    <small ng-if="empty && !collapsed">no options</small>
  </div>
  <ul class="list-group" ng-hide="collapsed || empty">
    <li class="list-group-item" ng-repeat="val in values track by facetKey(val)"
      ng-click="query.toggleFilter(filter, val.id)"
      ng-class="{'active': query.hasFilter(filter, val.id)}"
      ng-if="val.label">
      <span class="lbl" >
        <span ng-if="::isEntity">
          <entity-icon schema="::val.schema"></entity-icon>
        </span>
        <span ng-if="::isSchema">
          <entity-icon schema="::val.id"></entity-icon>
        </span>
        <span ng-if="::(isCollection || isDataset)">
          <privacy-icon subject="::val"></privacy-icon>
        </span>
        <span>
          {{::val.label}}
        </span>
      </span>
      <span class="badge">
        {{val.count | number}}
        <span ng-if="::isEntity">
          <a ng-click="editEntity(val, $event)" ng-if="::authz.entityWrite(val)">
            <i class="fa fa-cog"></i>
          </a>
        </span>
        <span ng-if="::isCollection">
          <a ng-href="/collections/{{::val.id}}">
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </span>
      </span>
    </li>
  </ul>
</div>
