@import "src/app/variables.scss";

.CollectionBrowser {
    margin-top: $aleph-grid-size * 2;

    .title {
        margin: $aleph-grid-size;
        margin-left: $aleph-grid-size * 3;
        display: flex;
        flex-flow: row wrap;
        width: inherit;
        align-items: flex-end;
        justify-content: space-between;

        h3 {
            margin-bottom: 0;
        }

        .pt-input-group {
            max-width: 15em;
        }
    }

    .results {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;
    }
    
    .result {
        padding: $aleph-grid-size;
        flex: 1 0 33%;
        
        .CollectionCard {
            height: 100%;
            width: 100%;
        }
    }
}