@import "src/app/variables.scss";

.CollectionBrowser {
  margin-top: $aleph-grid-size * 2;
  min-height: 94.5vh;

  .DualPane .InfoPane {
    box-shadow: none;
  }

  .note {
    color: $aleph-greyed-text;
    margin-top: $aleph-grid-size;
  }

  ul.results {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}