
<div class="btn-toolbar" role="toolbar">
  <button class="btn btn-default" ng-click="backToSearch()" ng-show="hasBackSearch()">
    <i class="fa fa-chevron-left"></i>
    Back to search
  </button>
  <button class="btn btn-default" ng-click="openParent()" ng-show="doc.parent">
    <i class="fa fa-chevron-up"></i>
    <strong ng-bind="::doc.parent.title | characters: 40"></strong>
  </button>
  <div class="btn-group" role="group">
    <button class="btn btn-default" ng-click="goPrevious()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button class="btn btn-default" disabled="disabled">
      Page {{pageNum}} of {{pageCount}}
    </button>
    <button class="btn btn-default" ng-click="goNext()">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button ng-class="{'active': viewText}" class="btn btn-default"
      ng-click="toggleViewText()">
      Show text
    </button>
  </div>
</div>

<div ng-hide="viewText">
  <canvas id="pdf" class="rotate0"></canvas>
</div>

<div ng-show="viewText">
  <pre ng-bind="pageText"></pre>
</div>
