
<div class="alert alert-suggest" ng-if="offerEntity">
  Looking for
  <a ng-click="setEntity(entity)">
    <entity-icon schema="entity.$schema"></entity-icon> {{entity.name}}</a>?
</div>

<div class="alert alert-suggest">
  <div ng-if="offerCreate">
    Do you want to track <strong>{{queryText}}</strong>? Set an alert to get notified of new results.
  </div>
  Is this everything? <a href="/help/completeness">Read more</a>
</div>

<div class="alert alert-suggest" ng-if="offerSignin">
  Want to keep track of <strong>{{queryText}}</strong>?
  <a ng-click="triggerLogin()">Sign in</a> to create watchlists of people and companies.
</div>
