
<div class="alert alert-suggest" ng-if="offerEntity">
  Looking for
  <a ng-click="setEntity(entity)">
    <entity-icon schema="entity.schema"></entity-icon> {{entity.name}}</a>?
</div>

<div class="alert alert-suggest" ng-if="offerCreate">
  Do you want to track <strong>{{queryText}}</strong>? Add a
  <a ng-click="createQueryEntity('Person')">
    <entity-icon schema="'Person'"></entity-icon> Person</a>,
  <a ng-click="createQueryEntity('Company')">
    <entity-icon schema="'Company'"></entity-icon> Company</a>,
  or
  <a ng-click="createQueryEntity('Organization')">
    <entity-icon schema="'Organization'"></entity-icon> Organization</a>
  to a watchlist.
</div>

<div class="alert alert-suggest" ng-if="offerSignin">
  Want to keep track of <strong>{{queryText}}</strong>?
  <a ng-click="triggerLogin()">Sign in</a> to create watchlists of people and companies.
</div>
