<div class="screen">
  <div class="row search-bar">
    <div class="col-md-8">
      <search-box query="query"></search-box>
    </div>
    <div class="col-md-4">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group">
          <button type="button" class="btn" ng-click="toggleAlert()"
            ng-if="::authz.logged_in()" ng-disabled="!canCreateAlert()"
            ng-class="{'btn-success': hasAlert(), 'btn-primary': !hasAlert()}">
            <i class="fa fa-bell"></i>
            <span ng-if="hasAlert()">
              Disable alert
            </span>
            <span ng-if="!hasAlert()">
              Set an alert
            </span>
          </button>
          <button type="button" class="btn btn-primary" ng-click="triggerLogin()"
            ng-if="::!authz.logged_in()" ng-disabled="!canCreateAlert()">
            <i class="fa fa-bell"></i>
            Sign in to set an alert
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-danger" role="alert" ng-if="result.status == 'error'">
        <strong>An error occurred while running your search.</strong>
        {{result.message}}
      </div>

      <div ng-if="result.status == 'ok'">
        <search-entity-suggest query="query"></search-entity-suggest>

        <div>
          <div ng-repeat="doc in result.results track by doc.id">
            <search-result doc="doc" result="result" query="query"></search-result>
          </div>

          <div class="bottom-pager">
            <div class="pull-right">
              <response-pager response="result" load="loadOffset(offset)"></response-pager>
            </div>
            <div class="total" ng-if="!result.total">
              No results were found.
            </div>
            <div class="total" ng-if="result.total">
              Found {{result.total | number}} documents.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <search-facet result="result" query="query" title="Document collections"
                    facet="collections" filter="collection_id">
      </search-facet>

      <search-facets query="query" result="result"
               metadata="metadata" collection="collection">
      </search-facets>

      <div class="panel panel-default" ng-if="result.total < 9500">
        <div class="panel-heading">
          <strong>Work with the result list</strong>
        </div>
        <div class="panel-body">
          <p>
            Download links and metadata for all documents
            matching your search criteria to go through them
            in detail.
          </p>
          <a class="btn btn-primary"
            ng-href="/api/1/query/export?{{queryString}}"
            download target="_self">
            <i class="fa fa-file-excel-o"></i>
            Excel file ({{result.total | number}} results)
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
