<div class="screen-header">
  <div class="header-body">
    <h2>
      <i class="fa fa-fw fa-file-text"></i>
      Document collections
    </h2>
  </div>
</div>

<div class="screen">
  <div class="row search-bar">
    <div class="col-md-8">
      <form class="form-horizontal" role="search" ng-submit="submitSearch(form)">
        <div class="input-group">
          <input type="text" class="form-control" autofocus ng-model="search.q"
                 placeholder="Search all documents">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="list-group">
        <a ng-repeat="collection in collections.results track by collection.id"
           href="/documents?filter:collection_id={{::collection.id}}"
           class="list-group-item">
          <span class="badge" ng-if="collection.doc_count">
            {{::collection.doc_count | number}}
          </span>
          <privacy-icon subject="collection"></privacy-icon>
          <strong>{{::collection.label}}</strong>
        </a>
      </div>

      <div class="bottom-pager">
        <div class="pull-right">
          <response-pager response="collections" load="loadOffset(offset)"></response-pager>
        </div>
        <div class="total" ng-if="collections.limit > 0 && collections.total">
          Found {{collections.total | number}} source collections.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <search-facet result="collections" query="query" title="Categories"
                    facet="category">
      </search-facet>
      <search-facet result="collections" query="query" title="Countries"
                    facet="countries">
      </search-facet>
    </div>
  </div>
</div>
