<div class="screen">
  <div class="row">
    <div class="col-md-8">
      <ng-pdf template-url="templates/documents/pdf.html" canvasid="pdf" scale="page-fit"
        page="{{pageNum}}"  ng-hide="loading"></ng-pdf>

      <document-children children="children" doc="doc"></document-children>
    </div>

    <div class="col-md-4">
      <form class="form-horizontal pages-query" ng-submit="updateTextQuery()">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" class="form-control"
            ng-model="textQuery"
            placeholder="Search within this document">
        </div>
        <div class="pages-list" ng-show="pages.total">
          <table class="table">
            <tr ng-repeat="page in pages.results" ng-class="{'selected': pageNum == page.index}">
              <th width="1%">
                <a ng-click="setPage(page.index)">pg.&nbsp;{{page.index}}</a>
              </th>
              <td>
                <span ng-bind-html="page.snippet" class="highlights"></span>
              </td>
            </tr>
          </table>
        </div>
      </form>

      <metadata-sidebar doc="doc"></metadata-sidebar>
    </div>
  </div>
</div>
