# SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
#
# SPDX-License-Identifier: MIT

[http.middlewares.simpleAuth.basicAuth]
  users = [
    "admin:$aThis-Password-REDACTED-6AM/"
  ]

[http.routers.api]
  rule = "Host(`traefik.your-base-domain`)"
  entrypoints = ["websecure"]
  middlewares = ["simpleAuth"]
  service = "api@internal"
  [http.routers.api.tls]
    certResolver = "lets-encrypt"
