@import "src/app/variables.scss";
@import "src/app/mixins.scss";

$notification-items-padding: $aleph-grid-size/6;

.Notification {
  padding: $aleph-grid-size;
  line-height: 1.5em;
  border-bottom: 1px solid $aleph-border-color;
  display: flex;
  justify-content: space-between;

  .notification-action {
    display: flex;
    flex-wrap: wrap;
    .param {
      font-weight: bold;
            
      .bp3-icon, .bp3-icon svg {
        @include rtlSupportInvertedProp(margin, right, 1px, null);
        @include rtlSupportInvertedProp(padding, right, $notification-items-padding, null);
      }
      .Role {
        span {
          @include rtlSupportInvertedProp(padding, right, $notification-items-padding, null);
        }
      }
    }
    .token {
      @include rtlSupportInvertedProp(padding, right, $notification-items-padding, null);
    }
  }

  .timestamp {
    color: $aleph-greyed-text;
    white-space: nowrap;
    // font-size: $pt-font-size-small;
  }

  .EntityLabel {
    vertical-align: inherit;
  }

}
