@import "src/app/variables.scss";
@import "src/app/mixins.scss";

$notification-items-padding: 1px;

.Notification {
  padding: $aleph-grid-size;
  line-height: 1.5em;
  border-bottom: 1px solid $aleph-border-color;
  display: flex;
  justify-content: space-between;

  .notification-action {
    .param {
      font-weight: bold;
      .bp3-icon, .bp3-icon svg {
        @include rtlSupportInvertedProp(margin, right, 1px, null);
      }
      .Role {
        span {
          @include rtlSupportInvertedProp(padding, right, $notification-items-padding, null);
        }
      }
    }
    .token {
      @include rtlSupportInvertedProp(padding, right, $notification-items-padding, null);
    }

    .bp3-icon.left-icon {
      @include rtlSupportInvertedProp(padding, right, 3px !important, null);
    }

    & > * {
      padding: 0 $notification-items-padding;
      display: inline;
    }
  }

  .timestamp {
    color: $aleph-greyed-text;
    white-space: nowrap;
    @include rtlSupportInvertedProp(padding, left, $aleph-grid-size*2, null);
    @include rtl(text-align, right, left);
  }

  .EntityLabel {
    vertical-align: inherit;
  }
}
