@import "app/variables.scss";
@import "app/mixins.scss";

.EntitySearchResults-outer-container {
  position: relative;
}

.EntitySearchResults-inner-container {
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0;
  position: relative;
}

.EntitySearchResults {
  border-color: $aleph-border-color;

  .bp3-control {
    margin-bottom: 0 !important;
  }
}

.EntitySearchResultsRow {
  &.active {
    em {
      background: inherit;
    }
  }

  em {
    background: $aleph-text-highlight-color;
    font-style: normal;
  }

  .highlights {
    // @include rtlSupportInvertedProp(padding, left, $aleph-grid-size*3.2, null);
    &__content {
      max-width: $aleph-content-width-limit;
    }
  }

  td {
    min-width: 120px;

    &.caption {
      min-width: 240px;
    }
    &.collection_id {
      min-width: 175px;
    }
  }
}

//medium and small screen
@media screen and (max-width: $aleph-screen-md-max-width) {
  .EntitySearchResults {
    .header-country, .header-dates, .header-size {
      display: none;
    }

    .country, .date, .file-size {
      display: none;
    }
  }
}
