@import "app/variables.scss";
@import "app/mixins.scss";

.EntitySearchResults-container {
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0;
  position: relative;
}

.EntitySearchResults {
  border-color: $aleph-border-color;
  .schema {
    max-width: 8em;
    @media screen and (max-width: $aleph-screen-md-max-width) {
      display: none;
    }
  }

  .bp3-control {
    margin-bottom: 0 !important;
  }

  th:first-child, td:first-child {
    position: sticky;
    left: 0;
    z-index: 9998;
    background: white;
    border-right: 1px solid $aleph-border-color;
  }
}

.EntitySearchResultsRow {
  &.active {
    em {
      background: inherit;
    }
  }

  em {
    background: $aleph-text-highlight-color;
    font-style: normal;
  }

  .highlights {
    @include rtlSupportInvertedProp(padding, left, $aleph-grid-size*3.2, null);
  }

  td {
    min-width: 110px;

    &.caption {
      min-width: 220px;
    }
    &.collection_id {
      min-width: 170px;
    }
  }
}

//medium and small screen
@media screen and (max-width: $aleph-screen-md-max-width) {
  .EntitySearchResults {
    .header-country, .header-dates, .header-size {
      display: none;
    }

    .country, .date, .file-size {
      display: none;
    }
  }
}
