@import 'src/app/variables.scss';

.warning-folder {
  width: 100%;
  height: 2.5em;
  border-color: $warning-border-color;
  background-color: $warning-background-color;
  color: $warning-text-color;
  display: inline-flex;
  padding-left: 35%;
  padding-top: 6px;
}