<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal" ng-submit="search()">
      <input class="form-control" ng-model="query.text" placeholder="Search for nodes...">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="query.collectionFilter" ng-change="search()">
          Search only within the current collection
        </label>
      </div>
    </form>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="node in suggestedNodes track by node.id" ng-click="addNode(node)">
      <node-icon node="node"></node-icon>
      {{::node.name | characters:30 }}
      <span class="badge">
        {{node.$degree}}
      </span>
    </li>
  </ul>
</div>
