<div class="panel panel-default">
  <div class="panel-heading">
    <node-icon node="node.data"></node-icon> <strong ng-bind="node.name"></strong>
  </div>
  <table class="table" ng-if="attributes.length">
    <tr ng-repeat="(name, value) in attributes">
      <th ng-bind="::name"></th>
      <td ng-bind="::value"></td>
    </tr>
  </table>
  <ul class="list-group" ng-show="hasEdges == true">
    <li class="list-group-item">
      <form class="form-horizontal" ng-submit="search()">
        <input class="form-control" ng-model="query.text" placeholder="Search associations">
      </form>
    </li>
    <li class="list-group-item" ng-repeat="edge in suggestedEdges track by edge.id" ng-click="addEdge(edge)">
      <div class="pull-right"><span class="label label-primary">{{edge.$type}}</span></div>
      <node-icon node="edge.$other"></node-icon>
      {{::edge.$other.name | characters:30 }}
    </li>
  </ul>
  <div class="panel-body" ng-show="hasEdges == false">
    <em>There are no further links for this node.</em>
  </div>
  <div class="panel-footer">
    <div class="btn-group">
      <a class="btn btn-sm btn-default" ng-if="node.type == 'Document'"
         ng-href="{{getDocumentUrl()}}" target="_blank">
        <i class="fa fa-edit" aria-hidden="true"></i>
        View
      </a>
      <a class="btn btn-sm btn-default" ng-if="node.type != 'Document'"
         ng-href="/search?{{getSearchQuery()}}" target="_blank">
        <i class="fa fa-search" aria-hidden="true"></i>
        Search
      </a>
      <a class="btn btn-sm btn-default" ng-if="node.data.alephEntity"
          ng-click="editEntity()">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Edit
      </a>
      <a class="btn btn-sm btn-default" ng-click="remove()">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Remove
      </a>
    </div>
  </div>
</div>
