@import "~@blueprintjs/core/dist/variables";

.search-filter-collections {
  display: flex;
  height: 100%;
  margin-top: $pt-grid-size;
}

.search-filter-collections__col {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:first-child {
    flex: 1;
  }

  &:last-child {
    border-left: 2px solid $light-gray2;
    width: 250px;
  }
}

.search-filter-collections__col__row,
.search-filter-collections__col__flex-row {
  margin: $pt-grid-size ($pt-grid-size * 2);
}

.search-filter-collections__col__flex-row {
  flex: 1;
  overflow: auto;
}

.search-filter-collections-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    position: relative;
    cursor: pointer;
    padding: $pt-grid-size $pt-grid-size 0 ($pt-grid-size * 2 + 16px);
    overflow: auto;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: $pt-grid-size;;
      left: $pt-grid-size;
      background-image: url(./icons/collection.svg);
      width: 16px;
      height: 16px;
    }

    &:nth-child(odd) {
      background: $light-gray5;
    }

    &:hover {
      background-color: $gray5;
    }
  }
}

.search-filter-collections-facet {
  list-style: none;
  margin: 0;
  padding: ($pt-grid-size / 2) 0;

  & > li {
    position: relative;
    cursor: pointer;
    padding: ($pt-grid-size / 2) $pt-grid-size;
    padding-left: ($pt-icon-size-standard + $pt-grid-size * 2);

    & > .search-tick {
      position: absolute;
      left: $pt-grid-size;
      top: ($pt-grid-size / 2);
      line-height: $pt-line-height;
    }

    &:hover {
      background-color: $gray5;
    }
  }
}

// Overrides some .pt-dialog CSS
.search-filter-collections-dialog.pt-dialog {
  top: ($pt-grid-size * 2);
  bottom: ($pt-grid-size * 2);
  width: calc(100% - #{$pt-grid-size * 4});
  margin-bottom: 0;
  padding-bottom: $pt-grid-size;
}
