@import "~@blueprintjs/core/dist/variables";

.search-filter {
  padding: $pt-grid-size * 2;
  margin-bottom: $pt-grid-size * 2;
  background-color: $gray3;
  color: white;
}

.search-query {
  display: flex;
}

.search-query__text {
  flex: 1;

  & > input[type=search] {
    border-radius: $pt-border-radius;
  }
}

.search-query__text,
.search-query__button {
  padding-right: $pt-grid-size;

  &:last-child {
    padding-right: 0;
  }
}

.search-filter-schema > .pt-tab-list {
  flex-wrap: wrap;
}

.search-filter-countries,
.search-filter-collections {
  color: $dark-gray1;

  & > .pt-spinner:not(.pt-svg-spinner) {
    display: block;
    margin: 0 auto;
    overflow: hidden;
  }
}

.search-filter-countries {
  overflow: auto;
  width: 150px;
  max-height: 90vh;
  padding: ($pt-grid-size / 2) 0;
}

.search-filter-collections.pt-dialog {
  left: ($pt-grid-size * 2);
  right: ($pt-grid-size * 2);
  bottom: $pt-grid-size;
  width: auto;
  transform: scale(1);
  padding: $pt-grid-size;
  flex-direction: row;
  background-color: $white;
}

.search-filter-collections-col {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:last-child {
        border-left: 2px solid $light-gray2;
        width: 300px;
    }
}

.search-filter-collections-col__blah,
.search-filter-collections-col__fill {
    margin: $pt-grid-size;
}

.search-filter-collections-col__fill {
    flex: 1;
    overflow: auto;
}

.search-filter-countries-list,
.search-filter-collections-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.search-filter-countries-list > li {
  position: relative;
  cursor: pointer;
  padding: ($pt-grid-size / 2) $pt-grid-size;
  padding-left: ($pt-icon-size-standard + $pt-grid-size * 2);

  & > .pt-icon-standard {
    position: absolute;
    left: $pt-grid-size;
    top: ($pt-grid-size / 2);
    line-height: $pt-line-height;
  }

  &:hover {
    background-color: $gray5;
  }
}

.search-filter-collections-list > li {
    position: relative;
    padding: $pt-grid-size $pt-grid-size 0 ($pt-grid-size * 2 + 16px);
    overflow: auto;

    &::before {
        content: "";
        position: absolute;
        top: $pt-grid-size;;
        left: $pt-grid-size;
        background-image: url(./icons/collection.svg);
        width: 16px;
        height: 16px;
    }

    &:nth-child(odd) {
        background: $light-gray4;
    }
}
