@import "~@blueprintjs/core/dist/variables";

.search-filter-countries {
  color: $dark-gray1;
  overflow: auto;
  width: 150px;
  max-height: 90vh;
  padding: ($pt-grid-size / 2) 0;
}

.search-filter-countries-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    position: relative;
    cursor: pointer;
    padding: ($pt-grid-size / 2) $pt-grid-size;
    padding-left: ($pt-icon-size-standard + $pt-grid-size * 2);

    & > .pt-icon-standard {
      position: absolute;
      left: $pt-grid-size;
      top: ($pt-grid-size / 2);
      line-height: $pt-line-height;
    }

    &:hover {
      background-color: $gray5;
    }
  }
}
