@import "~@blueprintjs/core/dist/variables";

.search-filter-collections {
  display: flex;
  height: 100%;
  margin-top: $pt-grid-size;
}

.search-filter-collections__col {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:first-child {
    flex: 1;
  }

  &:last-child {
    border-left: 2px solid $light-gray2;
    width: 250px;
  }
}

.search-filter-collections__col__row,
.search-filter-collections__col__flex-row {
  margin: $pt-grid-size ($pt-grid-size * 2);
}

.search-filter-collections__col__flex-row {
  flex: 1;
  overflow: auto;
}

.search-filter-collections-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-filter-collections-list-item {
  position: relative;
  padding-top: $pt-grid-size;
  padding-right: ($pt-grid-size * 2 + 16px);
  padding-left: ($pt-grid-size * 2 + 16px);
  cursor: pointer;
  overflow: auto;
  width: 100%;

  & > .pt-icon {
    position: absolute;
    left: $pt-grid-size;
  }

  &:nth-child(odd) {
    background: $light-gray5;
  }

  &:hover {
    background-color: $gray5;
  }

  & > .pt-checkbox {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    margin: 0;
  }
}

// Overrides some .pt-dialog CSS
.search-filter-collections-dialog.pt-dialog {
  top: ($pt-grid-size * 2);
  bottom: ($pt-grid-size * 2);
  width: calc(100% - #{$pt-grid-size * 4});
  margin: 0;
  padding-bottom: $pt-grid-size;

  .pt-dialog-container > & {
    position: absolute !important;
  }
}
