@import "~@blueprintjs/core/dist/variables";

.results {
    width: 100%;
}

.result {
    font-size: 12px;

    & > td {
        vertical-align: middle !important;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::before {
            display: inline-block;
            vertical-align: middle;
            background-size: cover;
        }
    }
}

.result__name {
    width: 50%;
    font-size: 14px;
    font-weight: bold;

    &::before {
        content: "";
        margin-right: $pt-grid-size;
        width: 30px;
        height: 30px;
        background-color: $gray3;
        border-radius: 100px;

        .result--document & {
            background-image: url(./icons/Document.svg);
        }

        .result--person & {
            background-image: url(./icons/Person.svg);
        }

        .result--legal-entity & {
            background-image: url(./icons/LegalEntity.svg);
        }
    }
}

.result__collection {
    &::before {
        content: "";
        background-image: url(./icons/collection.svg);
        width: 16px;
        height: 16px;
        margin-right: $pt-grid-size / 2;
    }
}
