@import "~@blueprintjs/core/dist/variables";

.search-filter {
  padding: $pt-grid-size * 2;
  margin-bottom: $pt-grid-size * 2;
  background-color: $gray3;
  color: white;
}

.search-input.pt-input[type="search"] {
  border-radius: $pt-border-radius;
}

.search-query {
  display: flex;
}

.search-query__text {
  flex: 1;
}

.search-query__text,
.search-query__button {
  padding-right: $pt-grid-size;

  &:last-child {
    padding-right: 0;
  }
}

.search-filter-schema > .pt-tab-list {
  flex-wrap: wrap;
}

.search-filter-loading.pt-spinner:not(.ptv-svg-spinner) {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: $pt-grid-size;
}

.search-tick {
  &::before {
    content: $pt-icon-tick;
  }

  opacity: 0.1;
  &.is-ticked {
    transition: opacity 0.2s ease-out;
    opacity: 1;
  }
}
