
#airlock {
}

pre {
    border: 0;
}

.close-area {
    margin-bottom: 1em;
}

.search-area {
    margin-top: 2em;
    margin-bottom: 2em;
}

.facet-active {
    color: red;
    font-weight: bold;
}

ul.results {
    list-style-type: none;

    padding: 0;

    em {
        font-style: normal;
        font-weight: bold;
    }

    li.result {
        margin-bottom: 1.3em;

        .title {
            font-size: 1.2em;
            display: block;
        }

        .source {
            font-size: 0.9em;
            a { color: green; }
        }

        .placeholder {
            color: #999;
        }
    }

    li.result.active {
        background-color: #eee;
    }
}

.table.table-details {
    table-layout:fixed;

    th {
        width: 25%;
    }

    td {
        overflow:hidden;
        w-hite-space:nowrap;
        word-wrap: break-word;
    }
}

