@import "src/app/variables.scss";

.DiagramImport {
  &__file-name.bp3-button {
    margin-bottom: 20px;
    border: 1px solid;

    &:hover {
      border-color: transparent;
    }
  }

  &__placeholder {
    padding: 20px;
    border: 1px dashed $aleph-border-color;
    cursor: pointer;
    transition: background .1s ease-in-out;

    &:hover {
      background: $light-gray3;
    }
  }
}
