@import "src/app/variables.scss";

.DiagramImport {
  &__file-name {
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 20px;
    display: block;

    .bp3-icon {
      padding-right: 5px;
    }
  }

  &__placeholder {
    padding: 20px;
    border: 1px dashed $aleph-border-color;
    cursor: pointer;
    transition: background .1s ease-in-out; 

    &:hover {
      background: $light-gray3;
    }
  }
}
