@import "src/app/variables.scss";

$top-nav-height: 50px;
$breadcrumb-height: 44px;
$footer-height: 30px;

.DiagramEditor {
  .VisGraph {
    height: calc(100vh - #{$top-nav-height + $breadcrumb-height + $footer-height});
    background: white;
    overflow: hidden;
  }

  .Sidebar__search-text {
    font-style: normal;
  }
}
