@import "src/app/variables.scss";

.DiagramList {
  &__items {
    display: flex;
    margin: -$aleph-content-padding/2;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: left;
    flex-flow: row wrap;
    align-content: flex-end;
  }
}
