@import "src/app/variables.scss";

.DiagramListItem {
  padding: $aleph-content-padding/2;
  flex: auto;
  width: 33.33%;
  max-width: 33.33%;

  @media screen and (max-width: $aleph-screen-lg-max-width) {
    width: 50%;
    max-width: 50%;
  }

  @media screen and (max-width: $aleph-screen-md-max-width) {
    width: 100%;
    max-width: 100%;
  }

  h4 {
      font-weight: bold;

      .bp3-tag {
          float: right;
          display: block;
      }

      .bp3-icon {
          padding-bottom: 2px;
      }
  }

  .summary {
      font-size: $pt-font-size;
      margin-bottom: $aleph-grid-size;
  }

  .details {
      margin-bottom: 0;
      color: $aleph-greyed-text;
  }

  .details-item {
      display: inline-block;
      min-width: 8em;
      margin-right: 2em;

      .bp3-icon {
          margin-right: $aleph-icon-padding;
      }
  }
}
