@import "app/variables.scss";
@import "app/mixins.scss";

.DiagramList {
  @include rtlSupportInvertedProp(margin, right, 1px, null);
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
    margin: -$aleph-content-padding/2;
    margin-top: 0;
    margin-bottom: 0;
  }
}
