@import "src/app/variables.scss";

.DiagramEditor {
  // background: #ebf1f5;
  .VisGraph {
    height: calc(100vh - 120px);
    margin: $aleph-content-padding $aleph-content-padding;
    background: white;
    overflow: hidden;
    box-shadow:
      0 0 0 1px rgba(16, 22, 26, 0.1),
      0 2px 6px rgba(16, 22, 26, 0.2);
  }
}
