---
import { Youtube } from 'astro-theme-docs/components';
const { youtubeId } = Astro.props;
---

<style>
  .VideoTutorial {
    background-color: rgba(0, 0, 0, 0.95);
    color: rgba(255, 255, 255, 0.8);
    border-radius: var(--radius);
    overflow: hidden;
  }

  .VideoTutorial__info {
    padding: calc(0.75 * var(--space)) var(--space-sm);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .VideoTutorial__heading.VideoTutorial__heading {
    color: #fff;
  }
</style>

<article class="VideoTutorial">
  <div class="VideoTutorial__info">
    <h2 class="VideoTutorial__heading section-heading">Video tutorial</h2>
    <p>
      Are you in a hurry and don't have time to read? Watch our short video on
      how to create an Aleph account.
    </p>
  </div>
  <Youtube id={youtubeId} />
</article>
