@import "src/app/variables.scss";


.CasesIndexScreen {

  .explainer {
    background-color: black;
    background-image: url("../../assets/europe_asia_dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex-grow:0;

    .ContentPane, .SidePane {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    &, h1 {
      color: white;
    }

    .bp3-icon {
      float: right;
    }
    
    p.description-explanation {
      margin-bottom: $aleph-grid-size * 2;
      line-height: 1.5em;
      font-size: 1.1em;
    }
  }

  ul.results {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .table-padded {
    padding: $aleph-grid-size*1 $aleph-grid-size * 3 ;

  }
  .add-case{
    margin-bottom: $aleph-grid-size ;
    padding-bottom: $aleph-grid-size ;
    border-bottom: 1px solid $table-border-color;
    display:flex;
    flex-direction: row-reverse;
  }
  .case-search{
    flex-grow: .3;
  }
}
