.CasesIndexScreen {

  .explanation {
    
  }

  .error-and-add-button {
    margin-top: 5em;
    text-align: center;
  }

  .add-case-button {
    margin-top: 2em;
  }

  .ContentPane {
    padding: 0 !important;
  }

  .filter-cases {
      width: 30em;
      margin-top: 2em;
      margin-left: 14em;
  }
}