@import "src/app/variables.scss";

.EntityImport {
  &__status {
    margin-bottom: $aleph-grid-size*2;

    span {
      margin: 0 2px;
      // color: #106ba3;
    }

    .bp3-heading {
      color: #106ba3 !important;
    }
  }

  &__info {
    margin-bottom: $aleph-grid-size*2;
  }

  &__section {
    margin: 45px 0;
    padding-bottom: 45px;
    border-bottom: 1px solid $aleph-border-color;

    &:last-child {
      border: none;
    }

    &__title.bp3-heading {
      color: #0d598a;
      margin-bottom: 25px;
    }
  }

  &__split-section-container {
    width: 100%;
    display: table;
  }

  &__split-section {
    $split-section-padding: 2*$aleph-grid-size;
    width: 50%;
    display: table-cell;

    &:first-child {
      padding-right: $split-section-padding;
      // border-right: 1px solid $aleph-border-color;
    }
    &:last-child {
      padding-left: $split-section-padding;
    }

    &__title.bp3-heading {
    }
  }

  .TableViewer {
    height: auto;

    .bp3-table-column-name {
      text-align: center;
      font-weight: 500;
      border-bottom: 1px solid $aleph-border-color;
    }

    .bp3-table-header-content {
      padding: 0 3px 5px;
      text-align: center;
      min-height: 80px;
    }

    .bp3-button-text {
      overflow: hidden;
      white-space: nowrap;
      max-width: 100px;
      text-overflow: ellipsis;
    }

    .EntityImport__headerSelect {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;

      &__label {
        white-space: nowrap;
        margin-bottom: 3px;
      }
    }
  }


}
