@import "app/variables.scss";
@import "app/mixins.scss";

.EntitySetListItem {
  padding: $aleph-content-padding/2;
  text-align: center;

  h4 {
    font-weight: bold;
    color: $blue2;
    text-decoration: none !important;
  }

  &__link:hover {
    text-decoration: none;
  }

  &__icon {
    color: $blue2;
    margin-bottom: $aleph-content-padding/2;
  }

  &__collection {
    margin-bottom: $aleph-grid-size*1.5;
  }

  .summary {
    font-size: $pt-font-size;
    margin-bottom: $aleph-grid-size;
  }

  .details {
    margin-bottom: 0;
    color: $aleph-greyed-text;
    font-size: 12px;
    margin-top: 15px;
  }

  .details-item {
    display: inline-block;
    min-width: 8em;

    .bp3-icon {
      @include rtlSupportInvertedProp(margin, right, $aleph-icon-padding, null);
    }
  }
}
