@import "app/variables.scss";
@import "app/mixins.scss";

.EntitySetIndex {
  // display: table;
  width: 100%;

  &__showMore {
    font-weight: bold;
    margin: $aleph-grid-size/2 0 $aleph-grid-size;
  }
}
