@import "app/variables.scss";
@import "app/mixins.scss";

.EntitySetListItem {
  width: 100%;
  display: table-row;

  & > * {
    width: 100%;
    display: table-cell;
    padding: $aleph-content-padding/2 0;
    border-bottom: 1px solid $aleph-border-color;

    &:last-child {
      text-align: right;
    }
  }


  &__title {
    font-weight: bold;
    color: $blue2;
    text-decoration: none !important;
    // white-space: nowrap;
  }

  &__link:hover {
    text-decoration: none;
  }

  .summary {
    font-size: $pt-font-size;
  }

  .details {
    color: $aleph-greyed-text;
    font-size: 12px;
  }

  .details-item {
    display: inline-block;
    min-width: 8em;

    .bp3-icon {
      @include rtlSupportInvertedProp(margin, right, $aleph-icon-padding, null);
    }
  }
}
