@import "src/app/variables.scss";

.SearchFilterFacet {
  border-bottom: 1px solid $aleph-border-color;

  & > .opener {
    display: flex;
    padding: $aleph-grid-size;

    &.active {
      font-weight: bold;
    }

    &:not(.clickable) {
      color: $aleph-greyed-text;
      font-style: italic;
    }

    & > .caret {
      transition: transform 100ms;

      &.rotate {
        transform: rotate(90deg);
      }
    }

    & > .spinner {
      margin-left: auto;
    }
  }

  .CheckboxList {
    margin-bottom: $aleph-grid-size * 2;
  }

  button.showMoreButton {
    font-style: italic;
    color: $aleph-greyed-text;
  }
}
