@import "src/app/variables.scss";

.SearchFilterFacet {
  border-bottom: 1px solid $aleph-border-color;

  .button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding-top: $aleph-grid-size;
    padding-bottom: $aleph-grid-size;
  }

  .CheckboxList {
    overflow: auto;
    max-height: 20em;
    margin-bottom: $aleph-grid-size * 2;
  }
}
