@import 'app/variables';

.TimelineList {
  --timeline-list-padding: #{0.75 * $aleph-grid-size} #{1.5 * $aleph-grid-size};
  --timeline-list-color-width: 4px;

  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0 0.25 * $aleph-grid-size;
}

.TimelineList__header > th {
  padding: var(--timeline-list-padding);
  padding-top: 0;
  white-space: nowrap;
}

.TimelineList__header > th:first-child {
  border-left: var(--timeline-list-color-width) solid transparent;
}
