@import "src/app/variables.scss";

.EmailHeadersViewer {
    table.pt-table {
        th {
            width: 10%;
        }
        th, td {
            border-bottom: 1px solid $aleph-border-color;
        }
        tbody tr:first-child td {
            box-shadow: none;
        }
    }
}