@import "src/app/variables.scss";

.PdfViewer .page {
  margin: $aleph-grid-size 0;
}

.document_pdf s{
  flex-grow: 1;
  width: 100%;
  background-color: whitesmoke;
  padding-top: $aleph-grid-size;
}

.PdfViewer .page > canvas {
  /* center each page */
  margin: auto;
  padding-bottom: $aleph-grid-size;
  width: 90%;
}

.previousPage {
  color: white;
}

.previousPage:hover {
  color: white;
}

.nextPage {
  color: white;
}

.disabledPage {
  pointer-events: none;
}

.nextPage:hover {
  color: white;
}

.nextPageButton {
  float: right;
  margin-right: 620px;
}

.previousPageButton {
  margin-left: 565px;
}