@import "src/app/variables.scss";

.PdfViewer .document_pdf {
  flex-grow: 1;
  width: 100%;
  background-color: whitesmoke;
}

.PdfViewer .page {
  margin: 0;
  padding: 0;
}

.PdfViewer .page > canvas {
  /* center each page */
  margin: auto;
  padding-bottom: $aleph-grid-size;
  width: 90%;
}

.PdfViewer .ReactPDF__Page__canvas {
  padding: 0 !important;
}

.PdfViewer .SectionLoading {
  background: white;
}

.PdfViewer .ReactPDF__Error {
  background: white;
  text-align: center;
  padding: 100px 20px;
  font-size: 1.2em;
}

.PdfViewer .spinner {
  margin: 100px 0;
}

.previousPage {
  color: white;
}

.previousPage:hover {
  color: white;
}

.nextPage {
  color: white;
}

.disabledPage {
  pointer-events: none;
}

.nextPage:hover {
  color: white;
}

.nextPageButton {
  float: right;
  margin-right: 620px;
}

.previousPageButton {
  margin-left: 565px;
}