$icon-font-path: "~@blueprintjs/icons/resources/icons";

@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/icons/src/blueprint-icons.scss";
@import "./variables.scss";
@import "./tables.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $pt-font-family;
  font-weight: 300;
  font-size: $aleph-font-size;

  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

h1 {
  font-size: $aleph-font-size * 1.7;
}

h2 {
  font-size: $aleph-font-size * 1.5;
  margin-top: $aleph-grid-size * 2;
}

pre {
  border: none;
  background-color: inherit;
  box-shadow: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

a {
  color: $aleph-link-color;
}

.small-screen {
  max-width: 400px;
  margin: 0 auto;
  padding: ($aleph-grid-size * 2);

  h1 {
    line-height: inherit;
  }
}

// Used to render failed imports, missing connections.
.PartialError {
  .pt-non-ideal-state {
    min-height: 30vh;
  }
}

.muted {
  color: $aleph-greyed-text;
}

.clickable {
  cursor: pointer;

  &:hover {
    background-color: $aleph-hover-background;
  }
}

/* Helper for maximising the width of different types of main content */
.max-width-content-limit {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}