$icon-font-path: "~@blueprintjs/core/resources/icons";

@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/core/dist/variables";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $dark-gray3;
}

.pt-navbar a {
  color: inherit;
}

.pt-card + .pt-card {
  margin-top: $pt-grid-size;
}

pre {
  border: none;
  background-color: inherit;
  box-shadow: none;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

.small-screen {
  max-width: 400px;
  margin: 0 auto;
  padding: ($pt-grid-size * 2);

  h2 {
    line-height: inherit;
  }
}

// Table defaults
table.pt-table {
  width: 100%;
}

td.numeric {
  text-align: right;

  span {
    float: right;
  }
}

td.tiny, th.tiny {
  width: 1%;
}
