@import "src/app/mixins.scss";

/* Taming Blueprint icons and tags/badges when displayed inside tabs */
.bp3-tabs .bp3-tab .bp3-tag {
  padding: 0px 10px;
  margin-left: 5px;
  line-height: 1em;
  // font-size: 0.6em;
}

.bp3-tabs .bp3-large .bp3-tab .bp3-icon-standard {
  min-width: 20px;
  margin-right: 10px;
}

.bp3-tabs .bp3-large .bp3-tab .bp3-tag {
  padding: 0 10px;
  margin-left: 10px;
}

/* Buttons and Inputs in control groups have margin values they shouldn't
* for some reason, even though my inspector says '0em'. */
.bp3-control-group * {
  margin-top: 0;
  margin-left: 0;
}

.bp3-tab-list {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
}
.bp3-button, .bp3-menu-item {
  @include rtl(text-align, left, right);

  > * {
    @include rtlSupportInvertedProp(margin, right, 7px, null);
  }
}
.bp3-menu {
  @include rtl(text-align, left, right);
}

table {
  tr td, tr th {
    @include rtl(text-align, left, right);
    &.numeric, &.number {
      @include rtl(text-align, right, left);
    }
  }
}

.bp3-control-group {
  > :last-child {
    @include rtl(border-radius, 0 3px 3px 0, 3px 0 0 3px);
  }
  > :first-child {
    @include rtl(border-radius, 3px 0 0 3px, 0 3px 3px 0);
  }
  
}
.bp3-input-group {
  .bp3-input-action{
    &:last-child{
      @include rtl(right, 0, initial);
      @include rtl(left, initial, 0);
    }
  }
  .bp3-icon {
    &:first-child {
      @include rtl(left, 0, initial);
      @include rtl(right, initial, 0);
    }
  }
  &.bp3-large {
    .bp3-input:not(:first-child){
      @include rtlSupportInvertedProp(padding, left, 40px, null);
    }
  }
}

.bp3-button-group {
  &:not(.bp3-minimal) {
    > .bp3-button:not(:last-child) {
      @include rtl(border-radius, 3px 0 0 3px, 0 3px 3px 0);
      @include rtlSupportInvertedProp(margin, right, -1px, null);
    }
    > .bp3-button:not(:first-child) {
      @include rtl(border-radius, 0 3px 3px 0, 3px 0 0 3px);
    }
  }
}

.bp3-control {
  &.bp3-checkbox {
    @include rtlSupportInvertedProp(padding, left, 26px, null);

    .bp3-control-indicator {
      @include rtlSupportInvertedProp(margin, right, 10px, -26px);
    }
  }
  input {
    @include rtl(right, null, 0);

  }
}
.bp3-navbar-group {
  &.bp3-align-right {
    @include rtl(float, right, left);
  }
  &.bp3-align-left {
    @include rtl(float, left, right);
  } 
}
