@mixin breakText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin rtl($property, $ltr-value, $rtl-value) {
  #{$property}: $ltr-value;

  [dir=rtl] & {
    #{$property}: $rtl-value;
  }
}

@function inverseRightLeftName($direction) {
  @if $direction==left {
    @return right
  } @else {
    @return left
  }
}

@mixin rtlSupportInvertedProp($property, $direction, $ltr-value, $rtl-value) {
  @include rtl(#{$property}-#{$direction}, $ltr-value, $rtl-value);
  @include rtl(#{$property}-#{inverseRightLeftName($direction)}, $rtl-value, $ltr-value);
}
