/*
 * SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";

.RouterLoading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    align-self: center;
    margin: auto;
  }
}