@import "~@blueprintjs/core/src/blueprint.scss";
@import "./variables.scss";

// Column & row customisation for any tables.
table {
  // Force a table-row to be a single line, truncating contents of large cells.
  tr.nowrap > td,
  tr.nowrap > th {
    max-width: 0; // somehow, this seems to make keep column widths in check.
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  // Make these columns take the minimal width that fits the content
  tr td.date {
    width: 1%;
    white-space: nowrap;
    overflow: visible;
    max-width: unset;
    text-overflow: unset;
  }

  tr td.select {
    width: 1%;
    white-space: nowrap;
    overflow: visible;
    max-width: unset;
    text-overflow: unset;

    .pt-control {
      padding-left: 0;
    }
  }

  tr td.file-size {
    width: 10%;
    white-space: nowrap;
    overflow: visible;
    max-width: unset;
    text-overflow: unset;
    text-align: right;
  }

  tr.active {
    background: $pt-intent-primary;
    color: white;
    
    td {
      background: $pt-intent-primary;
      color: white;

      a,
      a:link, 
      a:visited,
      a:hover,
      a:active {
        color: white;
      }
    }
  }
  
  th.wide, td.wide {
    width: 40%;
    max-width: unset;
  }

  th.narrow, td.narrow {
    width: 1%;
    max-width: unset;
  }

  td.entity {
    font-weight: bold;
    max-width: unset;
  }

  th.numeric, td.numeric {
    text-align: right;

    // Float on the right, so that numbers overflow to the left.
    // (FormattedNumber creates a <span>)
    & > span {
      float: right;
    }
  }
}

// Tables as normally used in ContentPane
table.data-table {
  @extend .pt-html-table;

  width: 100%;
  
  td {
    border-bottom: 1px solid $aleph-table-border-color;
  }
  
  th,
  th:hover {
    white-space: nowrap;
    background: $aleph-table-heading-background;
  }
  
  tbody tr:first-child td {
    box-shadow: inset 0 $table-border-width 0 0 $aleph-table-border-color;
  }
}

table.settings-table {
  @extend .data-table;

  th {
    color: $table-header-color;
  }
}

// Two-column 'tables' as normally used in InfoPane
ul.info-sheet,
ul.info-rank {
  padding: 0;
  list-style: none;

  li {
    display: flex;
    // padding-top: $aleph-grid-size;
    padding-bottom: $aleph-grid-size * 1.5;

    .key, .value {
      overflow: hidden;
      word-wrap: break-word;
    }

    .key {
      padding-right: $aleph-grid-size;
    }
  }
}

ul.info-sheet {
  li {
    flex-direction: column;
    // padding-top: $aleph-grid-size;

    .key {
      color: $aleph-greyed-text;
      font-size: $pt-font-size-small;
    }

    .value {
      padding-top: $aleph-grid-size * 0.5;
    }
  }
}

ul.info-rank li {
  flex-flow: row nowrap;

  // Ensure things stay on a single line, truncating the key if needed.
  .key {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value {
    white-space: nowrap;
    overflow: visible;
  }

  .key i { // the icon, if any
    padding-right: $aleph-grid-size * 2;
  }

  .value {
    color: $aleph-greyed-text;
    margin-left: auto; // = align right
  }
}
