@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/icons/lib/scss/variables";

$aleph-grid-size: $pt-grid-size;
$aleph-font-size: $pt-font-size;
$aleph-line-height: $pt-line-height;
$aleph-border-radius: $pt-border-radius; 

$aleph-banner-background: $dark-gray3;
$aleph-dark-text-color: $pt-dark-text-color;
$aleph-greyed-text: gray;
$aleph-content-background: white;
$aleph-sidebar-background: $light-gray5;
$aleph-hover-background: $light-gray5;
$aleph-border-color: $pt-divider-black;

$aleph-link-color: $pt-link-color;
$aleph-visited-link-color: darken($aleph-link-color, 10%);
