@import "app/variables.scss";

.AdvancedSearch {

  .bp3-overlay.bp3-overlay-container {
    position: static;
  }
  .bp3-drawer {
    position: static;
    overflow-x: scroll;
    // padding: $aleph-grid-size*3 $aleph-grid-size*2 $aleph-grid-size*2;
    margin-bottom: 30px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1),
      0 2px 4px rgba(16, 22, 26, 0.2),
      0 8px 24px rgba(16, 22, 26, 0.2);
    max-width: 660px;
    // margin: auto;
  }

  .bp3-portal {
    z-index: 101;
    top: 50px !important;
  }

  .bp3-label {
    min-width: 200px;
    // border-right: 1px solid $aleph-border-color;
  }

  .padded {
    padding: 0 $aleph-grid-size*2;
  }

  .bp3-form-content {
    width: 100%;
  }

  .bp3-form-group:not(.bp3-inline) {
    .bp3-label {
      padding: $aleph-grid-size 0;
    }
  }
}
