@import "src/app/variables.scss";

.SearchScreen {
  .SearchFacetsPane {
    border: none !important;
    box-shadow: none !important;
    padding: $aleph-grid-size;
  }

  .total-count-span {
    display: inline-flex;
    padding-left: 1.3em;
    font-size: 1.1em;
    font-weight: bold;
  }

  .total-count {
    display: flex;
    padding: 0 $aleph-grid-size;
    -ms-flex-align: center;
    align-items: center;
    background: $aleph-facet-background !important;
    height: 3em !important;
    margin-top: $aleph-grid-size;
  }

  .total-icon {
    margin-right: 0.5em;
  }
}