{% extends "layout.html" %}
{% from '_pager.html' import pagination %}

{% block title %}
  {{query or "Search"}}
{% endblock %}

{% block content %}
  <div class="row search-area">
    <div class="col-md-8">
      <form class="form-horizontal" role="form" action="{{url_for('index')}}">
        <div class="input-group">
          <input name="query" type="text" class="form-control" id="query"
            value="{{query}}" autofocus placeholder="Search the document stash">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </span>
        </div>
      
        <p>
          <a href="/export{{query_state()}}">Export results to Excel</a>
        </p>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul class="results">
        {% for result in pager %}
          <li class="result" data-collection="{{result.es_meta.type}}" data-hash="{{result.es_meta.id}}">
            <span class="title">
              <a href="{{ result | details_url }}">
              {{result | field('title') | decode | truncate(70, True) }}
              </a>
            </span>
            {% if mapped(result, 'source_url') %}
              <span class="source">
                <a href="{{mapped(result, 'source_url')}}">{{ mapped(result, 'source_url') | truncate(80, True) }}</a>
                (<a href="{{result | download_url }}">local copy</a>)
              </span>
            {% endif %}
            <p class="teaser">
              {{result | field('text') | truncate(200) | or('No body text is available.') }}
            </p>
          </li>
        {% endfor %}
      </ul>

      {{ pagination(pager) }}
    </div>
    <div class="col-md-6" id="sidebar">
      huhu
    </div>
  </div>
{% endblock %}

