<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Untitled{% endblock %} - document search</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    {% assets filters="less", output="gen/style.css",
          "style/style.less" %}
      <link href="{{ ASSET_URL }}" rel='stylesheet' type='text/css'>
    {% endassets %}

    <link rel="shortcut icon" href="http://www.codeforafrica.org/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div id="airlock" class="container-fluid">
      {% block content %}This page intentionally left blank{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/app.js"></script>

    {% block script %}{% endblock %}    
  </body>
</html>
