@import "src/app/variables.scss";

.AlertsPane {
  .addTopicForm {
    display: flex;
    padding-left: $aleph-grid-size;
    padding-top: $aleph-grid-size * 2;

    .addTopicInput {
      flex-grow: 1;
    }

    .addTopicButton {
      width: 8em;
    }
  }
}
