@import "src/app/variables.scss";

.AlertsPane {
  .addTopicForm {
    display: flex;
    padding: ($aleph-grid-size * 2) $aleph-grid-size;

    .addTopicInput {
      flex-grow: 1;
    }

    .addTopicButton {
      width: 8em;
    }
  }
}
