@import "src/app/variables.scss";

.ProfileInfo {
  .label_icon_group {
    display: inline-flex;
  }

  .name_group {
    padding-left: $aleph-grid-size;
    padding-top: $aleph-grid-size;
  }

  .email_group {
    padding-left: $aleph-grid-size;
    padding-top: $aleph-grid-size;
  }

  .label_class {
    padding-left: $aleph-grid-size;
    margin-top: $aleph-grid-size * - 0.2 !important;
  }

  .api_key_group {
    display: inline-flex;
    padding-left: $aleph-grid-size * 2;
    padding-top: $aleph-grid-size;
  }

  .api_key_div {
    padding-top: $aleph-grid-size * 5;
  }

  .api_key {
    padding-left: $aleph-grid-size;
  }

  .api_key_label {
    color: #8A9BA8;
    padding-left: $aleph-grid-size * 2;
  }

  .input_class {
    width: 100% !important;
  }

  .error_label_text {
    color: #db3737 !important;
    display: none;
  }

  .show {
    display: block;
  }

  .button_div {
    padding-top: $aleph-grid-size * 2;
    padding-left: $aleph-grid-size * 2;
    padding-right: $aleph-grid-size * 2;
    width: 100%;
    font-weight: bolder;
  }
}
