@import "src/app/variables.scss";

.ProfileInfo {
  .label-icon-group {
    display: inline-flex;
  }

  .name-group {
    // padding-left: $aleph-grid-size;
    padding-top: $aleph-grid-size;
  }

  .email-group {
    // padding-left: $aleph-grid-size;
    padding-top: $aleph-grid-size;
  }

  .label-class {
    padding-left: $aleph-grid-size;
    margin-top: $aleph-grid-size * - 0.2 !important;
  }

  .api-key-label {
    color: $aleph-greyed-text;
    padding-top: $aleph-grid-size;
  }

  .input-class {
    width: 100% !important;
  }

  .error-label-text {
    color: #db3737 !important;
    display: none;
  }

  .show {
    display: block;
  }

  .button-div {
    padding-top: $aleph-grid-size;
    // padding-left: $aleph-grid-size * 2;
    // padding-right: $aleph-grid-size * 2;
    width: 100%;
    font-weight: bolder;
  }
}
