@import "app/variables.scss";


.InvestigationSidebarButton {
  &.bp3-button.bp3-active {
    // background: $blue1 !important;
    // color: white !important;

    .bp3-icon, .Count {
      // color: white;
    }
  }

  .bp3-icon-chevron-down {
    margin-right: 3px !important;
  }

  &__tooltip {
    background: green;
    & > .bp3-popover-content {
      background: white !important;
      color: $gray1 !important;
    }

    .bp3-popover-arrow-fill {
      fill: white !important;
    }

    .Count {
      margin-left: $aleph-grid-size;
    }
  }
}
