@import "app/variables.scss";

$transition-duration: .3s;
$sidebar-padding: 15px;

.InvestigationHeading {
  background: $blue1;
  transition: all $transition-duration ease-in-out;
  overflow: hidden;
  max-height: none;
  opacity: 1;
  border-radius: 5px;

  .collapsed & {
    padding: 0;
    max-height: 0;
    opacity: 0;
    margin: 0;
  }

  .static & {
    margin: 20px;
  }

  .fixed & {
    margin: 15px;
  }

  &__inner-container {
    padding: 15px;
    padding-bottom: 0;
    transition: padding .3s ease-in-out;

    .static & {
      padding-bottom: 15px;
    }

    .fixed & {
      padding-top: 0;
      padding-bottom: 0;
    }

    .bp3-text-muted, .CollectionHeading__title, .CollectionInfo__item .value {
      color: white !important;
    }

    .bp3-input-group {
      margin-top: 10px;
    }

  }

  .text-markdown, .text-markdown p {
    margin-bottom: 5px !important;
  }

  &__divider {
    border-top: 1px solid rgba(white, .7);
    margin: auto;
    width: 0;
    transition: width .3s ease-in-out, margin 1s ease-in-out;

    .metadata-shown & {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      // margin: 20px auto;
    }
  }

  &__metadata {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;

    .metadata-shown & {
      max-height: 10000px;
    }

    .fixed & {
      max-height: 0;
    }

    .CollectionInfo__item .key {
      color: white !important;
    }

    &__inner-container {
      margin-top: 15px;
      padding: 10px;
      border-radius: 5px;
      background: rgba(#fff, .15);
    }
  }

  &__actions {
    margin-top: 15px;
    // padding-top: 5px;
    // border-top: 1px solid white;

    .bp3-button.bp3-minimal {
      // border-color: white;
      color: white !important;
      background: rgba(white, .15);

      &:hover {
        background: rgba(white, .3);
      }

      .bp3-icon {
        color: white;
      }
    }
  }

  &__metadata-toggle.bp3-button {
    width: 100%;
    margin-top: 10px;
    transition: height .3s ease-in-out;
    overflow: hidden;
    background: rgba($white, .1) !important;

    &:hover {
      background: rgba($white, .2) !important;
    }

    .bp3-icon {
      color: white !important;
    }

    .fixed & {
      display: none !important;
    }
  }

  .CollectionHeading {
    margin: 0;

    &__subheading {
      transition: max-height .3s ease-in-out;
      overflow: hidden;
      .fixed & {
        max-height: 0;
      }
    }

    &__title {
      transition: font-size .3s ease-in-out, font-weight .3s ease-in-out;

      .bp3-icon {
        padding-right: 3px;
      }
      .fixed & {
        font-size: 14px;
      }
    }
  }

  .CollectionStatus {
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    margin: 20px 0 10px;

    .bp3-heading {
      font-size: 14px !important;
      margin-bottom: 0 !important;
    }
  }

  .CollectionLink, .CategoryLink {
    color: white !important;
  }

}
