@import "app/variables.scss";
@import "app/mixins.scss";

.InvestigationWrapper {
  width: 100%;
  // overflow: hidden;
  // height: calc(100vh - #{$aleph-top-nav-height});

  .DualPane {
    padding: 0;
  }

  &__body.ContentPane {
    flex: 1;
    // height: calc(100vh - #{$aleph-top-nav-height + $aleph-breadcrumbs-height});
    // overflow-y: scroll;
  }

  &__body.ContentPane {
    @include rtlSupportInvertedProp(padding, left, 0, null);
  }

  &__body-content {
    padding: $aleph-content-padding;
  }
}
