@import "app/variables.scss";

.InvestigationWrapper {
  overflow: hidden;
  width: 100%;

  .DualPane {
    padding: 0;
  }

  .ContentPane {
    padding: 0 !important;
  }

  &__body-content {
    padding: $aleph-content-padding;
  }
}
