@import "app/variables.scss";

.InvestigationSidebar {
  position: relative;
  padding: $aleph-content-padding;
  background: $aleph-breadcrumbs-background;
  box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 4px 8px rgba(16,22,26,.2), 0 18px 46px 6px rgba(16,22,26,.2);  // background: $aleph-breadcrumbs-background;
  min-height: calc(100vh - 50px);
  min-width: 300px;

  &.collapsed {
    padding: 0;
    min-width: auto;
    box-shadow: none;
  }

  .CollectionHeading {
    margin: 0;
  }

  .SchemaCounts {
    margin-bottom: $aleph-grid-size;
  }

  &__collapse-toggle.bp3-button {
    position: absolute !important;
    top: $aleph-grid-size/2;
    right: $aleph-grid-size/2;

    .collapsed & {
      position: static !important;
    }
  }

  &__section {
    margin: $aleph-grid-size*2 0;
    position: relative;

    .collapsed & {
      padding: $aleph-grid-size $aleph-grid-size/2 $aleph-grid-size $aleph-grid-size*2;
      margin: 0;
      border-top: 1px solid $aleph-border-color;
    }

    &__title.bp3-heading {
      color: $blue1;

      .collapsed & {
        text-transform: uppercase;
        font-weight: bold;
        color: $gray1;
        font-weight: normal;
        position: absolute;
        writing-mode: vertical-rl;
        font-size: 10px;
        top: 50%;
        left: 0;
        transform: rotate(180deg);
        text-align: right;
      }
    }
  }
}
