@import "app/variables.scss";


.InvestigationOverview {
  &__top {
    display: flex;
    // padding: 10px;
    border-radius: 5px;

    &__item {
      margin-right: 20px;
      padding: 15px;
      flex: 1 1 33%;
      background: $light-gray5;
      // color: white !important;
      border-radius: 5px;

      * {
        // color: white !important;

      }
      // border: 1px solid $aleph-border-color;
      &.narrow {
        flex-basis: 10%;
        padding: 5px;
        margin: 0;
      }
    }
  }

  &__search {
    margin: 20px 0;
  }

  &__section {
    // padding-bottom: 20px;
    border-top: 1px solid $aleph-border-color;
    margin: 20px 0;
    padding: 20px 0;
    // background: rgba($blue1, .3);
    // padding: 10px;
    // border-radius: 5px;


    &__title.bp3-heading {
      // color: white;
      // border-bottom: 1px solid $aleph-border-color;

    }

    &__content {
      border-radius: 5px;
      background: white;
      // padding: 10px;
      // border: 1px solid rgba($blue1, .2);
    }

  }
}
