@import "app/variables.scss";
@import "app/mixins.scss";

$transition-duration: .3s;
$sidebar-padding: $aleph-grid-size*2;

.InvestigationSidebar {
  width: $aleph-investigation-sidebar-width;
  height: 100%;
  @include rtlSupportInvertedProp(border, right, 1px solid $aleph-border-color, none);
  @include rtlSupportInvertedProp(margin, right, $aleph-content-padding, 0);
  @include rtlSupportInvertedProp(padding, right, $aleph-content-padding, 0);

  .SchemaCounts {
    margin-bottom: $aleph-grid-size;
  }

  &__section {
    padding: 15px;
    border-radius: 10px;
    background: $light-gray5;
    margin: $aleph-content-padding 0;
    border: none;

    &__title.bp3-heading {
      color: $aleph-investigation-theme;
      padding-bottom: 5px;
    }
  }
}
