@import "src/app/variables.scss";

.document_info_button {
  width: 50%;
  height: 31px;
  font-weight: bolder;
  margin-right: 25px;
  margin-left: 25%;
  margin-top: 20px;
}

.document_info_icon {
  margin-left: -7px;
  margin-top: 6px;
  font-size: 19px;
  margin-right: 8px;
}