.document_info_border {
  border-bottom: 1px solid #b9b9b9;
}

.document_info_origin {
  font-weight: bold;
  font-size: 21px;
}

.collection_card_document_info {
  margin-top: 28px;
}

.document_info_button {
  width: 189px;
  height: 31px;
  font-weight: bolder;
  margin-right: 25px;
  margin-left: 25%;
  margin-top: 20px;
}

.document_info_icon {
  margin-left: -7px;
  margin-top: 6px;
  font-size: 19px;
  margin-right: 8px;
}