.th_class {
  font-weight: normal;
  color: gray;
}

.td_class {
  font-weight: 400;
}

.schema_name {
  margin-left: 5px;
}

.document_metadata_table {
  word-wrap: break-word;
  table-layout: fixed;
}