@import "src/app/variables.scss";

.DocumentInfo {
  padding: 0 !important;

  .PaneHeading {
    background: $aleph-sidebar-background;
    padding: $aleph-grid-size*4 $aleph-grid-size*2;
  }

  .PaneHeading h1 {
    border: 0;
    margin: 0;
  }

  .PaneContent {
    padding: $aleph-grid-size $aleph-grid-size*2;
  }
}