@import "app/variables.scss";
@import "app/mixins.scss";

.EntityTable {
  .bp3-button-group {
    margin-bottom: $aleph-content-padding;
  }

  .align-middle {
    vertical-align: middle;
  }

  .Count {
    @include rtlSupportInvertedProp(margin, left, 5px, null);
  }

  .data-grid-container {
    min-height: 300px;
  }
}
