@import "src/app/variables.scss";

.EntityTable {
  .schema {
    max-width: 8em;
    @media screen and (max-width: $aleph-screen-md-max-width) {
      display: none;
    }
  }

  .updating {
    opacity: 0.4;
  }

  .pt-control {
    margin-bottom: 0 !important;
  }
}

//medium and small screen
@media screen and (max-width: $aleph-screen-md-max-width) {
  .EntityTable {
    .header-country, .header-dates, .header-size {
      display: none;
    }

    .country, .date, .file-size {
      display: none;
    }
  }
}