@import "src/app/variables.scss";

.PreviewEntity {
  & .InfoPane {
    padding: 0 $aleph-grid-size*1.5;
    overflow-y: scroll;

    // .pane-heading {
    //   padding: ($aleph-grid-size * 3) 0 $aleph-grid-size;
    // }
  }

  .bp3-drawer-header {
    box-shadow: none;
    padding: 0 $aleph-grid-size/2;
    background-color: $aleph-breadcrumbs-background;

    .bp3-heading {
      margin: 0 !important;
    }
  }
}
