@import "src/app/variables.scss";

.Preview {
  /* CSS based on .DualPane .InfoPane
   * NB: @extend doesn't support extending from nested selectors AFAIKS.
   * We should probably refactor sidebar CSS out of everywhere into a single
   * SCSS file that's designed to be easy to extend from.
   */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $aleph-sidebar-width;
  box-shadow: $pt-elevation-shadow-3;
  padding: 0 !important;
  background: $aleph-content-background;
  overflow-x: hidden; // just in case.
  transition: width 0.3s ease-in-out;
  @media screen and (max-width: $aleph-screen-sm-max-width) {
    left: 0;
  }
  
  > * {
   min-width: $aleph-sidebar-sm-width;
  }
  
  &.hidden {
    width: 0;
    overflow: hidden;
    box-shadow: none;
  }

  &.maximised {
    width: 50%;
    max-width: $alpeh-preview-pane-width;
    @media screen and (max-width: $aleph-screen-sm-max-width) {
      width: 90%;
    }
  }
  
  h1, h2 {
    // Show a subtle line below headings
    margin-bottom: $aleph-grid-size;
    padding-bottom: $aleph-grid-size;
    line-height: 1.5;
    border-bottom: 1px solid $aleph-border-color;
    overflow-wrap: break-word;
  }

  .pane-heading {
    background: $aleph-sidebar-background;
    padding: $aleph-grid-size*2 $aleph-grid-size*2 $aleph-grid-size*4 $aleph-grid-size*2;
    color: white;
  }

  .pane-heading h1 {
    border: 0;
    margin: 0;
    color: white;
    font-weight: 300;
  }

  .pane-content {
    padding: $aleph-grid-size $aleph-grid-size*2;
  }

  /* Removing padding and shadow when displaying document previews in sidebar */
  /* This allows us to display more of the document in a limited space. */
  .DocumentContent {
    .outer {
      padding: 0;
      .inner {
        box-shadow: none;
      }
    }
  }
  
}