@import "src/app/variables.scss";

.AuthButtons {
  display: inline-flex;
  margin-left: $aleph-grid-size;
  @media screen and (max-width: $aleph-screen-md-max-width) {
    margin-left: 0;
  }

  .menu-item-width {
    min-width: 0 !important;
  }
}