$icon-font-path: "~@blueprintjs/core/resources/icons";

@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/core/dist/variables";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $light-gray5;
}

.spinner {
  position: absolute;
  top: 20px;
  left: 40px;
}

.pt-navbar a {
  color: inherit;
}
