/*
 * SPDX-FileCopyrightText: 2022 2014-2015 Friedrich Lindenberg, <friedrich@pudo.org>, et al.
 * SPDX-FileCopyrightText: 2022 2016-2020 Journalism Development Network,Inc
 *
 * SPDX-License-Identifier: MIT
 */

@import "app/variables.scss";

.PagingButtons {
  width: 100%;
  background-color: $aleph-breadcrumbs-background;
  padding: 3px;

  &__middle {
    background: none;
    flex: 100 1 auto !important;
    cursor: auto;
    text-align: center;
  }

  &__input {
    display: inline-block;
    width: 40px;
    input {
      padding: 5px !important;
      text-align: center;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type=number] {
        -moz-appearance:textfield;
      }
    }
  }
}
