@import "src/app/variables.scss";

.Toolbar {  
  padding: $aleph-grid-size;
  clear: both;
  overflow: visible;
  background: $aleph-toolbar-background;
  border-bottom: 1px solid $aleph-border-color;
  flex: 1;
  width: 100%;
  max-height: $aleph-grid-size * 5;
  min-height: $aleph-grid-size * 5;

  > * {
    margin: 0 $aleph-grid-size 0 0;
    float: left;
  }

  .button-close {
    margin: 0;
    float: right;
    // border-radius: 0;
  }
  
  .search-box {
    float: right;
    margin-right: 0;
  }
}

.Toolbar.toolbar-preview {
  background: $aleph-sidebar-background;
  border-color: transparent;
  
  * {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: white !important;
  }

  .bp3-input.bp3-disabled,
  .bp3-button.bp3-disabled,
  .bp3-button:disabled {
    opacity: 0.5;
  }

  .PagingText.bp3-disabled {
    opacity: 1;
  }

  .bp3-button:hover {
    background-color: $button-color-hover !important;
  }

  .bp3-button.bp3-active {
    background: #fff !important;
    color: $aleph-sidebar-background !important;
    * {
      color: $aleph-sidebar-background !important;
    }
  }
  
  .search-box {
    .bp3-icon {
     color: $aleph-sidebar-background !important;
    }
    
    .bp3-input {
      background: white !important;
      color: $pt-text-color !important;
    }
  }
}