@import "src/app/variables.scss";

.Toolbar {  
  padding: $aleph-grid-size;
  clear: both;
  overflow: visible;
  border-bottom: 1px solid $aleph-border-color;
  flex: 1;
  width: 100%;
  max-height: $aleph-grid-size * 5;
  min-height: $aleph-grid-size * 5;

  > * {
    margin: 0 $aleph-grid-size 0 0;
    float: left;
  }

  .button-close {
    margin: 0;
    float: right;
  }
}

.Toolbar.toolbar-preview {
  background: $aleph-sidebar-background;
  border-color: transparent;
  
  * {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $aleph-sidebar-foreground !important;
  }

  .bp3-input.bp3-disabled,
  .bp3-button.bp3-disabled,
  .bp3-button:disabled {
    opacity: 0.5;
  }

  .PagingText.bp3-disabled {
    opacity: 1;
  }

  .bp3-button:hover {
    background-color: lighten($aleph-sidebar-background, 20%) !important;
  }

  .bp3-button.bp3-active {
    background: $aleph-sidebar-foreground !important;
    color: $aleph-sidebar-background !important;
    * {
      color: $aleph-sidebar-background !important;
    }
  }
}