@import "src/app/variables.scss";

.AuthButtons {
  .settings-icon {
    font-size: $aleph-grid-size * 2;
    padding-right: $aleph-grid-size * 0.6;
  }

  .settings_button {
    padding-left: $aleph-grid-size * 0.8 !important;
  }
}
