@import "src/app/variables.scss";

.settings-icon {
  font-size: $aleph-grid-size * 2;
}

.settings_button {
  padding-top: $aleph-grid-size * 0.4 !important;
  padding-left: $aleph-grid-size * 0.8 !important;
}