@import "src/app/variables.scss";

.Breadcrumbs {
  z-index: 1;
  padding: $aleph-grid-size/2 $aleph-content-padding;
  display: flex;
  justify-content: space-between;
  background-color: $aleph-breadcrumbs-background;

  &__status {
    margin-right: $aleph-grid-size;
  }

  .bp3-breadcrumbs {
    height: auto;

    & > li {
      margin: 5px 0;
      &::after {
        margin: 0 10px;
      }
    }
  }

  .bp3-breadcrumb {
    font-size: $aleph-font-size;

    .bp3-icon {
      margin-right: $aleph-icon-padding;
    }
  }

  .bp3-breadcrumb-current {
    pointer-events: none;
    color: $blue1;

    .bp3-spinner-head {
      stroke: $blue1;
    }
  }
}
