@import "src/app/variables.scss";

.Breadcrumbs {
  background: $aleph-content-background;
  z-index: 500;

  padding-left: $aleph-grid-size;
  padding-right: $aleph-grid-size;
  padding-top: $aleph-grid-size / 3;
  padding-bottom: $aleph-grid-size / 3;

  box-shadow: $pt-elevation-shadow-1;
}