@import "src/app/variables.scss";

.Breadcrumbs {
  z-index: 1;
  padding-left: $aleph-grid-size;
  padding-right: $aleph-grid-size;
  padding-top: $aleph-grid-size / 2;
  padding-bottom: $aleph-grid-size / 2;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
  display: flex;
  justify-content: space-between;
  background-color: $aleph-sidebar-background;

  .bp3-breadcrumbs {
    padding-left: $aleph-grid-size * 2;
    color: white !important;

    .bp3-breadcrumb {
      font-size: $aleph-font-size;
      color: white !important;
    }
  }

  .bp3-button {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: white !important;

    .bp3-icon {
      color: white !important;
    }

    &:hover {
      background-color: $button-color-hover !important;
    }

    &:disabled, &.bp3-disabled {
      opacity: 0.5 !important;
    }
  }
}