@import "app/variables.scss";
@import "app/mixins.scss";

.Breadcrumbs {
  z-index: 1;
  padding: $aleph-grid-size/2 $aleph-content-padding;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: $aleph-breadcrumbs-background;

  @media screen and (max-width: $aleph-screen-sm-max-width) {
    @include rtlSupportInvertedProp(padding, left, $aleph-mobile-content-padding, $aleph-mobile-content-padding);
  }

  &__main, &__right {
    margin: 2px 0;
  }

  &__right {
    display: flex;
  }

  .bp3-breadcrumbs {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    & > li {
      margin: 5px 0;
      &::after {
        margin: 0 10px;
      }
    }
  }

  .bp3-breadcrumb {
    font-size: $aleph-font-size;

  }

  .bp3-breadcrumb-current {
    pointer-events: none;
    color: $blue1;

    .bp3-spinner-head {
      stroke: $blue1;
    }
  }
}
