@import "src/app/variables.scss";

.Breadcrumbs {
  z-index: 1;

  padding-left: $aleph-grid-size;
  padding-right: $aleph-grid-size;
  padding-top: $aleph-grid-size / 3;
  padding-bottom: $aleph-grid-size / 3;
}