.DualPane {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
}

.DualPane > .InfoPane {
  flex-grow: 0;
  flex-basis: 300px;
  min-width: 25%;
  display: flex;
  flex-flow: column;
}

.DualPane > .ContentPane {
  flex-basis: 800px;
  flex-grow: 3;
  display: flex;
  flex-flow: column nowrap;
}

.InfoPane .InfoPane-content {
  // padding: 2em 1em;
  border: 1px solid lightgrey;
}

.InfoPane-content > h1 {
  font-size: 1.2em;
}

.InfoPane ul {
  list-style: none;
  padding-left: 1em;
}
