@import "src/app/variables.scss";

$aleph-infobar-width: $aleph-grid-size * 40;

.DualPane {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  align-items: stretch;
}

.DualPane .ContentPane {
  flex-grow: 1;
  overflow-x: auto;
  padding: $aleph-grid-size * 2;
  padding-top: $aleph-grid-size * 2;
  
  display: flex;
  flex-direction: column;
  
  &.limitedWidth {
    margin: 0 auto;
    max-width: 800px;
  }
}

.DualPane .InfoPane {
  flex: none;
  width: $aleph-infobar-width;
  border-right: 0px;
  padding: $aleph-grid-size * 2;
  box-shadow: $pt-elevation-shadow-3;
  overflow-x: hidden; // just in case.
  
  h1, h2 {
    // Show a subtle line below headings
    margin-bottom: $aleph-grid-size;
    padding-bottom: $aleph-grid-size;
    line-height: 1.5;
    border-bottom: 1px solid $aleph-border-color;
    overflow-wrap: break-word;
  }

  .editButton {
    width: 8em;
  }

  &.withHeading {
    padding: 0 !important;
    background: $aleph-content-background;

    .PaneHeading {
      background: $aleph-sidebar-background;
      padding: $aleph-grid-size*4 $aleph-grid-size*2;
      color: white;
    }

    .PaneHeading h1 {
      border: 0;
      margin: 0;
      color: white;
      font-weight: 300;
    }

    .PaneContent {
      padding: $aleph-grid-size $aleph-grid-size*2;
    }

    .CollectionContent {
      padding: $aleph-grid-size $aleph-grid-size;
    }
  }
}


@media screen and (max-width: $aleph-infobar-width * 2) {
  .DualPane {
    flex-flow: column nowrap;
    overflow: auto;
  }

  .DualPane .InfoPane {
    width: initial;
    margin: 0;
    margin-bottom: $aleph-grid-size;
  }

  .DualPane .ContentPane {
    width: initial;
  }
}

/* 
 * .ContentPaneOuter and .ContentPaneInner can be used together inside 
 * .ContentPane if you want to have content (like a file contents or entity)
 * appear displayed in a container. This used mostly for document and entity
 * views, but not for folders or things like spreadsheets.
 */
.DualPane .ContentPane {
  .ContentPaneOuter {
    flex: 2;
    padding: $aleph-grid-size * 4;
    .ContentPaneInner {
      background: white;
      box-shadow: $pt-elevation-shadow-3;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}