@import "src/app/variables.scss";
$aleph-infobar-width: $aleph-grid-size * 30;

.DualPane {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  align-items: stretch;
}

.DualPane .ContentPane {
  flex-grow: 1;
  overflow-x: auto;
  padding: $aleph-grid-size;
  padding-top: $aleph-grid-size * 2;
}

.DualPane .InfoPane {
  flex: none;
  width: $aleph-infobar-width;
  border-right: 0px;
  padding: $aleph-grid-size * 2;
  box-shadow: $pt-elevation-shadow-3;
  margin-right: $aleph-grid-size;

  h1 {
    font-size: $aleph-font-size * 1.7;
    margin: 0 0 ($aleph-grid-size) 0;
    padding-bottom: $aleph-grid-size;
    line-height: 1.5;
    border-bottom: 1px solid $aleph-border-color;

    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  h3 {
    font-size: $aleph-font-size * 1.5;
    margin: ($aleph-grid-size * 2) 0 ($aleph-grid-size) 0;
    padding-bottom: $aleph-grid-size;
    line-height: 1.5;
    border-bottom: 1px solid $aleph-border-color;
  }

  table {
    width: 100%;
    border: 0;
  
    th, td {
      padding-bottom: $aleph-grid-size;
      vertical-align: top;
    }
  
    th {
      text-align: left;
    }
  
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  
    code {
      border: 0;
      box-shadow: none;
      overflow-wrap: break-word;
    }
  }
}


@media screen and (max-width: $aleph-infobar-width * 2) {
  .DualPane {
    flex-flow: column nowrap;
    overflow: auto;
  }

  .DualPane .InfoPane {
    width: initial;
    overflow: initial;
    margin: 0;
    margin-bottom: $aleph-grid-size;
  }

  .DualPane .ContentPane {
    width: initial;
    overflow: initial;
  }
}
