@import "src/app/variables.scss";
@import "src/app/layouts.scss";


.DualPane {
  @extend .pane-layout;
  
  padding: $aleph-content-padding;
  @media screen and (max-width: $aleph-screen-sm-max-width) {
    padding: $aleph-mobile-content-padding;
  }
}

.DualPane .ContentPane {
  @extend .pane-layout-main;
  padding: 0 0 0 $aleph-content-padding;

  @media screen and (max-width: $aleph-screen-sm-max-width) {
    order: 2;
  }
}

.DualPane .SidePane {
  @extend .pane-layout-side;
  border-right: 1px solid $aleph-border-color;
  padding-right: $aleph-content-padding;
  
  @media screen and (max-width: $aleph-screen-sm-max-width) {
    margin-bottom: 1em;
    border-right: none;
    border-bottom: 1px solid $aleph-border-color;
    padding-right: 0;
  }
}
