@import "src/app/variables.scss";
@import "src/app/layouts.scss";
@import "src/app/mixins.scss";

.DualPane {
  @extend .pane-layout;
  
  padding: $aleph-content-padding;
  @media screen and (max-width: $aleph-screen-sm-max-width) {
    padding: $aleph-mobile-content-padding;
  }
}

.DualPane .ContentPane {
  @extend .pane-layout-main;
  padding: 0;
  @include rtlSupportInvertedProp(padding, left, $aleph-content-padding, null);

  @media screen and (max-width: $aleph-screen-sm-max-width) {
    order: 2;
  }
}

.DualPane .SidePane {
  @extend .pane-layout-side;
  @include rtlSupportInvertedProp(border, right, 1px solid $aleph-border-color, null);
  @include rtlSupportInvertedProp(padding, right, $aleph-content-padding, null);
  
  @media screen and (max-width: $aleph-screen-sm-max-width) {
    margin-bottom: 1em;
    @include rtlSupportInvertedProp(border, right, none, null);
    @include rtlSupportInvertedProp(padding, right, 0, null);
    border-bottom: 1px solid $aleph-border-color;
  }
}
