@import 'src/app/variables.scss';

.al-icon {
  display: inline-block;;
  vertical-align: middle;
  line-height: 1;
  padding-right: 0.3em;

  & > div:first-child {
    display: inline-block;
  }

  &--svg {
    height: 1em;
    width: initial;
    fill: currentColor;
    stroke: currentColor;
    text-align: center;
    [stroke], [fill] {
      stroke: none;
      fill: none;
    }
    [stroke] {
      stroke: inherit;
    }
    [fill] {
      fill: inherit;
    }
  }
}