@import 'src/app/variables.scss';

.al-icon {
  display: inline-block;;
  vertical-align: middle;
  height: $aleph-grid-size * 2.7;
  padding-right: 0.3em;
  & > div:first-child {
    display: inline-block;
  }
  &--svg {
    width: 1.28571429em;
    fill: currentColor;
    stroke: currentColor;
    text-align: center;
    [stroke], [fill] {
      stroke: none;
      fill: none;
    }
    [stroke] {
      stroke: inherit;
    }
    [fill] {
      fill: inherit;
    }
  }
}