/*
SPDX-FileCopyrightText: 2014 2014 Emma Prest, <emma@occrp.org> et al.
*
SPDX-License-Identifier: MIT
*/


@import "app/variables.scss";

.QueryText {
    font-family: monospace;
    white-space: nowrap;
    font-size: 0.95em;
    color: $gray1;
}
