@import "app/variables.scss";
@import "app/mixins.scss";

.SearchActionBar {
  margin-bottom: $aleph-grid-size;
  padding: 0 $aleph-grid-size/2;

  &__main {
    margin-right: 5px !important;
    white-space: nowrap;
    line-height: 2;
  }
}
