.SectionLoading {
    min-height: 5em;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .spinner {
      align-self: center;
      margin: auto;
    }
  }
  