@import "app/variables.scss";

.LayoutSkeleton {
  &.multi-column {
    column-count: 4;
    column-gap: 1.5em;
    table-layout : fixed;
    column-fill: balance;
    height: 100vh;
    width: 100%;

    @media screen and (max-width: $aleph-screen-lg-max-width) {
      column-count: 3;
    }

    @media screen and (max-width: $aleph-screen-md-max-width) {
      column-count: 2;
    }

    @media screen and (max-width: $aleph-screen-sm-max-width) {
      column-count: 1;
    }

    & > * {
      height: 100vh;
    }
  }
}
