@import "src/app/variables.scss";

.SortingBar {
  position: relative;
  white-space: nowrap;

  &__item {
    display: inline-block;
    margin: 0 10px;

    &:last-child {
      margin: 0;
    }
  }

  &__label, &__control {
    display: inline-block !important;
  }

  &__label {
    margin-right: 5px;
  }
  &__control {
    .bp3-button {
      color: $blue2 !important;
      border-bottom: 1px solid $aleph-border-color;
      border-radius: 0;

      &:hover {
        background: $aleph-breadcrumbs-background !important;
      }
    }
  }
}
