<collections-screen collection="collection" section="analysis">

  <div class="row" ng-if="paths.total">
    <div class="col-md-9">
      <table class="table table-striped">
        <tr>
          <th width="40%">Origin</th>
          <th class="numeric">Steps</th>
          <th width="40%">Linked to</th>
          <th></th>
        </tr>
        <tr ng-repeat="path in paths.results">
          <td>
            <a ng-if="authz.collectionWrite(collection.id)"
               ng-click="editEntity(path.start_entity_id)">
              <node-icon node="path.start"></node-icon>
              {{path.start.name}}
            </a>
            <span ng-hide="authz.collectionWrite(collection.id)">
              <node-icon node="path.start"></node-icon>
              {{path.start.name}}
            </span>
          </td>
          <td class="numeric">
            <span class="badge">{{path.length}}</span>
          </td>
          <td>
            <node-icon node="path.end"></node-icon>
            {{path.end.name}}
          </td>
          <td width="1%">
            <button type="button" class="btn btn-default btn-xs" ng-click="viewPath(path)">
              <i class="fa fa-link"></i>
              Explore
            </button>
          </td>
        </tr>
      </table>
      <div class="bottom-pager">
        <div class="pull-right">
          <response-pager response="paths" load="loadOffset(offset)"></response-pager>
        </div>
        <div class="total" ng-if="paths.limit > 0 && paths.total">
          Found {{paths.total | number}} leads.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default panel-facet panel-facet">
        <div class="panel-heading">
          <strong>Collections</strong>
        </div>
        <ul class="list-group">
          <li class="list-group-item animate toggle"
            ng-repeat="col in paths.facets.collection_id"
            ng-class="{'active': query.hasField('collection_id', col.value)}"
            ng-click="query.toggle('collection_id', col.value)">
            <span class="badge">{{col.count | number}}</span>
            <span class="lbl">
              {{::col.label | characters:45 }}
            </span>
          </li>
        </ul>
      </div>

      <div class="panel panel-default panel-facet panel-facet">
        <div class="panel-heading">
          <strong>Link types</strong>
        </div>
        <ul class="list-group">
          <li class="list-group-item animate toggle"
            ng-repeat="facet in paths.facets.type"
            ng-class="{'active': query.hasField('type', facet.value)}"
            ng-click="query.toggle('type', facet.value)">
            <span class="badge">{{facet.count | number}}</span>
            <span class="lbl">
              {{::facet.value | characters:45 }}
            </span>
          </li>
        </ul>
      </div>

      <div class="panel panel-default panel-facet panel-facet">
        <div class="panel-heading">
          <strong>Node categories</strong>
        </div>
        <ul class="list-group">
          <li class="list-group-item animate toggle"
            ng-repeat="facet in paths.facets.label"
            ng-class="{'active': query.hasField('label', facet.value)}"
            ng-click="query.toggle('label', facet.value)">
            <span class="badge">{{facet.count | number}}</span>
            <span class="lbl">
              {{::facet.value | characters:45 }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</collections-screen>
