<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Create a collection of documents and entities</h4>
</div>

<form class="form" role="form" name="createCollection" ng-submit="save(createCollection)">
  <div class="modal-body">

    <div class="form-group" ng-class="{'has-error': createCollection.label.$invalid}">
      <!-- label class="control-label" for="label">Label</label-->
      <div class="">
        <input type="text" class="form-control input-lg" id="label" name="label"
          ng-model="collection.label" ng-minlength="4" ng-required="true" ng-trim="true"
          placeholder="My collection">
        <p class="help-block">
          Choose a name for this project, entity watchlist or collection of documents.
        </p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label" for="summary">
        Summary
      </label>
      <div class="">
        <textarea class="form-control" id="summary" name="summary"
          ng-model="collection.summary" rows="2" maxlength="200"></textarea>
        <p class="help-block">Describe the purpose of this collection in a sentence.</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="countries">
        Countries
      </label>
      <div class="">
        <ui-select multiple ng-model="collection.countries">
          <ui-select-match placeholder="Select country...">{{$item.value}}</ui-select-match>
          <ui-select-choices repeat="country.key as (key, country) in metadata.countries | filter: {'value': $select.search}">
            <div ng-bind-html="country.value | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="!canSave()">Create</button>
  </div>
</form>

