<collections-screen collection="collection" section="documents">
  <div ng-show="isEmpty()">
    <collections-empty-teaser collection="collection"></collections-empty-teaser>
  </div>

  <div class="row" ng-show="!isEmpty()">
    <div class="col-md-8">
      <search-box query="query"></search-box>
    </div>
  </div>
  <div class="row" ng-show="!isEmpty()">
    <div class="col-md-8">
      <div ng-repeat="doc in result.results track by doc.id">
        <search-result doc="doc" result="result" query="query"></search-result>
      </div>

      <div class="bottom-pager">
        <div class="pull-right">
          <response-pager response="result" load="loadOffset(offset)"></response-pager>
        </div>
        <div class="total" ng-if="result.total">
          Found {{result.total | number}} documents.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <collections-review-teaser collection="collection"></collections-review-teaser>
      <search-facets query="query" result="result" metadata="metadata"
                     collection="collection">
      </search-facets>
    </div>
  </div>
</collections-screen>
