<collections-screen collection="collection" section="settings">
  <form class="form" role="form" name="editCollection" ng-submit="save(editCollection)">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error': editCollection.label.$invalid}">
          <label class="control-label" for="label">Label</label>
          <div class="">
            <input type="text" class="form-control input-lg" id="label" name="label" ng-model="collection.label"
              placeholder="The collections's label">
            <p class="help-block" ng-show="editCollection.label.$invalid" ng-bind="editCollection.label.$message"></p>
            <p class="help-block">Import ID: <code ng-bind="collection.foreign_id"></code>.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="summary">
            Summary
          </label>
          <div class="">
            <textarea class="form-control" id="summary" name="summary"
              ng-model="collection.summary" rows="2" maxlength="200"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="creator">Contact</label>
          <div class="">
            <div class="">
              <input type="input" class="form-control"
                placeholder="Select contact person..."
                ng-model="collection.creator" ng-required="true"
                uib-typeahead="match.name for match in suggestRole($viewValue)"
                typeahead-editable="false"
                typeahead-focus-first="true"
                typeahead-select-on-blur="true">
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="::authz.is_admin()">
          <label class="control-label" for="category">Category</label>
          <div class="">
            <select class="form-control" id="category" name="category" ng-model="collection.category"
              ng-options="slug as label for (slug, label) in categories"></select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="countries">
            Countries
          </label>
          <div class="">
            <ui-select multiple ng-model="collection.countries">
              <ui-select-match placeholder="Select country...">{{$item.value}}</ui-select-match>
              <ui-select-choices repeat="country.key as (key, country) in metadata.countries | filter: {'value': $select.search}">
                <div ng-bind-html="country.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="managed">Settings</label>
          <div class="">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="collection.managed">
                This collection is managed by a crawler.
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="collection.private">
                Exclude collection from hidden document searches.
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <label class="control-label" for="permissions">Access Control</label>
        <table class="table roles">
          <tbody ng-repeat="type in roleTypes track by type.type">
            <tr>
              <th>{{type.label}}</th>
              <th width="10%" class="numeric">
                <span ng-show="$first">View</span>
              </th>
              <th width="10%" class="numeric">
                  <span ng-show="$first">Edit</span>
              </th>
            </tr>
            <tr ng-repeat="permission in permissions | filter:{role: {type: type.type}}">
              <td>
                {{permission.role.name}}
              </td>
              <td class="numeric">
                <input type="checkbox" ng-model="permission.read" ng-change="markDirty(permission)">
              </td>
              <td class="numeric">
                <input type="checkbox" ng-model="permission.write"
                  ng-disabled="permission.role.foreign_id == 'guest'"
                  ng-change="markDirty(permission)">
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <input type="input" class="form-control"
                  placeholder="Grant access to more users..."
                  ng-model="newPermission.name"
                  uib-typeahead="match.name for match in suggestRole($viewValue)"
                  typeahead-on-select="addPermission($item, $model)"
                  typeahead-editable="false">
              </td>
              <td colspan="2">
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div ng-if="::authz.is_admin()">
          <div>
            <label class="control-label" for="managed">Admin Operations</label>
          </div>
          <button type="button" class="btn btn-primary"
                  ng-click="delete()">Delete</button>
          <button type="button" class="btn btn-primary"
                  ng-click="process()">Re-process documents</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <div>
            <label class="control-label" for="managed">&nbsp;</label>
          </div>
          <button type="submit" class="btn btn-primary">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</collections-screen>
