<collections-screen collection="collection" section="entities">
  <div ng-show="isEmpty()">
    <collections-empty-teaser collection="collection"></collections-empty-teaser>
  </div>

  <div class="row" ng-show="!isEmpty()">
    <div class="col-md-8">
      <div class="search-bar">
        <form class="form-horizontal" role="search" ng-submit="submitSearch(form)">
          <div class="input-group">
            <input type="text" class="form-control" autofocus
                   ng-model="query.state.q" placeholder="Search people and companies">
            <span class="input-group-btn">
              <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-primary dropdown-toggle"
                  uib-dropdown-toggle>
                  <!-- i class="fa fa-sort-alpha-asc" aria-hidden="true"></i-->
                  Sort
                  <i class="fa fa-caret-down"></i>
                </button>
                <ul class="uib-dropdown-menu" role="menu">
                  <li ng-repeat="(field, label) in sortOptions"
                      ng-class="{'active': query.state.sort == field || (!query.state.sort && field == 'alphabet')}">
                    <a ng-click="query.set('sort', field)"
                       ng-bind="label"></a>
                  </li>
                </ul>
              </div>
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" ng-show="!isEmpty()">
    <div class="col-md-8">
      <div class="alert alert-danger" role="alert" ng-if="result.error">
        <strong>An error occurred while running your search.</strong>
        {{result.error.message}}
      </div>

      <div class="alert alert-suggest" ng-if="result.limit > 0 && !result.total && collection.can_add">
        No entities were found,
        <a ng-href="/collections/{{::collection.id}}/entities/bulk">
          create some now</a>?
      </div>

      <div>
        <table ng-if="result.results.length" class="table table-striped">
          <tr ng-show="collection.can_edit">
            <th></th>
            <th colspan="6">
              <div class="btn-group">
                <a ng-click="removeSelection($event)" class="btn btn-default btn-xs"
                  ng-disabled="!canRemove()">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  Remove entities
                </a>
                <a ng-click="mergeSelection($event)" class="btn btn-default btn-xs"
                  ng-disabled="!canMerge()">
                  <i class="fa fa-link" aria-hidden="true"></i>
                  Merge duplicates
                </a>
              </div>
            </th>
          </tr>
          <tr ng-repeat-start="entity in result.results track by entity.id">
            <td width="1%" ng-if="authz.logged_in()">
              <input type="checkbox" ng-disabled="!authz.entityWrite(entity)" ng-model="entity.selected">
            </td>
            <td width="1%">
              <entity-icon schema="entity.schema"></entity-icon>
            </td>
            <td>
              <strong><a href="/entities/{{::entity.id}}">{{::entity.name}}</a></strong>
            </td>
            <td width="10%">
              <entity-countries entity="entity"></entity-countries>
            </td>
            <td class="numeric" width="1%">
              <button type="button" class="btn btn-default btn-xs"
                ng-click="editEntity($event, entity)"
                ng-if="authz.entityWrite(entity)">
                <i class="fa fa-cog"></i>
                Edit
              </button>
            </td>
            <td class="numeric" width="1%">
              <button type="button" class="btn btn-default btn-xs" ng-if="authz.logged_in()"
                  ng-click="toggleAlert(entity)"
                  ng-class="{'btn-primary': hasAlert(entity)}">
                <i class="fa fa-bell"></i>
                <span ng-show="hasAlert(entity)">Stop</span>
                <span ng-hide="hasAlert(entity)">Track</span>
              </button>
            </td>
            <td class="nobreak" width="1%">
              <a ng-href="/documents?filter:entities.id={{entity.id}}" ng-if="entity.doc_count">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                {{entity.doc_count | number}}
              </a>
              <span ng-if="!entity.doc_count">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> 0
              </span>
            </td>
          </tr>
          <tr ng-repeat-end ng-show="entity.data.summary">
            <td ng-if="authz.logged_in()">
            </td>
            <td>
            </td>
            <td colspan="5">
              {{::entity.data.summary | limitTo:500}}
            </td>
          </tr>
        </table>
        <div class="bottom-pager">
          <div class="pull-right">
            <response-pager response="result" load="loadOffset(offset)"></response-pager>
          </div>
          <div class="total" ng-if="result.limit > 0 && result.total">
            Found {{result.total | number}} entities.
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <collections-review-teaser collection="collection"></collections-review-teaser>

      <search-facet result="result" query="query"
                    title="Countries" facet="countries">
      </search-facet>

      <search-facet result="result" query="query"
                    title="Types" facet="schemata">
      </search-facet>
    </div>
  </div>
</collections-screen>
