<div class="screen-header">
  <div class="header-body">
    <div class="actions">
      <a ng-click="createCollection($event)" ng-if="authz.logged_in()"
         class="btn btn-default">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        Create a collection
      </a>
      <a ng-click="triggerLogin()" ng-if="!authz.logged_in()"
         class="btn btn-default">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        Sign in to create a collection
      </a>
    </div>

    <h2>
      <i class="fa fa-fw fa-address-book"></i>
      Research collections
    </h2>
  </div>
</div>


<div class="screen">
  <div class="row search-bar">
    <div class="col-md-8">
      <form class="form-horizontal" role="search" ng-submit="updateQuery()">
        <input type="text" class="form-control" autofocus ng-model="query.state.q"
                 placeholder="Search investigations and document sources">
      </form>
    </div>

    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-suggest" ng-if="!authz.logged_in()">
        Manage your research better. <a ng-click="triggerLogin()">Sign in</a>
        to upload document archives and create entity watchlists.
      </div>

      <div class="list-group">
        <a ng-repeat="collection in collections.results track by collection.id"
           ng-href="{{::collection.getPath()}}"
           class="list-group-item">
          <span class="badge" ng-if="collection.doc_count">
            <i class="fa fa-fw fa-file-text" aria-hidden="true"></i>
            {{::collection.doc_count | number}}
          </span>
          <span class="badge" ng-if="collection.entity_count">
            <i class="fa fa-fw fa-users" aria-hidden="true"></i>
            {{::collection.entity_count | number}}
          </span>
          <privacy-icon subject="collection"></privacy-icon>
          <strong class="list-group-item-heading">
            {{::collection.label}}
          </strong>
          <p class="list-group-item-text summary"
            ng-if="::collection.summary"
            ng-bind="::collection.summary">
          </p>
        </a>
      </div>

      <div class="bottom-pager">
        <div class="pull-right">
          <response-pager response="collections" load="loadOffset(offset)"></response-pager>
        </div>
        <div class="total" ng-if="collections.limit > 0 && collections.total">
          Found {{collections.total | number}} collections.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <search-facet result="collections" query="query" title="Countries"
                    facet="countries">
      </search-facet>
    </div>
  </div>
</div>
