<collections-screen collection="collection" section="leads">
  <div ng-show="isEmpty()">
    <collections-empty-teaser collection="collection"></collections-empty-teaser>
  </div>
  <div class="row" ng-show="!isEmpty()">
    <div class="col-md-9">
      <div>
        <table ng-if="result.results.length" class="table table-striped">
          <tr>
            <th>Score</th>
            <th>Searched</th>
            <th>Match</th>
            <th>Countries</th>
            <th>Source</th>
            <th></th>
          </tr>
          <tr ng-repeat="lead in result.results track by lead.id">
            <td>{{::lead.score | percentage}}%</td>
            <td>
              <entity-icon schema="::lead.entity.schema"></entity-icon>
              <a href="/entities/{{::lead.entity.id}}">
                <entity-name entity="::lead.entity"></entity-name>
              </a>
            </td>
            <td>
              <entity-icon schema="lead.match.schema"></entity-icon>
              <a href="/entities/{{::lead.match.id}}">
                <entity-name entity="::lead.match"></entity-name>
              </a>
            </td>
            <td>
              <entity-countries entity="::lead.match"></entity-countries>
            </td>
            <td>
              <entity-source entity="::lead.match" facets="::result.facets">
              </entity-source>
            </td>
            <td class="numeric">
              <div class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-default"
                        ng-click="setJudgement(lead, 1)"
                        ng-class="{'active': lead.judgement == 1}"
                        uib-tooltip="It's a match"
                        tooltip-append-to-body="true"
                        tooltip-popup-delay="500">
                  <i class="fa fa-fw fa-check"></i>
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="setJudgement(lead, 2)"
                        ng-class="{'active': lead.judgement == 2}"
                        uib-tooltip="Not the same"
                        tooltip-append-to-body="true"
                        tooltip-popup-delay="500">
                  <i class="fa fa-fw fa-close"></i>
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="setJudgement(lead, 3)"
                        ng-class="{'active': lead.judgement == 3}"
                        uib-tooltip="Unsure"
                        tooltip-append-to-body="true"
                        tooltip-popup-delay="500">
                  <i class="fa fa-fw fa-question"></i>
                </button>
              </div>
            </td>
          </tr>
        </table>
        <div class="bottom-pager">
          <div class="pull-right">
            <response-pager response="result" load="loadOffset(offset)"></response-pager>
          </div>
          <div class="total" ng-if="result.limit > 0 && result.total">
            Found {{result.total | number}} possible leads.
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <collections-review-teaser collection="collection"></collections-review-teaser>

      <search-facet result="result" query="query" title="Other collections"
                    facet="collections" filter="collection_id">
      </search-facet>

      <search-facet result="result" query="query"
                    title="Databases" facet="dataset" filter="dataset">
      </search-facet>

      <search-facet result="result" query="query"
                    title="Types" facet="schema" filter="schemata">
      </search-facet>
    </div>
  </div>
</collections-screen>
