<collections-screen collection="collection" section="networks">
  <div class="row" ng-show="!isEmpty()">
    <div class="col-md-8">
      <table class="table table-responsive table-striped">
        <tr>
          <th width="60%">Network diagram</th>
          <th class="numeric">Nodes</th>
          <th>Creator</th>
          <th></th>
        </tr>
        <tr ng-repeat="network in networks.results">
          <td>
            <a href="/collections/{{::collection.id}}/networks/{{::network.id}}">
              {{::network.label}}
            </a>
          </td>
          <td class="numeric">{{::network.nodes.length}}</td>
          <td>{{::network.creator.name}}</td>
          <td class="numeric">
            <a class="btn btn-xs btn-default" ng-click="delete(network)">
              <i class="fa fa-trash" aria-hidden="true"></i>
              Delete
            </a>
          </td>
        </tr>
      </table>
      <div class="bottom-pager">
        <div class="pull-right">
          <response-pager response="networks" load="loadOffset(offset)"></response-pager>
        </div>
        <div class="total" ng-if="::networks.total">
          Found {{::networks.total | number}} network diagrams.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info">
        <p>
          Network diagrams help to <strong>explore the connections between persons, companies,
          and documents</strong>. They provide access to corporate ownership data that has
          been loaded from external sources.
        </p>
        <p>
          <a ng-href="/collections/{{::collection.id}}/networks/new" class="btn btn-default">
            <i class="fa fa-plus" aria-hidden="true"></i>
            New network diagram
          </a>
      </div>
    </div>
  </div>
</collections-screen>
