<div ngf-drop ng-model="uploads" ngf-drag-over-class="'file-drop-area'" 
     ngf-stop-propagation="true" ngf-multiple="true" ngf-keep="'distinct'" 
     ngf-drop-disabled="!collection.can_add" id="collections-screen">
  <div id="ingest-dropzone" ng-cloak>
    <div id="ingest-dropzone-icon">
      <i class="fa fa-cloud-upload"></i>
    </div>
  </div>
  <div class="collection-header">
    <h2>
      <span ng-if="::!collection.public"
          uib-tooltip="Only available to selected users"
          tooltip-placement="right">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
      <span ng-if="::collection.public">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </span>
      <!-- span ng-if="::collection.category" class="label label-primary">
        {{::collection.category | collectionCategory }}</span-->
      {{::collection.label}}
    </h2>

    <div class="actions">
      <div class="btn-group" role="group">
        <div class="btn-group" ng-if="::collection.can_add">
          <a ng-click="ingestFiles([], $event)" class="btn btn-default">
            <i class="fa fa-cloud-upload"></i>
            Upload documents
          </a>
        </div>
        <div class="btn-group" ng-if="::collection.can_add">
          <a ng-href="/collections/{{::collection.id}}/entities/bulk"
            class="btn btn-default">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            Create entities
          </a>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{'active': section == 'documents'}">
        <a ng-href="/collections/{{::collection.id}}">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          Documents
          <span class="badge">{{::collection.doc_count | number}}</span>
        </a>
      </li>
      <li role="presentation" ng-class="{'active': section == 'entities'}">
        <a ng-href="/collections/{{::collection.id}}/entities">
          <i class="fa fa-users" aria-hidden="true"></i>
          People and Companies
          <span class="badge">{{collection.entity_count | number}}</span>
        </a>
      </li>
      <li role="presentation" ng-if="is_admin"
          ng-class="{'active': section == 'analysis'}">
        <a ng-href="/collections/{{::collection.id}}/networks">
          <i class="fa fa-map-o" aria-hidden="true"></i>
          Analysis
          <span class="label label-info">dev</span>
        </a>
      </li>
      <li role="presentation" ng-class="{'active': section == 'settings'}"
          ng-show="collection.can_edit">
        <a ng-href="/collections/{{::collection.id}}/settings">
          <i class="fa fa-cog" aria-hidden="true"></i>
          Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="screen">
    <div ng-transclude></div>
  </div>
</div>
