<div ngf-drop ng-model="uploads" ngf-drag-over-class="'file-drop-area'"
     ngf-stop-propagation="true" ngf-multiple="true" ngf-keep="'distinct'"
     ngf-model-options="{updateOn: 'drop', allowInvalid: false}"
     ngf-drop-disabled="!collection.can_add" id="collections-screen">
  <div id="ingest-dropzone" ng-cloak>
    <div id="ingest-dropzone-icon">
      <i class="fa fa-cloud-upload"></i>
    </div>
  </div>
  <div class="collection-header">
    <div class="header-body">
      <div class="actions">
        <div class="btn-group" role="group">
          <div class="btn-group" ng-if="::collection.can_add">
            <a ng-click="ingestFiles([], $event)" class="btn btn-default">
              <i class="fa fa-cloud-upload"></i>
              Upload documents
            </a>
          </div>
          <div class="btn-group" ng-if="::collection.can_add">
            <a ng-href="/collections/{{::collection.id}}/entities/bulk"
              class="btn btn-default">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              Create watchlist
            </a>
          </div>
        </div>
      </div>

      <h2>
        <collections-icon collection="collection"></collections-icon>
        {{::collection.label}}
      </h2>
    </div>
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{'active': section == 'documents', 'disabled': disable_documents}">
        <a ng-href="/collections/{{::collection.id}}">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          Documents
          <span class="badge">{{::collection.doc_count | number}}</span>
        </a>
      </li>
      <li role="presentation" ng-class="{'active': section == 'entities', 'disabled': disable_entities}">
        <a ng-href="/collections/{{::collection.id}}/entities">
          <i class="fa fa-users" aria-hidden="true"></i>
          People and Companies
          <span class="badge">{{collection.entity_count | number}}</span>
        </a>
      </li>
      <li role="presentation" ng-class="{'active': section == 'states'}"
          ng-if="::show_states">
        <a ng-href="/collections/{{::collection.id}}/states">
          <i class="fa fa-hourglass-half" aria-hidden="true"></i>
          Data Imports
          <span class="badge">{{collection.crawler_state_count | number}}</span>
        </a>
      </li>
      <li role="presentation" ng-class="{'active': section == 'settings'}"
          ng-show="collection.can_edit">
        <a ng-href="/collections/{{::collection.id}}/settings">
          <i class="fa fa-cog" aria-hidden="true"></i>
          Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="screen">
    <div ng-transclude></div>
  </div>
</div>
