<collections-screen collection="collection" section="states">
  <div ng-hide="states.total" class="row">
    <div class="col-md-6 col-md-push-3">
      <div class="alert alert-info">
        <p>
          <strong>No imports have started.</strong>
        </p>
        <p>
          <a ng-click="reload()" class="alert-link">Click here to refresh...</a>
        </p>
      </div>
    </div>
  </div>

  <table class="table table-bordered" ng-show="states.total">
    <tr>
      <th>File name</th>
      <th>Status</th>
      <th>Message</th>
      <th>Date</th>
    </tr>

    <tr ng-repeat="state in states.results" ng-class="{'warning': state.status == 'fail'}">
      <td>
        <code ng-if="state.status == 'fail'"
              ng-bind="::state.meta.file_name || state.meta.foreign_id | characters:40">
        </code>
        <code ng-if="state.status == 'ok'">
          <a ng-href="/collections/{{collection.id}}?filter:content_hash={{state.content_hash}}"
             ng-bind="::state.meta.file_name || state.meta.foreign_id | characters:40"></a>
        </code>
      </td>
      <td>
        <span ng-if="state.status == 'ok'">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
        </span>
        <span ng-if="state.status == 'fail'">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </span>
        <code ng-if="state.error_type">
          <a ng-click="showDetail(state)" ng-bind="::state.error_type"></a>
        </code>
        <span ng-if="!state.error_message" class="text-muted">ok</span>
      </td>
      <td>
          <span ng-bind="::state.error_message | characters:70"></span>
          <span ng-if="!state.error_message" class="text-muted">no message</span>
      </td>
      <td ng-bind="::state.created_at | calendar"></td>
    </tr>
  </table>

  <div class="bottom-pager" ng-show="states.total">
    <div class="pull-right">
      <response-pager response="states" load="loadOffset(offset)"></response-pager>
    </div>
    <div class="total" ng-if="!states.total">
      No import log entries were found.
    </div>
    <div class="total" ng-if="states.total">
      Found {{states.total | number}} import log entries.
    </div>
  </div>
</collections-screen>
