.PageLayout-spinner {
  // margin: 0 auto;
  padding-top: 3em;
  width: 100%;
}

.PageLayout-root {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.PageLayout-main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}
