.PageNavbar.pt-navbar {
  position: fixed;
  right: 0;
  left: 0;
  img {
    height: 32px;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
