@import "src/app/variables.scss";

.PageLayout-spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    align-self: center;
    margin: auto;
  }
}

.PageLayout-root {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.PageLayout-main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  background-color: $aleph-content-background;
  align-items: stretch;
}

.PageLayout-footer {
  background-color: $aleph-footer-background;
  border-top: 1px solid $aleph-border-color;
  
  p {
    text-align: center;
    padding: $aleph-grid-size $aleph-grid-size*2 0 $aleph-grid-size*2;
  }

  a, a:hover {
    color: inherit;
    text-decoration: underline;
  }
}
