@import "src/app/variables.scss";

.PageNavbar.pt-navbar {
  position: fixed !important;
  right: 0;
  left: 0;
  img {
    height: 32px;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .SearchFilter {
    position: absolute;
    top: $aleph-grid-size /2;
    left: $aleph-grid-size * 42;
    margin: 0;
    
    input {
      background: #fff;
      color: $pt-text-color;
      border-radius: 2px !important;
      width: $aleph-grid-size * 50 !important;
      margin-right: 10px;
    }
  }
}
