@import "src/app/variables.scss";

.PageLayout-spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    align-self: center;
    margin: auto;
  }
}

// .PageLayout-root {}

.PageLayout-main {
  display: flex;
  min-height: 90vh;
  background-color: $aleph-content-background;
  align-items: stretch;
}

.PageLayout-footer {
  color: $aleph-dark-text-color;
  
  p {
    text-align: right;
    padding: $aleph-grid-size * 2;
  }

  a, a:hover {
    color: inherit;
    text-decoration: underline;
  }
}
