{% extends "email/layout.html" %}

{% block content -%}
  <p>
    {% trans expires_at=(expires_at | datetimeformat) -%}
    Your API key will expire in 7 days, on {{expires_at}} UTC.
    {%- endtrans %}
  </p>

  <p>
    {% trans settings_url=settings_url -%}
    If you do not use the Aleph API you can ignore this email. If you use the Aleph API you will need to <a href="{{settings_url}}">regenerate your API key</a> and update any applications or scripts that use your API key.
    {%- endtrans %}
  </p>
{%- endblock %}