{% extends "email/layout.html" %}

{% block content -%}
  <p>
    {% trans expires_at=(expires_at | datetimeformat) -%}
    Your Aleph API key will expire in 7 days, on {{expires_at}} UTC.
    {%- endtrans %}
  </p>

  <p>
    {% trans settings_url=settings_url -%}
    If you do not use the Aleph API, or only use the API to access public data you can ignore this email. If you use the Aleph API to access data that is not publicly accessible then you’ll need to <a href="{{settings_url}}">regenerate your API key</a> to maintain access.
    {%- endtrans %}
  </p>
{%- endblock %}