{% extends "email/layout.html" %}

{% block content %}
  <p>
  {% if not post.read %}
    Your access to the collection {{collection.label}} has been revoked.
  {% elif not pre or not pre.read %}
    You've been granted read{% if post.write %} and write{% endif %}
    access to the collection <a href="{{url}}">{{collection.label}}</a>.
    <br><br>
    Visit: <a href="{{url}}">{{url}}</a>
  {% else %}
    You now have {% if post.write %}write{% else %}read-only{% endif %}
    access to the collection <a href="{{url}}">{{collection.label}}</a>.
    <br><br>
    Visit: <a href="{{url}}">{{url}}</a>
  {% endif %}
  </p>
{% endblock %}
