name: Auto Assign to Project(s)

on:
  issues:
    types: [opened, labeled]
  pull_request:
    types: [opened, labeled]
  issue_comment:
    types: [created]
env:
  GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to Aleph
    steps:
    - name: Assign NEW issues and NEW pull requests to aleph
      uses: srggrs/assign-one-project-github-action@1.3.1
      with:
        project: 'https://github.com/orgs/alephdata/projects/10'
        column_name: 'Triage'
