name: Auto Assign to Project

on:
  issues:
    types: [opened, labeled]
  pull_request_target:
    types: [opened, labeled]
env:
  MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to One Project
    steps:
    - name: Assign NEW issues and NEW pull requests to Aleph project
      uses: srggrs/assign-one-project-github-action@1.3.1
      
      if: github.event.action == 'opened'
      with:
        project: 'https://github.com/orgs/alephdata/projects/10'
