name: Run linter & formatting check

on:
  pull_request:
    paths-ignore:
      - "ui/**"
      - "docs/**"

jobs:
  check-formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install development dependencies
        run: make dev

      - name: Check code formatting
        run: make format-check

      - name: Run linter
        run: make lint
