@import "src/app/variables.scss";
$internal-spacing: 6px;

.MappingVerify {
  &__item {
    border: 1px solid;
    box-shadow: none !important;
    margin: 10px 0;
  }
  &__section {
    margin-top: 20px;
    &__title {
      font-weight: 500;
    }

    &__value {
      margin-left: $internal-spacing;
    }
  }

  &__list {
    margin: 3px 0;
    padding-left: 0;
    list-style-type: none;
    list-style-position: inside;
  }

  &__listItem {
    margin: $internal-spacing 0;
    &__label {
      margin-left: $internal-spacing;
    }
    &__value {
      margin-left: $internal-spacing;

      .bp3-input-group {
        display: inline-block;
      }
    }
  }
}
