@import "src/app/variables.scss";

.MappingStatus {
  margin: 25px 0 0;
  display: inline-block;
  width: auto !important;

  &__statusItem {
    span {
      font-weight: normal;
      margin: 0 2px;
    }
  }
}
